SignOwn/XSDs/ActualQuestionnairesUnion.uk-UA.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ActualQuestionnairesUnion" nillable="true" type="ActualQuestionnairesUnion" />
  <xs:complexType name="ActualQuestionnairesUnion" hideFromHtml="true">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Appx2" type="RegLicAppx2OwnershipAcqRequestLP" field_order="1" />
      <xs:element minOccurs="0" maxOccurs="1" name="Appx3" type="RegLicAppx3MemberCandidateAppl" field_order="2" />
      <xs:element minOccurs="0" maxOccurs="1" name="Appx4" type="RegLicAppx4OwnershipAcqRequestPP" field_order="3" />
      <xs:element minOccurs="0" maxOccurs="1" name="Appx12" type="RegLicAppx12HeadCandidateAppl" field_order="4" />
      <xs:element minOccurs="0" maxOccurs="1" name="Appx14" type="RegLicAppx14NewSvc" field_order="5" />
      <xs:element minOccurs="0" maxOccurs="1" name="Appx9" type="RegLicAppx9BankingLicenseAppl" field_order="6" />
    </xs:sequence>
  </xs:complexType>
  <xs:include schemaLocation="RegLicAppx2OwnershipAcqRequestLP.uk-UA.xsd" />
  <xs:include schemaLocation="QuestionnaireBase.uk-UA.xsd" />
  <xs:include schemaLocation="NotifyPropertyChangedBase.uk-UA.xsd" />
  <xs:include schemaLocation="UniversityOrCollegeInfo.uk-UA.xsd" />
  <xs:include schemaLocation="LocationInfo.uk-UA.xsd" />
  <xs:include schemaLocation="CountryInfo.uk-UA.xsd" />
  <xs:include schemaLocation="PersonBusinessReputationInfo.uk-UA.xsd" />
  <xs:include schemaLocation="GenericPersonID.uk-UA.xsd" />
  <xs:include schemaLocation="EntityType.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfLoanInfo.uk-UA.xsd" />
  <xs:include schemaLocation="LoanInfo.uk-UA.xsd" />
  <xs:include schemaLocation="IndebtnessInfoBase.uk-UA.xsd" />
  <xs:include schemaLocation="CurrencyAmount.uk-UA.xsd" />
  <xs:include schemaLocation="IndebtnessInfo.uk-UA.xsd" />
  <xs:include schemaLocation="BankInfo.uk-UA.xsd" />
  <xs:include schemaLocation="ImperfectBusinessReputationInfo.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfBankruptcyInvestigationInfo.uk-UA.xsd" />
  <xs:include schemaLocation="BankruptcyInvestigationInfo.uk-UA.xsd" />
  <xs:include schemaLocation="BankruptcyCaseResolutionType.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfCourtDecisionInfo.uk-UA.xsd" />
  <xs:include schemaLocation="CourtDecisionInfo.uk-UA.xsd" />
  <xs:include schemaLocation="CourtInfo.uk-UA.xsd" />
  <xs:include schemaLocation="CourtInstanceType.uk-UA.xsd" />
  <xs:include schemaLocation="CourtDecisionType.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfIndebtnessInfo.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfBreachOfLawRecordInfo.uk-UA.xsd" />
  <xs:include schemaLocation="BreachOfLawRecordInfo.uk-UA.xsd" />
  <xs:include schemaLocation="BreachOfLawType.uk-UA.xsd" />
  <xs:include schemaLocation="SentenceType.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfLiquidatedEntityOwnershipInfo.uk-UA.xsd" />
  <xs:include schemaLocation="LiquidatedEntityOwnershipInfo.uk-UA.xsd" />
  <xs:include schemaLocation="LiquidatedOrInsolventEntityInfoBase.uk-UA.xsd" />
  <xs:include schemaLocation="InsolvencyStatus.uk-UA.xsd" />
  <xs:include schemaLocation="LiquidatedOrInsolventEntityMgmtRecordInfo.uk-UA.xsd" />
  <xs:include schemaLocation="ManagementPosition.uk-UA.xsd" />
  <xs:include schemaLocation="TotalOwnershipDetailsInfo.uk-UA.xsd" />
  <xs:include schemaLocation="OwnershipSummaryInfo.uk-UA.xsd" />
  <xs:include schemaLocation="OwnershipVotesInfo.uk-UA.xsd" />
  <xs:include schemaLocation="EmploymentRecordInfo.uk-UA.xsd" />
  <xs:include schemaLocation="EmploymentState.uk-UA.xsd" />
  <xs:include schemaLocation="EconomicActivityType.uk-UA.xsd" />
  <xs:include schemaLocation="EmploymentTerminationType.uk-UA.xsd" />
  <xs:include schemaLocation="ContactInfo.uk-UA.xsd" />
  <xs:include schemaLocation="PhysicalPersonInfo.uk-UA.xsd" />
  <xs:include schemaLocation="IPNRefusalRecordInfo.uk-UA.xsd" />
  <xs:include schemaLocation="SignatoryInfo.uk-UA.xsd" />
  <xs:include schemaLocation="PowerOfAttorneyInfo.uk-UA.xsd" />
  <xs:include schemaLocation="RegistrarAuthority.uk-UA.xsd" />
  <xs:include schemaLocation="SexType.uk-UA.xsd" />
  <xs:include schemaLocation="MeansOfCommunication.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfPhoneInfo.uk-UA.xsd" />
  <xs:include schemaLocation="PhoneInfo.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfEmailInfo.uk-UA.xsd" />
  <xs:include schemaLocation="EmailInfo.uk-UA.xsd" />
  <xs:include schemaLocation="PersonsAssociation.uk-UA.xsd" />
  <xs:include schemaLocation="PersonAssociationType.uk-UA.xsd" />
  <xs:include schemaLocation="AssociatedPersonRole.uk-UA.xsd" />
  <xs:include schemaLocation="LegalPersonInfo.uk-UA.xsd" />
  <xs:include schemaLocation="OwnershipFormType.uk-UA.xsd" />
  <xs:include schemaLocation="LPRegisteredDateRecordId.uk-UA.xsd" />
  <xs:include schemaLocation="StockExchangeListingInfo.uk-UA.xsd" />
  <xs:include schemaLocation="StockExchangeInfo.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfEconomicActivityType.uk-UA.xsd" />
  <xs:include schemaLocation="GenericPersonInfo.uk-UA.xsd" />
  <xs:include schemaLocation="IncomeOriginInfo.uk-UA.xsd" />
  <xs:include schemaLocation="FundsOriginType.uk-UA.xsd" />
  <xs:include schemaLocation="LegalTransactionPartyInfo.uk-UA.xsd" />
  <xs:include schemaLocation="LegalTransactionPartyRoleType.uk-UA.xsd" />
  <xs:include schemaLocation="LegalTransactionInfo.uk-UA.xsd" />
  <xs:include schemaLocation="LegalTransactionType.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfLegalTransactionPartyInfo.uk-UA.xsd" />
  <xs:include schemaLocation="SignificantOwnershipAcquisitionWaysInfo.uk-UA.xsd" />
  <xs:include schemaLocation="FinancialOversightAuthorityInfo.uk-UA.xsd" />
  <xs:include schemaLocation="RatingAgencyInfo.uk-UA.xsd" />
  <xs:include schemaLocation="CreditRatingInfo.uk-UA.xsd" />
  <xs:include schemaLocation="WellKnownCreditRatingAgencyType.uk-UA.xsd" />
  <xs:include schemaLocation="LongTermCreditRatingType.uk-UA.xsd" />
  <xs:include schemaLocation="ShortTermCreditRatingType.uk-UA.xsd" />
  <xs:include schemaLocation="RegLicAppx14NewSvc.uk-UA.xsd" />
  <xs:include schemaLocation="BankingLicenseInfo.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfBankingLicensedActivityInfo.uk-UA.xsd" />
  <xs:include schemaLocation="BankingLicensedActivityInfo.uk-UA.xsd" />
  <xs:include schemaLocation="LicensedOperationType.uk-UA.xsd" />
  <xs:include schemaLocation="BankingActivityType.uk-UA.xsd" />
  <xs:include schemaLocation="FinancialServicesType.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfAttachmentInfo.uk-UA.xsd" />
  <xs:include schemaLocation="AttachmentInfo.uk-UA.xsd" />
  <xs:include schemaLocation="TypicalApplicationAttachement.uk-UA.xsd" />
  <xs:include schemaLocation="RegLicAppx4OwnershipAcqRequestPP.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfEmploymentRecordInfo.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfBankAccountInfo.uk-UA.xsd" />
  <xs:include schemaLocation="BankAccountInfo.uk-UA.xsd" />
  <xs:include schemaLocation="TotalOwnershipSummaryInfo.uk-UA.xsd" />
  <xs:include schemaLocation="BankAssociatedPersonsCode315p.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfIPOSharesPurchaseInfo.uk-UA.xsd" />
  <xs:include schemaLocation="IPOSharesPurchaseInfo.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfPaymentDeadlineInfo.uk-UA.xsd" />
  <xs:include schemaLocation="PaymentDeadlineInfo.uk-UA.xsd" />
  <xs:include schemaLocation="SecondaryMarketSharesPurchaseInfo.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfSecondaryMarketSharesPurchaseInfo.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfPowerOfAttorneySharesPurchaseInfo.uk-UA.xsd" />
  <xs:include schemaLocation="PowerOfAttorneySharesPurchaseInfo.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfSignificantOrDecisiveInfulenceInfo.uk-UA.xsd" />
  <xs:include schemaLocation="SignificantOrDecisiveInfulenceInfo.uk-UA.xsd" />
  <xs:include schemaLocation="InfluenceType.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfIncomeOriginInfo.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfPersonsAssociation.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfOwnershipStructure.uk-UA.xsd" />
  <xs:include schemaLocation="OwnershipStructure.uk-UA.xsd" />
  <xs:include schemaLocation="OwnershipType.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfCouncilBodyInfo.uk-UA.xsd" />
  <xs:include schemaLocation="CouncilBodyInfo.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfCouncilMemberInfo.uk-UA.xsd" />
  <xs:include schemaLocation="CouncilMemberInfo.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfFinancialGuaranteeInfo.uk-UA.xsd" />
  <xs:include schemaLocation="FinancialGuaranteeInfo.uk-UA.xsd" />
  <xs:include schemaLocation="FinancialGuarantorRoleType.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfGenericPersonInfo.uk-UA.xsd" />
  <xs:include schemaLocation="RegLicAppx3MemberCandidateAppl.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfPersonEmploymentRecordsInfo.uk-UA.xsd" />
  <xs:include schemaLocation="PersonEmploymentRecordsInfo.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfPersonBankAssociationInfo.uk-UA.xsd" />
  <xs:include schemaLocation="PersonBankAssociationInfo.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfPersonBusinessReputationInfo.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfCreditRatingInfo.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfFinancialOversightAuthorityInfo.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfMissingInformationResonInfo.uk-UA.xsd" />
  <xs:include schemaLocation="MissingInformationResonInfo.uk-UA.xsd" />
  <xs:include schemaLocation="RegLicAppx12HeadCandidateAppl.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfEducationRecordInfo.uk-UA.xsd" />
  <xs:include schemaLocation="EducationRecordInfo.uk-UA.xsd" />
  <xs:include schemaLocation="HigherEducationDegreeType.uk-UA.xsd" />
  <xs:include schemaLocation="DegreeHonourType.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfGenericPersonID.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfBankInfo.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfLiquidatedOrInsolventEntityMgmtRecordInfo.uk-UA.xsd" />
  <xs:include schemaLocation="RegLicAppx9BankingLicenseAppl.uk-UA.xsd" />
</xs:schema>