SignOwn/XSDs/ActualQuestionnairesUnion.full.uk-UA.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ActualQuestionnairesUnion" nillable="true" type="ActualQuestionnairesUnion" />
  <xs:complexType name="ActualQuestionnairesUnion" hideFromHtml="true">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Appx2" type="RegLicAppx2OwnershipAcqRequestLP" field_order="1" />
      <xs:element minOccurs="0" maxOccurs="1" name="Appx3" type="RegLicAppx3MemberCandidateAppl" field_order="2" />
      <xs:element minOccurs="0" maxOccurs="1" name="Appx4" type="RegLicAppx4OwnershipAcqRequestPP" field_order="3" />
      <xs:element minOccurs="0" maxOccurs="1" name="Appx12" type="RegLicAppx12HeadCandidateAppl" field_order="4" />
      <xs:element minOccurs="0" maxOccurs="1" name="Appx14" type="RegLicAppx14NewSvc" field_order="5" />
      <xs:element minOccurs="0" maxOccurs="1" name="Appx9" type="RegLicAppx9BankingLicenseAppl" field_order="6" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegLicAppx2OwnershipAcqRequestLP">
    <xs:annotation>
      <xs:documentation>АНКЕТА юридичної особи (у тому числі банку)
            Додаток 2 до Положення про порядок реєстрації та ліцензування банків, відкриття відокремлених підрозділів
            file                                  : f364524n1227.doc
            Рівень складності                     : 10
            (оціночний, шкала від 1 до 10)
            Пріоритетність                        : Hi  (Легенда: Hi - Висока, Lo - Низька, Mid - Середня, Hold - Поки що притримати)
            Подавач анкети                        : LP (Легенда: LP - юр.особа, PP - фіз.особа, BK - банк)
            Чи заповнюватиметься он-лайн          : Так
            Первинну розробку структури завершено : Ні
            Структуру фіналізовано                : Ні
            (=остаточно узгоджено 
            з бізнес-користувачами)</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="QuestionnaireBase">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="BankRef" type="BankInfo" displayName="Повне офіційне найменування банку" description="стосовно участі в ..." field_order="1">
            <xs:annotation>
              <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!

            стосовно участі в ___________________________________
            (повне офіційне найменування банку)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="Acquiree" type="GenericPersonID" displayName="Юр.особа-заявник" description="1. Інформація про юридичну особу" category="І. Інформація про юридичну особу" field_order="2">
            <xs:annotation>
              <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!

            І. Інформація про юридичну особу
            
            1. Повне та скорочене найменування ________________________________________________________________
            2. Ідентифікаційні дані:
            ---- 
            Самі реквізити мають потрапити до MentionedIdentities</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="CreditRatingGrade" type="ArrayOfCreditRatingInfo" displayName="2. Ідентифікаційні дані::Рейтингова оцінка" description="(за рейтингом, який підтверджений у бюлетені, однієї з провідних рейтингових компаній IBCA,Standart &amp; Poor's, Moody's)" category="І. Інформація про юридичну особу" field_order="3">
            <xs:annotation>
              <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="IsNonResidentLicenseRequired" type="xs:boolean" type_ukr="логічний тип(так/ні)" displayName="3.4. Потрібен дозвіл державного органу (для іноземців)" description="3.4 (Нерезидентам) Для набуття (збільшення) участі в банку потрібно отримувати дозівл іноземного державного контролюючого органу(-ів)?" category="І. Інформація про юридичну особу" field_order="4" />
          <xs:element minOccurs="0" maxOccurs="1" name="ForeignOwnAcqLicensingAuthority" type="ArrayOfFinancialOversightAuthorityInfo" displayName="3.4. Державний дозвільний орган (для іноземців)" description="3. Найменування іноземного державного контролюючого органу, що дає дозвіл на набуття (збільшення) участі в банку (для іноземців)" category="І. Інформація про юридичну особу" field_order="5">
            <xs:annotation>
              <xs:documentation>3. Відомості про державну реєстрацію юридичної особи та відносини з контролюючими державними органами
            Найменування іноземного державного
            контролюючого органу, що дає дозвіл
            на набуття (збільшення) участі в банку
            (для іноземців)
            Державний орган, що здійснює
            нагляд за діяльністю юридичної
            особи (для осіб, які здійснюють
            регульовану діяльність)
            -----
            Орган, що здійснив державну реєстрацію - див. у полі Acquiree</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="StateRegulatorAuthorities" type="ArrayOfFinancialOversightAuthorityInfo" displayName="3. (4-5) Державний(-і) наглядовий(-і) орган(-и)" description="3. Відомості про державну реєстрацію юридичної особи та відносини з контролюючими державними органами" category="І. Інформація про юридичну особу" field_order="6">
            <xs:annotation>
              <xs:documentation>3. Відомості про державну реєстрацію юридичної особи та відносини з контролюючими державними органами
            Найменування іноземного державного
            контролюючого органу, що дає дозвіл
            на набуття (збільшення) участі в банку
            (для іноземців)
            Державний орган, що здійснює
            нагляд за діяльністю юридичної
            особи (для осіб, які здійснюють
            регульовану діяльність)
            -----
            Орган, що здійснив державну реєстрацію - див. у полі Acquiree</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="TotalExistingOwnershipWithBank" type="TotalOwnershipSummaryInfo" displayName="5. Наявна участь юридичної особи в банку" description="5. Інформація про розмір наявної участі юридичної особи в банку" field_order="7">
            <xs:annotation>
              <xs:documentation>3. Відомості про державну реєстрацію юридичної особи та відносини з контролюючими державними органами
            _______________________________________________________________________________.
                       (найменування органу)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="AccountsWithBanks" type="ArrayOfBankAccountInfo" displayName="4. Банківські рахунки юридичної особи" description="(не заповнюється банками)" category="І. Інформація про юридичну особу" field_order="8">
            <xs:annotation>
              <xs:documentation>Поле обов'язкове, лише якщо заявник не є банком.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="TotalOwnershipWithBankDiff" type="TotalOwnershipSummaryInfo" displayName="6. Наміри щодо набуття/збільшення участі" description="6. Інформація про розмір участі, що набувається (збільшується): Наміри щодо набуття/збільшення участі в банку" category="ІІ. Інформація про наміри щодо набуття (збільшення) істотної участі в банку" field_order="9">
            <xs:annotation>
              <xs:documentation>6. Інформація про розмір участі, що набувається (збільшується):
            Наміри щодо набуття/збільшення участі в банку</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="TotalTargetedOwnershipWithBank" type="TotalOwnershipSummaryInfo" displayName="6. Майбутня участь особи в банку" description="6. Інформація про розмір участі, що набувається (збільшується): Майбутня участь особи в банку з урахуванням намірів щодо набуття/збільшення істотної участі" category="ІІ. Інформація про наміри щодо набуття (збільшення) істотної участі в банку" field_order="10">
            <xs:annotation>
              <xs:documentation>6. Інформація про розмір участі, що набувається (збільшується):
            Майбутня участь особи в банку з урахуванням намірів щодо набуття/збільшення істотної участі</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="AcquisitionWays" type="SignificantOwnershipAcquisitionWaysInfo" displayName="7. Спосіб(-оби) набуття/збільшення істотної участі в банку" description="7. Набуття/збільшення істотної участі в банку відбуватиметься у спосіб (зазначити необхідне)" category="ІІ. Інформація про наміри щодо набуття (збільшення) істотної участі в банку" field_order="11">
            <xs:annotation>
              <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!

            7. Набуття/збільшення істотної участі в банку відбуватиметься у спосіб (зазначити необхідне):
            
            придбання акцій (паїв) банку на первинному ринку;
            придбання акцій (паїв) банку на вторинному ринку;
            набуття/збільшення істотної участі в банку опосередковано шляхом придбання корпоративних прав юридичних осіб у структурі власності банку;
            набуття/збільшення істотної участі в банку у зв’язку з передаванням права голосу за довіреністю;
            набуття опосередкованої істотної участі в банку у зв’язку із здійсненням значного або вирішального впливу на управління та діяльність банку незалежно від формального володіння.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="IPOPurchase" type="ArrayOfIPOSharesPurchaseInfo" displayName="Придбання на первинному ринку" description="8. Інформація про намір щодо придбання акцій (паїв) банку на первинному ринку:" category="ІІ. Інформація про наміри щодо набуття (збільшення) істотної участі в банку" field_order="12">
            <xs:annotation>
              <xs:documentation>(!)ПОЛЕ ОБОВ'ЯЗКОВЕ ЗА УМОВИ(!):
   AcquisitionWays.IsIPO == true</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="SecondaryMarketPurchases" type="ArrayOfSecondaryMarketSharesPurchaseInfo" displayName="9. Придбання на вторинному ринку" description="9. Інформація про намір щодо придбання акцій (паїв) банку на вторинному ринку та/або стосовно правочинів щодо набуття (збільшення) опосередкованої участі в банку (крім набуття істотної участі в результаті передавання особі права голосу або незалежно від формального володіння)" category="ІІ. Інформація про наміри щодо набуття (збільшення) істотної участі в банку" field_order="13">
            <xs:annotation>
              <xs:documentation>(!)ПОЛЕ ОБОВ'ЯЗКОВЕ ЗА УМОВИ(!):
   AcquisitionWays.IsSecondaryMarketPurchase == true || AcquisitionWays.IsPurchaseByImplicitOwnership == true</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="AquisitionByPoAttorneys" type="ArrayOfPowerOfAttorneySharesPurchaseInfo" displayName="10. Набуття за довіреністю" description="10. Інформація про намір щодо набуття опосередкованої істотної участі в банку за довіреністю" category="ІІ. Інформація про наміри щодо набуття (збільшення) істотної участі в банку" field_order="14">
            <xs:annotation>
              <xs:documentation>(!)ПОЛЕ ОБОВ'ЯЗКОВЕ ЗА УМОВИ(!):
   AcquisitionWays.IsPurchaseByPowOfAtt == true</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="AquisitionByInfluence" type="ArrayOfSignificantOrDecisiveInfulenceInfo" displayName="11. Набуття у зв’язку із здійсненням впливу" description="11. Інформація про набуття опосередкованої істотної участі в банку у зв’язку із здійсненням значного або вирішального впливу на управління та діяльність банку незалежно від формального володіння" category="ІІ. Інформація про наміри щодо набуття (збільшення) істотної участі в банку" field_order="15">
            <xs:annotation>
              <xs:documentation>(!)ПОЛЕ ОБОВ'ЯЗКОВЕ ЗА УМОВИ(!):
   AcquisitionWays.IsAcquireByImplicitInfluence == true</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="FundsOrigin" type="ArrayOfIncomeOriginInfo" displayName="12. Джерела  походження коштів юридичної особи" description="12. Джерела походження коштів юридичної особи, за рахунок яких набуватиметься істотна участь у банку" category="ІІ. Інформація про наміри щодо набуття (збільшення) істотної участі в банку" field_order="16">
            <xs:annotation>
              <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!

            12. Джерела походження коштів юридичної особи, за рахунок яких набуватиметься істотна участь у банку,
            _______________________________________________________________________________________________________.
            (прибуток, частина статутного капіталу, кошти фонду тощо)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="ExistingOwnershipDetailsHive" type="ArrayOfOwnershipStructure" displayName="13, 14, 15. Розшифровка ланцюжків власності" description="Розшифровка ланцюжків власності усіх структур-фігурантів анкети:&#xA; 13. Перелік юридичних осіб, у тому числі банків, в яких юридична особа має істотну участь або є ключовим учасником&#xA; 14. Інформація про фізичних осіб, які володіють істотною участю в цій юридичній особі або є ключовими учасниками юридичної особи&#xA; 15. Інформація про юридичних осіб, які володіють істотною участю в цій юридичній особі або є ключовими учасниками юридичної особи" category="ІІІ. Відносини юридичної особи з іншими особами" field_order="17">
            <xs:annotation>
              <xs:documentation>13. Перелік юридичних осіб, у тому числі банків, в яких юридична особа має істотну участь або є ключовим учасником
            14. Інформація про фізичних осіб, які володіють істотною участю в цій юридичній особі або є ключовими учасниками юридичної особи
            15. Інформація про юридичних осіб, які володіють істотною участю в цій юридичній особі або є ключовими учасниками юридичної особи
            ----
            Доцільно розшифровку ланцюжків власності усіх структур, що фігурують в анкеті, скласти в це одне поле, оскільки не виключено, що власники-юр.особи повторюватимуться/фігуруватимуть в різних іпостасях в усіх 3-х пунктах (себто, і 13, і 14, і 15)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="HasOutstandingLoansWithBanks" type="xs:boolean" type_ukr="логічний тип(так/ні)" displayName="16. Чи є кредити, одержані й непогашені юридичною  особою  в  банках?" description="(Станом на дату подання анкети)" category="IV. Ділова репутація" field_order="18">
            <xs:annotation>
              <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!

            16. Інформація про кредити, одержані юридичною особою:</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="OutstandingLoansWithBanksDetails" type="ArrayOfLoanInfo" displayName="16. Інформація про кредити, одержані юридичною особою" description="(номер і дата договору про надання кредиту, сума кредиту, термін погашення кредиту, сума заборгованості за договором на дату подання анкети)" category="IV. Ділова репутація" field_order="19">
            <xs:annotation>
              <xs:documentation>(!)ПОЛЕ ОБОВ'ЯЗКОВЕ ЗА УМОВИ(!):
   HasOutstandingLoansWithBanks == true

            16. Інформація про кредити, одержані юридичною особою:</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="HasNoImperfectReputationSigns" type="xs:boolean" type_ukr="логічний тип(так/ні)" displayName="17. Стверджую, що немає ознак відсутності бездоганної ділової репутації" description="Стверджую, що немає ознак відсутності бездоганної ділової репутації стосовно _______ (зазначається повне найменування юридичної особи" category="IV. Ділова репутація" field_order="20">
            <xs:annotation>
              <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!

            17. Чи є щодо юридичної особи ознаки відсутності бездоганної ділової репутації, визначені нормативно-правовим
            актом Національного банку України про порядок реєстрації та ліцензування банків [якщо таких ознак немає, то
            зазначається “Стверджую, що немає ознак відсутності бездоганної ділової репутації стосовно _______ (зазначається
            повне найменування юридичної особи)”; якщо такі ознаки є, то здійснюється опис ознаки (ознак) відсутності
            бездоганної ділової репутації].</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="ImperfectReputationDetails" type="ImperfectBusinessReputationInfo" displayName="17. Ознаки відсутності бездоганної ділової репутації" description="Опис наявних ознак відсутності бездоганної ділової репутації" category="IV. Ділова репутація" field_order="21">
            <xs:annotation>
              <xs:documentation>(!)ПОЛЕ ОБОВ'ЯЗКОВЕ ЗА УМОВИ(!):
   HasNoImperfectReputationSigns == false

            17. Якщо щодо юридичної особи є ознаки відсутності бездоганної ділової репутації, визначені нормативно-правовим
            актом Національного банку України про порядок реєстрації та ліцензування банків, то здійснюється опис ознаки (ознак) відсутності
            бездоганної ділової репутації].</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="IsAMLEtcLegislationKept" type="xs:boolean" type_ukr="логічний тип(так/ні)" displayName="18. Вимоги законодавства дотримано" description="18. Стверджую, що юридична особа _______ (зазначається повне найменування юридичної особи) належним чином виконує вимоги законодавства України або законодавства країни свого громадянства з питань запобігання та протидії легалізації (відмиванню) доходів, одержаних злочинним шляхом, та фінансування тероризму." category="IV. Ділова репутація" field_order="22">
            <xs:annotation>
              <xs:documentation>18. Стверджую, що юридична особа _______ (зазначається повне найменування юридичної особи) належним чином
            виконує вимоги законодавства України або законодавства країни свого громадянства з питань запобігання та протидії
            легалізації (відмиванню) доходів, одержаних злочинним шляхом, та фінансування тероризму.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="IsApplicationInfoAccurateAndTrue" type="xs:boolean" type_ukr="логічний тип(так/ні)" displayName="Підтверджую правдивість інформації?" description="Стверджую, що інформація, зазначена в анкеті, є правдивою і повною, та не заперечую проти перевірки Національним банком України її достовірності та повноти." category="Підписи і т.п." field_order="23">
            <xs:annotation>
              <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!

            Стверджую, що інформація, зазначена в анкеті, є правдивою і повною, та не заперечую проти перевірки
            Національним банком України її достовірності та повноти.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="MissingInformationResons" type="ArrayOfMissingInformationReasonInfo" displayName="Примітка. Якщо немає змоги надати інформацію за відповідними пунктами анкети, то слід зазначити причину." description="..." category="Підписи і т.п." field_order="24">
            <xs:annotation>
              <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!

            Примітка. Якщо немає змоги надати інформацію за відповідними пунктами анкети, то слід зазначити причину.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="Signatory" type="SignatoryInfo" displayName="Підписант" description="Відомості про особу, що підписала анкету" category="Підписи і т.п." field_order="25">
            <xs:annotation>
              <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!

            ____________________       __________________________    _______________________________
             (дата підписання анкети) (підпис уповноваженої особи    (прізвище та ініціали уповноваженої особи
                                         юридичної особи)             юридичної особи, її посада в юридичній особі
                                                                      або реквізити довіреності представника за
                                                                      довіреністю)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="ContactPerson" type="ContactInfo" displayName="Контакти" description="Контактні дані відправника анкети" category="Підписи і т.п." field_order="26">
            <xs:annotation>
              <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!

            Прізвище, ім'я, по батькові контактної особи ___________________.
            
            Номер телефону та факсу ________________________________________.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="MentionedIdentities" type="ArrayOfGenericPersonInfo" displayName="Реквізити осіб-фігурантів анкети" description="Повні реквізити юридичних та фізичних осіб, що згадуються в розділах анкети" field_order="27">
            <xs:annotation>
              <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!

            Реквізити осіб-фігурантів анкети</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="PersonsLinks" type="ArrayOfPersonsAssociation" displayName="Зв'язки між фігурантами анкети" description="Опис зв'язків між фізичними та юридичними особами, що згадуються в розділах анкети" category="ІІІ. Відносини юридичної особи з іншими особами" field_order="28">
            <xs:annotation>
              <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!

            Зв'язки між фігурантами анкети</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RegLicAppx14NewSvc">
    <xs:annotation>
      <xs:documentation>ПОВІДОМЛЕННЯ банку про початок нового виду діяльності або надання нового виду фінансових послуг
            Додаток 14 до Положення про порядок реєстрації та ліцензування банків, відкриття відокремлених підрозділів
            file                                  : f364524n1035.doc
            Рівень складності                     : 3
            (оціночний, шкала від 1 до 10)
            Пріоритетність                        : Hi  (Легенда: Hi - Висока, Lo - Низька, Mid - Середня, Hold - Поки що притримати)
            Подавач анкети                        : BK (Легенда: LP - юр.особа, PP - фіз.особа, BK - банк)
            Чи заповнюватиметься он-лайн          : Під питанням
            Первинну розробку структури завершено : Так
            Структуру фіналізовано                : Ні
            (=остаточно узгоджено 
            з бізнес-користувачами)</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="QuestionnaireBase">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="QuestDate" type="xs:dateTime" type_ukr="дата і час" displayName="Дата заявки" description="Дата" field_order="1">
            <xs:annotation>
              <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="Ref" type="xs:string" type_ukr="текст" displayName="№ (Ваш висх.)" description="номер" field_order="2" />
          <xs:element minOccurs="1" maxOccurs="1" name="BankRef" type="BankInfo" displayName="Банк (назва та ін. реквізити)" description="Ідентифікація банку, що подає заявку" field_order="3">
            <xs:annotation>
              <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!

            Тільки укр. банки, лише головні</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="ExistingLicenseSpecs" type="BankingLicenseInfo" displayName="Діюча банківська ліцензія (реквізити)" description="має  банківську ліцензію" field_order="4">
            <xs:annotation>
              <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="NewActivitiesList" type="ArrayOfBankingLicensedActivityInfo" displayName="Перелік нових видів фінпослуг" description="перелік нових видів діяльності або нових видів фінансових послуг" field_order="5">
            <xs:annotation>
              <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!

            Контрол для заповнення - два listbox-а, drag у один listbox</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="HasSufficientFinancialCapacity" type="xs:boolean" type_ukr="логічний тип(так/ні)" displayName="Фінансові можливості наявні?" description="Банк має достатні фінансові  можливості  для  початку  нового виду діяльності та/або виду фінансових послуг,  зазначених у цьому повідомленні" field_order="6">
            <xs:annotation>
              <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="MonthsWOLosses" type="xs:int" type_ukr="ціле число" displayName="Тривалість беззбиткового періоду (міс.)" description="Банк не має збитків протягом останніх ... місяців" field_order="7">
            <xs:annotation>
              <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="HasFormedEnoughFundsAndReserves" type="xs:boolean" type_ukr="логічний тип(так/ні)" displayName="Формування фондів та резервів відповідає/не відповідає...?" description="Банк сформував фонди та резерви відповідно до вимог законодавства України, у тому числі нормативно-правових актів Національного банку України" field_order="8">
            <xs:annotation>
              <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="MonthsObligatoryReservesMet" type="xs:int" type_ukr="ціле число" displayName="Тривалість дотримування нормативів обов'язвкового резервування (міс.)" description="Банк дотримується нормативу обов'язкового резервування протягом останніх ... місяців" field_order="9">
            <xs:annotation>
              <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="MonthsEconomicNormativesReqsMet" type="xs:int" type_ukr="ціле число" displayName="Тривалість дотримування економічних нормативів (міс.)" description="Банк дотримується економічних нормативів протягом останніх ... місяців" field_order="10">
            <xs:annotation>
              <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="IsRegulatoryCapitalReqsMet" type="xs:boolean" type_ukr="логічний тип(так/ні)" displayName="Регулятивного капіталу достатньо (так/ні)?" description="Рівень регулятивного капіталу Банку відповідає вимогам Національного банку України" field_order="11">
            <xs:annotation>
              <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="RegulatoryCapitalAmt" type="xs:decimal" type_ukr="десяткове число, у т.ч. дрібне" displayName="Розміри регулятивного капіталу (грн.)" description="Рівень регулятивного капіталу Банку становить ... грн." field_order="12">
            <xs:annotation>
              <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="RegulatoryCapitalDate" type="xs:dateTime" type_ukr="дата і час" displayName="Дата розмірів регулятивного капіталу" description="Дата, на яку подано рівень регулятивного капіталу Банку (вище)" field_order="13">
            <xs:annotation>
              <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="NoPenaltiesWithinLast3Months" type="xs:boolean" type_ukr="логічний тип(так/ні)" displayName="Відсутність заходів упливу" description="Банк не є об'єктом застосування заходів впливу (крім письмового застереження) упродовж останніх 3 місяців, причому:&#xA;протягом усього періоду діяльності - для банків, які отримали банківську ліцензію менше ніж за три місяці до часу повідомлення Національного банку України про початок нового виду діяльності та/або виду послуг;&#xA;протягом трьох місяців, що передують часу повідомлення Національного банку України про початок нового виду діяльності та/або виду послуг - для банків, які здійснюють банківську діяльність на підставі банківської ліцензії більше ніж три місяці." field_order="14">
            <xs:annotation>
              <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="HasDeptsAllocatedForNewBusLines" type="xs:boolean" type_ukr="логічний тип(так/ні)" displayName="Забезпеченість відповідним персоналом та структурою" description="У Банку створено відповідні підрозділи, що здійснюватимуть зазначений в повідомленні новий вид діяльності та/або вид фінансових послуг, а також підрозділ внутрішнього аудиту та підрозділ з управління ризиками, функції та повноваження яких відповідають вимогам Закону України &quot;Про банки і банківську діяльність&quot; та нормативно-правових актів Національного банку України. Банк забезпечений спеціалістами, які відповідають вимогам нормативно-правових актів Національного банку України. Відповідні відомості додаються." field_order="15">
            <xs:annotation>
              <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="HasFacilitiesForNewBusLines" type="xs:boolean" type_ukr="логічний тип(так/ні)" displayName="Забезпеченість відповідним обладнанням, технікою, ПЗ, тощо" description="Банк забезпечений належним банківським обладнанням, комп'ютерною технікою, програмним забезпеченням та комунікаційними засобами, що відповідають вимогам Національного банку України" field_order="16">
            <xs:annotation>
              <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="IsGenericLawReqsMetForNewBusLines" type="xs:boolean" type_ukr="логічний тип(так/ні)" displayName="Дотримано вимог законодавства" description="Банком виконано спеціальні вимоги законодавства України, у тому числі нормативно-правових актів Національного банку України, щодо нового виду діяльності та/або нового виду фінансових послуг" field_order="17">
            <xs:annotation>
              <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="IsBankIndustrySpecificLawReqsMetForNewBusLines" type="xs:boolean" type_ukr="логічний тип(так/ні)" displayName="Готові розпочати новий вид діяльності?" description="Банк готовий розпочати новий вид діяльності та/або вид фінансових послуг згідно з вимогами банківського законодавства України, нормативно-правових актів Національного банку України" field_order="18">
            <xs:annotation>
              <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="IsNewBusLinesPresentInCharter" type="xs:boolean" type_ukr="логічний тип(так/ні)" displayName="Нову діяльність зазначено в статуті?" description="Здійснення нових видів діяльності/надання нових фінансових послуг зазначено в статуті банку." field_order="19">
            <xs:annotation>
              <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="IsInternalRegulationCopiesAttachedForNewBusLines" type="xs:boolean" type_ukr="логічний тип(так/ні)" displayName="Наявність внутрішніх положень, що регламентують нову діяльність - є/немає?" description="Копії внутрішніх положень, що регулюють здійснення банком нових видів діяльності або надання нового виду фінансових  послуг, додаються" field_order="20">
            <xs:annotation>
              <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="IsSigneePersonallyLiableForCopiesAttached" type="xs:boolean" type_ukr="логічний тип(так/ні)" displayName="Я персонально відповідаю за достовірність поданої інформації?" description="Я несу персональну відповідальність за достовірність усіх поданих документів" field_order="21">
            <xs:annotation>
              <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="Contacts" type="ContactInfo" displayName="Контакти" description="У разі виникнення будь-яких питань щодо цього повідомлення або документів, що додаються до нього, прошу звертатися до (прізвище, адреса, номер телефону, факсу)" field_order="22">
            <xs:annotation>
              <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="Attachements" type="ArrayOfAttachmentInfo" displayName="Додатки" description="Додатки" field_order="23">
            <xs:annotation>
              <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="Signee" type="SignatoryInfo" displayName="Підписант" description="Інформація про підписанта (Голова правління Банку)" field_order="24">
            <xs:annotation>
              <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfBankingLicensedActivityInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BankingLicensedActivityInfo" nillable="true" type="BankingLicensedActivityInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfAttachmentInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AttachmentInfo" nillable="true" type="AttachmentInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegLicAppx3MemberCandidateAppl">
    <xs:annotation>
      <xs:documentation>АНКЕТА членів виконавчого органу та наглядової (спостережної) ради юридичної особи
            Додаток 3 до Положення про порядок реєстрації та ліцензування банків, відкриття відокремлених підрозділів
            file                                  : f364524n1223.doc
            Рівень складності                     : 9
            (оціночний, шкала від 1 до 10)
            Пріоритетність                        : Hi  (Легенда: Hi - Висока, Lo - Низька, Mid - Середня, Hold - Поки що притримати)
            Подавач анкети                        : LP (Легенда: LP - юр.особа, PP - фіз.особа, BK - банк)
            Чи заповнюватиметься он-лайн          : Так
            Первинну розробку структури завершено : Ні
            Структуру фіналізовано                : Ні
            (=остаточно узгоджено 
            з бізнес-користувачами)</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="QuestionnaireBase">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="Acquiree" type="GenericPersonID" displayName="Юр.особа-заявник" description="(повне найменування юридичної особи)" field_order="1">
            <xs:annotation>
              <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="BankRef" type="BankInfo" displayName="Повне офіційне найменування банку" description="Ідентифікація банку, в якому подавачі планують набути членство у відповідному органі управління" field_order="2">
            <xs:annotation>
              <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!

            Стосовно участі в ___________________________________________________________________
            (повне офіційне найменування банку)
            ___________________________________________________________________________________
            (найменування юридичної особи)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="IsSupervisoryCouncilPresent" type="xs:boolean" type_ukr="логічний тип(так/ні)" displayName="Наглядова (спостережна) рада юридичної особи існує" description="Чи існує наглядова (спостережна) рада юридичної особи?" category="I. Перелік членів виконавчого органу та наглядової ради юридичної особи" field_order="3" />
          <xs:element minOccurs="0" maxOccurs="1" name="SupervisoryCouncil" type="CouncilBodyInfo" displayName="Особовий склад наглядової(спостережної)ради юрособи" description="Голова та члени наглядової (спостережної) ради юридичної особи" category="I. Перелік членів виконавчого органу та наглядової ради юридичної особи" field_order="4" />
          <xs:element minOccurs="1" maxOccurs="1" name="IsExecutiveBodyPresent" type="xs:boolean" type_ukr="логічний тип(так/ні)" displayName="Виконавчий орган юридичної особи існує" description="Чи існує виконавчий орган юридичної особи?" category="I. Перелік членів виконавчого органу та наглядової ради юридичної особи" field_order="5" />
          <xs:element minOccurs="0" maxOccurs="1" name="ExecutiveBody" type="CouncilBodyInfo" displayName="Особовий склад виконавчого органу юрособи" description="Голова та члени виконавчого органу юридичної особи" category="I. Перелік членів виконавчого органу та наглядової ради юридичної особи" field_order="6" />
          <xs:element minOccurs="0" maxOccurs="1" name="MentionedIdentities" type="ArrayOfGenericPersonInfo" displayName="Реквізити усіх осіб-фігурантів" description="Реквізити усіх осіб, що згадуються в анкеті" category="II. Загальна інформація про осіб" field_order="7">
            <xs:annotation>
              <xs:documentation>Реквізити усіх осіб-фігурантів</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="BoardMembersEmploymentHistory5Yrs" type="ArrayOfPersonEmploymentRecordsInfo" displayName="Займані посади за останні п’ять років" description="Деталі трудової біографії погоджуваних членів наглядового та/або виконавчого органів, за останні 5 років." category="III. Відомості про трудову діяльність" field_order="8" />
          <xs:element minOccurs="1" maxOccurs="1" name="ExistingOwnershipDetailsHive" type="ArrayOfOwnershipStructure" displayName="Відомості про участь осіб в банку" description="Деталізація існуючих відносин власності між особами, юр.особою та банком" category="IV. Відносини особи з банком та юридичною особою" field_order="9">
            <xs:annotation>
              <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="TargetedOwnershipDetailsHive" type="ArrayOfOwnershipStructure" displayName="Відомості про намір осіб набути або збільшити участь у банку" description="Власність, яку особи шукають здобути у банку" category="IV. Відносини особи з банком та юридичною особою" field_order="10">
            <xs:annotation>
              <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="PersonsLinks" type="ArrayOfPersonsAssociation" displayName="Зв'язки між особами-фігурантами анкети" description="Природа зв'язків між усіма пов'язанами особами, що згадуються в анкеті" category="IV. Відносини особи з банком та юридичною особою" field_order="11">
            <xs:annotation>
              <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!

            Зв'язки між особами-фігурантами анкети
            ----</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="Person2BankAssociations" type="ArrayOfPersonBankAssociationInfo" displayName="Відомості про пов’язаність осіб із банком" description="Коди пов'язаності осіб" category="IV. Відносини особи з банком та юридичною особою" field_order="12">
            <xs:annotation>
              <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="CandidatesBusinessReputation" type="ArrayOfPersonBusinessReputationInfo" displayName="Ділова репутація кандидатів" description="Ділова репутація кандидатів та дотримання законодавства" category="V. Відомості про ділову репутацію" field_order="13">
            <xs:annotation>
              <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="IsApplicationInfoAccurateAndTrue" type="xs:boolean" type_ukr="логічний тип(так/ні)" displayName="Підтверджую правдивість інформації?" description="стверджую, що інформація,  надана в анкеті,&#xA; є правдивою і повною, та не заперечую проти перевірки Національним банком України достовірності поданих документів і персональних даних, що в них містяться.&#xA;" category="Підписи і т.п." field_order="14">
            <xs:annotation>
              <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!

            Я, ________________________________________________________________________________,
                 (прізвище, ім'я, по батькові)
            стверджую, що інформація, надана в анкеті, є правдивою і повною, та не заперечую проти перевірки 
            Національним банком України достовірності поданих документів і персональних даних, що в них містяться.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="Signatory" type="SignatoryInfo" displayName="Підписант" description="Відомості по особу, що підписала анкету" category="Підписи і т.п." field_order="15">
            <xs:annotation>
              <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!

            _______________________
            (дата підписання анкети)
            _____________________
            (підпис фізичної особи,
            засвідчений нотаріально)	
            _______________________
            (ініціали та прізвище
               фізичної особи
             друкованими літерами)</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfPersonEmploymentRecordsInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonEmploymentRecordsInfo" nillable="true" type="PersonEmploymentRecordsInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfPersonBankAssociationInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonBankAssociationInfo" nillable="true" type="PersonBankAssociationInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfPersonBusinessReputationInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonBusinessReputationInfo" nillable="true" type="PersonBusinessReputationInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfCreditRatingInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CreditRatingInfo" nillable="true" type="CreditRatingInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfFinancialOversightAuthorityInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FinancialOversightAuthorityInfo" nillable="true" type="FinancialOversightAuthorityInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfMissingInformationReasonInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MissingInformationReasonInfo" nillable="true" type="MissingInformationReasonInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:include schemaLocation="QuestionnaireBase.uk-UA.xsd" />
  <xs:include schemaLocation="NotifyPropertyChangedBase.uk-UA.xsd" />
  <xs:include schemaLocation="UniversityOrCollegeInfo.uk-UA.xsd" />
  <xs:include schemaLocation="LocationInfo.uk-UA.xsd" />
  <xs:include schemaLocation="CountryInfo.uk-UA.xsd" />
  <xs:include schemaLocation="PersonBusinessReputationInfo.uk-UA.xsd" />
  <xs:include schemaLocation="GenericPersonID.uk-UA.xsd" />
  <xs:include schemaLocation="EntityType.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfLoanInfo.uk-UA.xsd" />
  <xs:include schemaLocation="LoanInfo.uk-UA.xsd" />
  <xs:include schemaLocation="IndebtnessInfoBase.uk-UA.xsd" />
  <xs:include schemaLocation="CurrencyAmount.uk-UA.xsd" />
  <xs:include schemaLocation="IndebtnessInfo.uk-UA.xsd" />
  <xs:include schemaLocation="BankInfo.uk-UA.xsd" />
  <xs:include schemaLocation="ImperfectBusinessReputationInfo.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfBankruptcyInvestigationInfo.uk-UA.xsd" />
  <xs:include schemaLocation="BankruptcyInvestigationInfo.uk-UA.xsd" />
  <xs:include schemaLocation="BankruptcyCaseResolutionType.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfCourtDecisionInfo.uk-UA.xsd" />
  <xs:include schemaLocation="CourtDecisionInfo.uk-UA.xsd" />
  <xs:include schemaLocation="CourtInfo.uk-UA.xsd" />
  <xs:include schemaLocation="CourtInstanceType.uk-UA.xsd" />
  <xs:include schemaLocation="CourtDecisionType.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfIndebtnessInfo.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfBreachOfLawRecordInfo.uk-UA.xsd" />
  <xs:include schemaLocation="BreachOfLawRecordInfo.uk-UA.xsd" />
  <xs:include schemaLocation="BreachOfLawType.uk-UA.xsd" />
  <xs:include schemaLocation="SentenceType.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfLiquidatedEntityOwnershipInfo.uk-UA.xsd" />
  <xs:include schemaLocation="LiquidatedEntityOwnershipInfo.uk-UA.xsd" />
  <xs:include schemaLocation="LiquidatedOrInsolventEntityInfoBase.uk-UA.xsd" />
  <xs:include schemaLocation="InsolvencyStatus.uk-UA.xsd" />
  <xs:include schemaLocation="LiquidatedOrInsolventEntityMgmtRecordInfo.uk-UA.xsd" />
  <xs:include schemaLocation="ManagementPosition.uk-UA.xsd" />
  <xs:include schemaLocation="TotalOwnershipDetailsInfo.uk-UA.xsd" />
  <xs:include schemaLocation="OwnershipSummaryInfo.uk-UA.xsd" />
  <xs:include schemaLocation="OwnershipVotesInfo.uk-UA.xsd" />
  <xs:include schemaLocation="ISCO.uk-UA.xsd" />
  <xs:include schemaLocation="EmploymentRecordInfo.uk-UA.xsd" />
  <xs:include schemaLocation="EmploymentState.uk-UA.xsd" />
  <xs:include schemaLocation="EconomicActivityType.uk-UA.xsd" />
  <xs:include schemaLocation="EmploymentTerminationType.uk-UA.xsd" />
  <xs:include schemaLocation="ContactInfo.uk-UA.xsd" />
  <xs:include schemaLocation="PhysicalPersonInfo.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfCountryInfo.uk-UA.xsd" />
  <xs:include schemaLocation="IPNRefusalRecordInfo.uk-UA.xsd" />
  <xs:include schemaLocation="SignatoryInfo.uk-UA.xsd" />
  <xs:include schemaLocation="PowerOfAttorneyInfo.uk-UA.xsd" />
  <xs:include schemaLocation="RegistrarAuthority.uk-UA.xsd" />
  <xs:include schemaLocation="SexType.uk-UA.xsd" />
  <xs:include schemaLocation="MeansOfCommunication.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfPhoneInfo.uk-UA.xsd" />
  <xs:include schemaLocation="PhoneInfo.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfEmailInfo.uk-UA.xsd" />
  <xs:include schemaLocation="EmailInfo.uk-UA.xsd" />
  <xs:include schemaLocation="PersonsAssociation.uk-UA.xsd" />
  <xs:include schemaLocation="PersonAssociationType.uk-UA.xsd" />
  <xs:include schemaLocation="AssociatedPersonRole.uk-UA.xsd" />
  <xs:include schemaLocation="LegalPersonInfo.uk-UA.xsd" />
  <xs:include schemaLocation="OwnershipFormType.uk-UA.xsd" />
  <xs:include schemaLocation="LPRegisteredDateRecordId.uk-UA.xsd" />
  <xs:include schemaLocation="StockExchangeListingInfo.uk-UA.xsd" />
  <xs:include schemaLocation="StockExchangeInfo.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfEconomicActivityType.uk-UA.xsd" />
  <xs:include schemaLocation="GenericPersonInfo.uk-UA.xsd" />
  <xs:include schemaLocation="IncomeOriginInfo.uk-UA.xsd" />
  <xs:include schemaLocation="FundsOriginType.uk-UA.xsd" />
  <xs:include schemaLocation="LegalTransactionPartyInfo.uk-UA.xsd" />
  <xs:include schemaLocation="LegalTransactionPartyRoleType.uk-UA.xsd" />
  <xs:include schemaLocation="LegalTransactionInfo.uk-UA.xsd" />
  <xs:include schemaLocation="LegalTransactionType.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfLegalTransactionPartyInfo.uk-UA.xsd" />
  <xs:include schemaLocation="SignificantOwnershipAcquisitionWaysInfo.uk-UA.xsd" />
  <xs:include schemaLocation="FinancialOversightAuthorityInfo.uk-UA.xsd" />
  <xs:include schemaLocation="RatingAgencyInfo.uk-UA.xsd" />
  <xs:include schemaLocation="CreditRatingInfo.uk-UA.xsd" />
  <xs:include schemaLocation="WellKnownCreditRatingAgencyType.uk-UA.xsd" />
  <xs:include schemaLocation="LongTermCreditRatingType.uk-UA.xsd" />
  <xs:include schemaLocation="ShortTermCreditRatingType.uk-UA.xsd" />
  <xs:include schemaLocation="BankingLicenseInfo.uk-UA.xsd" />
  <xs:include schemaLocation="BankingLicensedActivityInfo.uk-UA.xsd" />
  <xs:include schemaLocation="LicensedOperationType.uk-UA.xsd" />
  <xs:include schemaLocation="BankingActivityType.uk-UA.xsd" />
  <xs:include schemaLocation="FinancialServicesType.uk-UA.xsd" />
  <xs:include schemaLocation="AttachmentInfo.uk-UA.xsd" />
  <xs:include schemaLocation="TypicalApplicationAttachement.uk-UA.xsd" />
  <xs:include schemaLocation="RegLicAppx4OwnershipAcqRequestPP.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfEmploymentRecordInfo.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfBankAccountInfo.uk-UA.xsd" />
  <xs:include schemaLocation="BankAccountInfo.uk-UA.xsd" />
  <xs:include schemaLocation="TotalOwnershipSummaryInfo.uk-UA.xsd" />
  <xs:include schemaLocation="BankAssociatedPersonsCode315p.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfIPOSharesPurchaseInfo.uk-UA.xsd" />
  <xs:include schemaLocation="IPOSharesPurchaseInfo.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfPaymentDeadlineInfo.uk-UA.xsd" />
  <xs:include schemaLocation="PaymentDeadlineInfo.uk-UA.xsd" />
  <xs:include schemaLocation="SecondaryMarketSharesPurchaseInfo.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfSecondaryMarketSharesPurchaseInfo.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfPowerOfAttorneySharesPurchaseInfo.uk-UA.xsd" />
  <xs:include schemaLocation="PowerOfAttorneySharesPurchaseInfo.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfSignificantOrDecisiveInfulenceInfo.uk-UA.xsd" />
  <xs:include schemaLocation="SignificantOrDecisiveInfulenceInfo.uk-UA.xsd" />
  <xs:include schemaLocation="InfluenceType.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfIncomeOriginInfo.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfPersonsAssociation.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfOwnershipStructure.uk-UA.xsd" />
  <xs:include schemaLocation="OwnershipStructure.uk-UA.xsd" />
  <xs:include schemaLocation="OwnershipType.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfCouncilBodyInfo.uk-UA.xsd" />
  <xs:include schemaLocation="CouncilBodyInfo.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfCouncilMemberInfo.uk-UA.xsd" />
  <xs:include schemaLocation="CouncilMemberInfo.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfFinancialGuaranteeInfo.uk-UA.xsd" />
  <xs:include schemaLocation="FinancialGuaranteeInfo.uk-UA.xsd" />
  <xs:include schemaLocation="FinancialGuarantorRoleType.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfGenericPersonInfo.uk-UA.xsd" />
  <xs:include schemaLocation="PersonEmploymentRecordsInfo.uk-UA.xsd" />
  <xs:include schemaLocation="PersonBankAssociationInfo.uk-UA.xsd" />
  <xs:include schemaLocation="MissingInformationReasonInfo.uk-UA.xsd" />
  <xs:include schemaLocation="RegLicAppx12HeadCandidateAppl.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfEducationRecordInfo.uk-UA.xsd" />
  <xs:include schemaLocation="EducationRecordInfo.uk-UA.xsd" />
  <xs:include schemaLocation="HigherEducationDegreeType.uk-UA.xsd" />
  <xs:include schemaLocation="DegreeHonourType.uk-UA.xsd" />
  <xs:include schemaLocation="EducationKindGros.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfGenericPersonID.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfBankInfo.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfLiquidatedOrInsolventEntityMgmtRecordInfo.uk-UA.xsd" />
  <xs:include schemaLocation="RegLicAppx9BankingLicenseAppl.uk-UA.xsd" />
</xs:schema>