SignOwn/XSDs/ActualQuestionnairesUnion.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ActualQuestionnairesUnion" nillable="true" type="ActualQuestionnairesUnion" />
  <xs:complexType name="ActualQuestionnairesUnion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Appx2" type="RegLicAppx2OwnershipAcqRequestLP" />
      <xs:element minOccurs="0" maxOccurs="1" name="Appx3" type="RegLicAppx3MemberCandidateAppl" />
      <xs:element minOccurs="0" maxOccurs="1" name="Appx4" type="RegLicAppx4OwnershipAcqRequestPP" />
      <xs:element minOccurs="0" maxOccurs="1" name="Appx12" type="RegLicAppx12HeadCandidateAppl" />
      <xs:element minOccurs="0" maxOccurs="1" name="Appx14" type="RegLicAppx14NewSvc" />
      <xs:element minOccurs="0" maxOccurs="1" name="Appx9" type="RegLicAppx9BankingLicenseAppl" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegLicAppx2OwnershipAcqRequestLP">
    <xs:complexContent mixed="false">
      <xs:extension base="QuestionnaireBase">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="BankRef" type="BankInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="Acquiree" type="GenericPersonID" />
          <xs:element minOccurs="0" maxOccurs="1" name="CreditRatingGrade" type="ArrayOfCreditRatingInfo" />
          <xs:element minOccurs="1" maxOccurs="1" name="IsNonResidentLicenseRequired" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="ForeignOwnAcqLicensingAuthority" type="ArrayOfFinancialOversightAuthorityInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="StateRegulatorAuthorities" type="ArrayOfFinancialOversightAuthorityInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="TotalExistingOwnershipWithBank" type="TotalOwnershipSummaryInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="AccountsWithBanks" type="ArrayOfBankAccountInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="TotalOwnershipWithBankDiff" type="TotalOwnershipSummaryInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="TotalTargetedOwnershipWithBank" type="TotalOwnershipSummaryInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="AcquisitionWays" type="SignificantOwnershipAcquisitionWaysInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="IPOPurchase" type="ArrayOfIPOSharesPurchaseInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="SecondaryMarketPurchases" type="ArrayOfSecondaryMarketSharesPurchaseInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="AquisitionByPoAttorneys" type="ArrayOfPowerOfAttorneySharesPurchaseInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="AquisitionByInfluence" type="ArrayOfSignificantOrDecisiveInfulenceInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="FundsOrigin" type="ArrayOfIncomeOriginInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="ExistingOwnershipDetailsHive" type="ArrayOfOwnershipStructure" />
          <xs:element minOccurs="1" maxOccurs="1" name="HasOutstandingLoansWithBanks" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="OutstandingLoansWithBanksDetails" type="ArrayOfLoanInfo" />
          <xs:element minOccurs="1" maxOccurs="1" name="HasNoImperfectReputationSigns" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="ImperfectReputationDetails" type="ImperfectBusinessReputationInfo" />
          <xs:element minOccurs="1" maxOccurs="1" name="IsAMLEtcLegislationKept" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="IsApplicationInfoAccurateAndTrue" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="MissingInformationResons" type="ArrayOfMissingInformationResonInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="Signatory" type="SignatoryInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="ContactPerson" type="ContactInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="MentionedIdentities" type="ArrayOfGenericPersonInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="PersonsLinks" type="ArrayOfPersonsAssociation" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="QuestionnaireBase" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="NotifyPropertyChangedBase" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="NotifyPropertyChangedBase" />
  <xs:complexType name="UniversityOrCollegeInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="NotifyPropertyChangedBase">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="UniversityName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="UniversityNameUkr" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Address" type="LocationInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="UniversityID" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LocationInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Country" type="CountryInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="Region" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Raion" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ZipCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="City" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Street" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="HouseNr" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ApptOfficeNr" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CountryInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="CountryISO2Code" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CountryISO3Code" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CountryISONr" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CountryNameEng" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CountryNameUkr" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonBusinessReputationInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="NotifyPropertyChangedBase">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Person" type="GenericPersonID" />
          <xs:element minOccurs="1" maxOccurs="1" name="HasOutstandingLoansWithBanks" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="OutstandingLoansWithBanksDetails" type="ArrayOfLoanInfo" />
          <xs:element minOccurs="1" maxOccurs="1" name="HasNoImperfectReputationSigns" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="ImperfectReputationDetails" type="ImperfectBusinessReputationInfo" />
          <xs:element minOccurs="1" maxOccurs="1" name="IsAMLEtcLegislationKept" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GenericPersonID">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="CountryISO3Code" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="PersonType" type="EntityType" />
      <xs:element minOccurs="0" maxOccurs="1" name="PersonCode" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="EntityType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Physical" />
      <xs:enumeration value="Legal" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ArrayOfLoanInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LoanInfo" nillable="true" type="LoanInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LoanInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="IndebtnessInfoBase">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="LendingBank" type="BankInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="AgreementNr" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="AgreementDt" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="IndebtnessInfoBase">
    <xs:complexContent mixed="false">
      <xs:extension base="NotifyPropertyChangedBase">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" default="false" name="IsBankDebt" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="Lender" type="GenericPersonID" />
          <xs:element minOccurs="0" maxOccurs="1" name="Borrower" type="GenericPersonID" />
          <xs:element minOccurs="0" maxOccurs="1" name="DebtSubject" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Principal" type="CurrencyAmount" />
          <xs:element minOccurs="1" maxOccurs="1" name="RepaymentDueDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="OutstandingPricipal" type="CurrencyAmount" />
          <xs:element minOccurs="1" maxOccurs="1" name="IsOverdue" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="OverdueSince" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="PrincipalOverdue" type="CurrencyAmount" />
          <xs:element minOccurs="0" maxOccurs="1" name="OverdueDetails" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="OverdueReasons" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CurrencyAmount">
    <xs:complexContent mixed="false">
      <xs:extension base="NotifyPropertyChangedBase">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="CCY" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Amt" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="IndebtnessInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="IndebtnessInfoBase">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="IsRepaymentPlanned" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="PlannedRepaymentDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="RepaymentPlans" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BankInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="NotifyPropertyChangedBase">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="MFO" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="NameUkr" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="LegalPerson" type="GenericPersonID" />
          <xs:element minOccurs="0" maxOccurs="1" name="SWIFTBIC" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="OperationCountry" type="CountryInfo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ImperfectBusinessReputationInfo">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="HadBankruptcyInvestigation" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="BankruptcyInvestigations" type="ArrayOfBankruptcyInvestigationInfo" />
      <xs:element minOccurs="1" maxOccurs="1" name="HasMiscNonRepaidDebts" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="MiscNonRepaidDebts" type="ArrayOfIndebtnessInfo" />
      <xs:element minOccurs="1" maxOccurs="1" name="HadIndustrySpecificBreaches" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="BreachesOfLaw" type="ArrayOfBreachOfLawRecordInfo" />
      <xs:element minOccurs="1" maxOccurs="1" name="HasLiquidatedSignOwnershipLastYear" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="LiquidatedSignOwnershipLastYear" type="ArrayOfLiquidatedEntityOwnershipInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfBankruptcyInvestigationInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BankruptcyInvestigationInfo" nillable="true" type="BankruptcyInvestigationInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BankruptcyInvestigationInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="NotifyPropertyChangedBase">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="CaseFiledDt" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="CurrentStatus" type="BankruptcyCaseResolutionType" />
          <xs:element minOccurs="1" maxOccurs="1" name="InCurrentStatusSince" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="CourtDecisions" type="ArrayOfCourtDecisionInfo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="BankruptcyCaseResolutionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="CaseFiled" />
      <xs:enumeration value="DeclaredBankrupt" />
      <xs:enumeration value="InFinRecovery" />
      <xs:enumeration value="BankruptedRecovered" />
      <xs:enumeration value="Liquidated" />
      <xs:enumeration value="FinRecovered" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ArrayOfCourtDecisionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CourtDecisionInfo" nillable="true" type="CourtDecisionInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CourtDecisionInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="NotifyPropertyChangedBase">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Court" type="CourtInfo" />
          <xs:element minOccurs="1" maxOccurs="1" name="DecisionType" type="CourtDecisionType" />
          <xs:element minOccurs="1" maxOccurs="1" name="DecisionDate" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="DecisionRegistryID" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="DecisionTextSummary" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CourtInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="NotifyPropertyChangedBase">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="JurisdictionCountry" type="CountryInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="NameUkr" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Instance" type="CourtInstanceType" />
          <xs:element minOccurs="0" maxOccurs="1" name="CourtRegion" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="CourtID" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="CourtAddress" type="LocationInfo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="CourtInstanceType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="First" />
      <xs:enumeration value="Appeal" />
      <xs:enumeration value="Cassation" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CourtDecisionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Sentence" />
      <xs:enumeration value="Ruling" />
      <xs:enumeration value="Decision" />
      <xs:enumeration value="CourtOrder" />
      <xs:enumeration value="CourtResolution" />
      <xs:enumeration value="SpecialResolution" />
      <xs:enumeration value="JudgesMinorityReport" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ArrayOfIndebtnessInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IndebtnessInfo" nillable="true" type="IndebtnessInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfBreachOfLawRecordInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BreachOfLawRecordInfo" nillable="true" type="BreachOfLawRecordInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BreachOfLawRecordInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="NotifyPropertyChangedBase">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="BreachType" type="BreachOfLawType" />
          <xs:element minOccurs="0" maxOccurs="1" name="CourtDecision" type="CourtDecisionInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="CodeOrLaw" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Articles" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Sentence" type="SentenceType" />
          <xs:element minOccurs="1" maxOccurs="1" name="PenaltyDurationYrs" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" name="FineAmount" type="CurrencyAmount" />
          <xs:element minOccurs="0" maxOccurs="1" name="OtherSanctionDetails" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="IsConvictionSettled" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="SettledDate" nillable="true" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="BreachOfLawType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Criminal" />
      <xs:enumeration value="Antitrust" />
      <xs:enumeration value="Taxation" />
      <xs:enumeration value="Banking" />
      <xs:enumeration value="Financial" />
      <xs:enumeration value="ForeignCurrency" />
      <xs:enumeration value="StockExchange" />
      <xs:enumeration value="OtherAdministrative" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SentenceType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Jailed" />
      <xs:enumeration value="Probation" />
      <xs:enumeration value="RemedialWorks" />
      <xs:enumeration value="Fined" />
      <xs:enumeration value="Dismissed" />
      <xs:enumeration value="LicenseRevoked" />
      <xs:enumeration value="LicenseSuspended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ArrayOfLiquidatedEntityOwnershipInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LiquidatedEntityOwnershipInfo" nillable="true" type="LiquidatedEntityOwnershipInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LiquidatedEntityOwnershipInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="LiquidatedOrInsolventEntityInfoBase">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Stake" type="TotalOwnershipDetailsInfo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LiquidatedOrInsolventEntityInfoBase">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Asset" type="GenericPersonID" />
      <xs:element minOccurs="0" maxOccurs="1" name="Court" type="CourtInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="CaseNr" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Status" type="InsolvencyStatus" />
      <xs:element minOccurs="1" maxOccurs="1" name="DateEffective" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="LiquidationReason" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="LiquidationPretext" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="InsolvencyStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Insolvent" />
      <xs:enumeration value="Liquidated" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="LiquidatedOrInsolventEntityMgmtRecordInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="LiquidatedOrInsolventEntityInfoBase">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="Position" type="ManagementPosition" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="ManagementPosition">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="CEO" />
      <xs:enumeration value="VCEO" />
      <xs:enumeration value="ManagingBoardMember" />
      <xs:enumeration value="ChiefBookkeeper" />
      <xs:enumeration value="DeputyChiefBookkeeper" />
      <xs:enumeration value="SupervisoryBoardHead" />
      <xs:enumeration value="DeputySupervisoryBoardHead" />
      <xs:enumeration value="SupervisoryBoardMember" />
      <xs:enumeration value="SupervisoryBoardMemberLPRep" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="TotalOwnershipDetailsInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="DirectOwnership" type="OwnershipSummaryInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="ImplicitOwnership" type="OwnershipSummaryInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="AcquiredVotes" type="OwnershipVotesInfo" />
      <xs:element minOccurs="1" maxOccurs="1" name="TotalCapitalSharePct" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="TotalVotes" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OwnershipSummaryInfo">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="SharesCount" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="SharesNominalValue" type="CurrencyAmount" />
      <xs:element minOccurs="1" maxOccurs="1" name="Pct" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OwnershipVotesInfo">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Pct" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Votes" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EmploymentRecordInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="NotifyPropertyChangedBase">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="State" type="EmploymentState" />
          <xs:element minOccurs="0" maxOccurs="1" name="Employer" type="GenericPersonID" />
          <xs:element minOccurs="0" maxOccurs="1" name="PrincipalContractor" type="GenericPersonID" />
          <xs:element minOccurs="0" maxOccurs="1" name="PrincipalFreelanceActivity" type="EconomicActivityType" />
          <xs:element minOccurs="0" maxOccurs="1" name="JobTitle" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="DateStarted" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="IsStillWorkingThere" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="DateQuit" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="TerminationType" type="EmploymentTerminationType" />
          <xs:element minOccurs="0" maxOccurs="1" name="DismissalOrUnemployedReason" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="EmployerOrContractorContact" type="ContactInfo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="EmploymentState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Employed" />
      <xs:enumeration value="Selfemployed" />
      <xs:enumeration value="Freelance" />
      <xs:enumeration value="Unemployed" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="EconomicActivityType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="KVEDCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="KVEDActivityName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ActivitySelfName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="EmploymentTerminationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="PromotedOrRelocated" />
      <xs:enumeration value="VoluntaryQuit" />
      <xs:enumeration value="Dismissed" />
      <xs:enumeration value="Retired" />
      <xs:enumeration value="MaternityLeave" />
      <xs:enumeration value="MilitaryServiceLeave" />
      <xs:enumeration value="HealthConditionLeave" />
      <xs:enumeration value="OtherLeaveType" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ContactInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Person" type="PhysicalPersonInfo" />
      <xs:element minOccurs="1" maxOccurs="1" name="PreferrableMeansOfCommunication" type="MeansOfCommunication" />
      <xs:element minOccurs="0" maxOccurs="1" name="Phones" type="ArrayOfPhoneInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="Fax" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Emails" type="ArrayOfEmailInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="www" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Address" type="LocationInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PhysicalPersonInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="NotifyPropertyChangedBase">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="CitizenshipCountry" type="CountryInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="Surname" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="MiddleName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="FullName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="SurnameUkr" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="NameUkr" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="MiddleNameUkr" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="FullNameUkr" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="IsIPNRefused" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="IPNRefusalEvidence" type="IPNRefusalRecordInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="TaxOrSocSecID" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="PassportID" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="PassIssuedDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="PassIssueAuthority" type="RegistrarAuthority" />
          <xs:element minOccurs="0" maxOccurs="1" name="Address" type="LocationInfo" />
          <xs:element minOccurs="1" maxOccurs="1" name="IsResidentialAndRegistrationAddressDifferent" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="ActualAddress" type="LocationInfo" />
          <xs:element minOccurs="1" maxOccurs="1" name="Sex" type="SexType" />
          <xs:element minOccurs="1" maxOccurs="1" name="BirthDate" nillable="true" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="IPNRefusalRecordInfo">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="RecordDate" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="RecordID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Signatory" type="SignatoryInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SignatoryInfo">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="DateSigned" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="SignatoryPosition" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="SurnameInitials" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="false" name="IsActingByPowOfAttorney" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="PowerOfAttorney" type="PowerOfAttorneyInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PowerOfAttorneyInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ActingPerson" type="GenericPersonID" />
      <xs:element minOccurs="0" maxOccurs="1" name="OnBehalfOfPerson" type="GenericPersonID" />
      <xs:element minOccurs="0" maxOccurs="1" name="Title" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="ValidSince" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="ValidThru" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="OtherInfo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegistrarAuthority">
    <xs:complexContent mixed="false">
      <xs:extension base="NotifyPropertyChangedBase">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="JurisdictionCountry" type="CountryInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="Address" type="LocationInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="RegistrarCode" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="RegistrarName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="RegistrarNameUkr" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="EntitiesHandled" type="EntityType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="SexType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Male" />
      <xs:enumeration value="Female" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MeansOfCommunication">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Phone" />
      <xs:enumeration value="Email" />
      <xs:enumeration value="Fax" />
      <xs:enumeration value="Mail" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ArrayOfPhoneInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PhoneInfo" nillable="true" type="PhoneInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PhoneInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="PhoneName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PhoneNr" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PhoneNotes" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfEmailInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmailInfo" nillable="true" type="EmailInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EmailInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Email" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="EmailDescription" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonsAssociation">
    <xs:complexContent mixed="false">
      <xs:extension base="NotifyPropertyChangedBase">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="One" type="GenericPersonID" />
          <xs:element minOccurs="0" maxOccurs="1" name="Two" type="GenericPersonID" />
          <xs:element minOccurs="1" maxOccurs="1" name="AssociationType" type="PersonAssociationType" />
          <xs:element minOccurs="1" maxOccurs="1" name="AssociationRoleOneVsTwo" type="AssociatedPersonRole" />
          <xs:element minOccurs="1" maxOccurs="1" name="AssociationRoleTwoVsOne" type="AssociatedPersonRole" />
          <xs:element minOccurs="0" maxOccurs="1" name="AssociationRolesIfOther" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="PersonAssociationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Relative" />
      <xs:enumeration value="Attorney" />
      <xs:enumeration value="Other" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AssociatedPersonRole">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Husband" />
      <xs:enumeration value="Wife" />
      <xs:enumeration value="Son" />
      <xs:enumeration value="Daughter" />
      <xs:enumeration value="Father" />
      <xs:enumeration value="Mother" />
      <xs:enumeration value="Patron" />
      <xs:enumeration value="Brother" />
      <xs:enumeration value="Sister" />
      <xs:enumeration value="FatherInLaw" />
      <xs:enumeration value="MotherInLaw" />
      <xs:enumeration value="SonInLaw" />
      <xs:enumeration value="DaughterInLaw" />
      <xs:enumeration value="BrotherInLaw" />
      <xs:enumeration value="SisterInLaw" />
      <xs:enumeration value="Cousin" />
      <xs:enumeration value="GrandFather" />
      <xs:enumeration value="GrandMother" />
      <xs:enumeration value="GrandSon" />
      <xs:enumeration value="GrandDaughter" />
      <xs:enumeration value="NephewNiece" />
      <xs:enumeration value="AuncleAunt" />
      <xs:enumeration value="OtherRelative" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="LegalPersonInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="NotifyPropertyChangedBase">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="IsIntFinOrIntOrg" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="ResidenceCountry" type="CountryInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="NameUkr" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="OwnershipForm" type="OwnershipFormType" />
          <xs:element minOccurs="0" maxOccurs="1" name="TaxCodeOrHandelsRegNr" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Registrar" type="RegistrarAuthority" />
          <xs:element minOccurs="0" maxOccurs="1" name="RegisteredDateID" type="LPRegisteredDateRecordId" />
          <xs:element minOccurs="1" maxOccurs="1" name="IsStockExchangeListed" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="StockExchangeListing" type="StockExchangeListingInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="Address" type="LocationInfo" />
          <xs:element minOccurs="1" maxOccurs="1" name="IsRegistrationAddressActual" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="ActualAddress" type="LocationInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="RepresentedBy" type="GenericPersonID" />
          <xs:element minOccurs="0" maxOccurs="1" name="Equity" type="CurrencyAmount" />
          <xs:element minOccurs="0" maxOccurs="1" name="PrincipalActivities" type="ArrayOfEconomicActivityType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="OwnershipFormType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Private" />
      <xs:enumeration value="State" />
      <xs:enumeration value="Municipal" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="LPRegisteredDateRecordId">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="RegisteredDate" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="RegistryRecordId" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StockExchangeListingInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Exchange" type="StockExchangeInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="IssuerName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="MajorStockSymbol" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StockExchangeInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="OperationCountry" type="CountryInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="NameUkr" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="IsWorldExchangesMember" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="WorldExchangesID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="MarketCap" type="CurrencyAmount" />
      <xs:element minOccurs="1" maxOccurs="1" name="MarketCapAsOf" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfEconomicActivityType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EconomicActivityType" nillable="true" type="EconomicActivityType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericPersonInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="NotifyPropertyChangedBase">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="PersonType" type="EntityType" />
          <xs:element minOccurs="0" maxOccurs="1" name="PhysicalPerson" type="PhysicalPersonInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="LegalPerson" type="LegalPersonInfo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="IncomeOriginInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="NotifyPropertyChangedBase">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="Origin" type="FundsOriginType" />
          <xs:element minOccurs="0" maxOccurs="1" name="OriginOther" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Income" type="CurrencyAmount" />
          <xs:element minOccurs="0" maxOccurs="1" name="IncomeOriginNotes" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="FundsOriginType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="WagesSalaries" />
      <xs:enumeration value="Royalties" />
      <xs:enumeration value="Dividends" />
      <xs:enumeration value="PassiveIncomes" />
      <xs:enumeration value="Inherited" />
      <xs:enumeration value="Profit" />
      <xs:enumeration value="Equity" />
      <xs:enumeration value="SpecFunds" />
      <xs:enumeration value="OtherIncomes" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="LegalTransactionPartyInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="NotifyPropertyChangedBase">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Party" type="GenericPersonID" />
          <xs:element minOccurs="1" maxOccurs="1" name="Role" type="LegalTransactionPartyRoleType" />
          <xs:element minOccurs="0" maxOccurs="1" name="RoleIfOther" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="LegalTransactionPartyRoleType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Buyer" />
      <xs:enumeration value="Seller" />
      <xs:enumeration value="Grantor" />
      <xs:enumeration value="Grantee" />
      <xs:enumeration value="Legator" />
      <xs:enumeration value="Inheritor" />
      <xs:enumeration value="Gurantor" />
      <xs:enumeration value="Creditor" />
      <xs:enumeration value="Borrower" />
      <xs:enumeration value="Obligor" />
      <xs:enumeration value="Pledger" />
      <xs:enumeration value="Pledgee" />
      <xs:enumeration value="Other" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="LegalTransactionInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="NotifyPropertyChangedBase">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="IsCommitted" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="TransactionType" type="LegalTransactionType" />
          <xs:element minOccurs="0" maxOccurs="1" name="TransactionTypeOther" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="TransactionNr" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="TransactionDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="Parties" type="ArrayOfLegalTransactionPartyInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="TransactionText" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="LegalTransactionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="BuySellAgreement" />
      <xs:enumeration value="GrantAgreement" />
      <xs:enumeration value="Inheritance" />
      <xs:enumeration value="SwapAgreement" />
      <xs:enumeration value="Other" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ArrayOfLegalTransactionPartyInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LegalTransactionPartyInfo" nillable="true" type="LegalTransactionPartyInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SignificantOwnershipAcquisitionWaysInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="NotifyPropertyChangedBase">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="IsIPO" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="IsSecondaryMarketPurchase" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="IsPurchaseByImplicitOwnership" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="IsPurchaseByPowOfAtt" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="IsAcquireByImplicitInfluence" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="FinancialOversightAuthorityInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="NotifyPropertyChangedBase">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Jurisdiction" type="CountryInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="AuthorityName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="AuthorityNameUkr" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Address" type="LocationInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="Contacts" type="ContactInfo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RatingAgencyInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="NotifyPropertyChangedBase">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="NameUkr" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="IsGlobal" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="CoverageCountry" type="CountryInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="Contacts" type="ContactInfo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CreditRatingInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="NotifyPropertyChangedBase">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="WellKnownAgency" type="WellKnownCreditRatingAgencyType" />
          <xs:element minOccurs="0" maxOccurs="1" name="AgencyOther" type="RatingAgencyInfo" />
          <xs:element minOccurs="1" maxOccurs="1" name="LongMidTermRatingValue" type="LongTermCreditRatingType" />
          <xs:element minOccurs="0" maxOccurs="1" name="LongMidTermRatingValueOther" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="ShortTermRatingValue" type="ShortTermCreditRatingType" />
          <xs:element minOccurs="0" maxOccurs="1" name="ShortTermRatingValueOther" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="WellKnownCreditRatingAgencyType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Moodys" />
      <xs:enumeration value="Fitch" />
      <xs:enumeration value="SAndP" />
      <xs:enumeration value="DRBS" />
      <xs:enumeration value="Dagong" />
      <xs:enumeration value="JCR" />
      <xs:enumeration value="ACR" />
      <xs:enumeration value="UCRA" />
      <xs:enumeration value="Other" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="LongTermCreditRatingType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="A" />
      <xs:enumeration value="A1" />
      <xs:enumeration value="A2" />
      <xs:enumeration value="A3" />
      <xs:enumeration value="AA" />
      <xs:enumeration value="Aa1" />
      <xs:enumeration value="Aa2" />
      <xs:enumeration value="Aa3" />
      <xs:enumeration value="AAA" />
      <xs:enumeration value="AAAMinus" />
      <xs:enumeration value="AAAPlus" />
      <xs:enumeration value="AAMinus" />
      <xs:enumeration value="AAPlus" />
      <xs:enumeration value="AMinus" />
      <xs:enumeration value="APlus" />
      <xs:enumeration value="B" />
      <xs:enumeration value="B1" />
      <xs:enumeration value="B2" />
      <xs:enumeration value="B3" />
      <xs:enumeration value="Ba1" />
      <xs:enumeration value="Ba2" />
      <xs:enumeration value="Ba3" />
      <xs:enumeration value="Baa1" />
      <xs:enumeration value="Baa2" />
      <xs:enumeration value="Baa3" />
      <xs:enumeration value="BB" />
      <xs:enumeration value="BBB" />
      <xs:enumeration value="BBBMinus" />
      <xs:enumeration value="BBBPlus" />
      <xs:enumeration value="BBMinus" />
      <xs:enumeration value="BBPlus" />
      <xs:enumeration value="BMinus" />
      <xs:enumeration value="BPlus" />
      <xs:enumeration value="C" />
      <xs:enumeration value="Ca" />
      <xs:enumeration value="Caa1" />
      <xs:enumeration value="Caa2" />
      <xs:enumeration value="Caa3" />
      <xs:enumeration value="CC" />
      <xs:enumeration value="CCC" />
      <xs:enumeration value="CCCMinus" />
      <xs:enumeration value="CCCPlus" />
      <xs:enumeration value="CCMinus" />
      <xs:enumeration value="CCPlus" />
      <xs:enumeration value="CMinus" />
      <xs:enumeration value="CPlus" />
      <xs:enumeration value="D" />
      <xs:enumeration value="LD" />
      <xs:enumeration value="NR" />
      <xs:enumeration value="R" />
      <xs:enumeration value="Other" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ShortTermCreditRatingType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="A1" />
      <xs:enumeration value="A2" />
      <xs:enumeration value="A3" />
      <xs:enumeration value="B" />
      <xs:enumeration value="C" />
      <xs:enumeration value="D" />
      <xs:enumeration value="Other" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="RegLicAppx14NewSvc">
    <xs:complexContent mixed="false">
      <xs:extension base="QuestionnaireBase">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="QuestDate" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="Ref" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="BankRef" type="BankInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="ExistingLicenseSpecs" type="BankingLicenseInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="NewActivitiesList" type="ArrayOfBankingLicensedActivityInfo" />
          <xs:element minOccurs="1" maxOccurs="1" name="HasSufficientFinancialCapacity" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="MonthsWOLosses" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="HasFormedEnoughFundsAndReserves" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="MonthsObligatoryReservesMet" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="MonthsEconomicNormativesReqsMet" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="IsRegulatoryCapitalReqsMet" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="RegulatoryCapitalAmt" type="xs:decimal" />
          <xs:element minOccurs="1" maxOccurs="1" name="RegulatoryCapitalDate" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="NoPenaltiesWithinLast3Months" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="HasDeptsAllocatedForNewBusLines" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="HasFacilitiesForNewBusLines" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="IsGenericLawReqsMetForNewBusLines" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="IsBankIndustrySpecificLawReqsMetForNewBusLines" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="IsNewBusLinesPresentInCharter" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="IsInternalRegulationCopiesAttachedForNewBusLines" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="IsSigneePersonallyLiableForCopiesAttached" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="Contacts" type="ContactInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="Attachements" type="ArrayOfAttachmentInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="Signee" type="SignatoryInfo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BankingLicenseInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="LicenseNr" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="IssueDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfBankingLicensedActivityInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BankingLicensedActivityInfo" nillable="true" type="BankingLicensedActivityInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BankingLicensedActivityInfo">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="BankActivityOrService" type="LicensedOperationType" />
      <xs:element minOccurs="1" maxOccurs="1" name="ActivityType" type="BankingActivityType" />
      <xs:element minOccurs="1" maxOccurs="1" name="ServiceType" type="FinancialServicesType" />
      <xs:element minOccurs="0" maxOccurs="1" name="ActivityName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="LicensedOperationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="BankingActivity" />
      <xs:enumeration value="FinancialService" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BankingActivityType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="DepositsTaking" />
      <xs:enumeration value="AccountsMgmt" />
      <xs:enumeration value="DepositedFundsPlacement" />
      <xs:enumeration value="Investments" />
      <xs:enumeration value="ProprietarySecuritiesIssue" />
      <xs:enumeration value="Lotteries" />
      <xs:enumeration value="SafeCustody" />
      <xs:enumeration value="CashCollectionTransportation" />
      <xs:enumeration value="SecuritiesCustody" />
      <xs:enumeration value="ConsultancyOnBankFinServices" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="FinancialServicesType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="PayDocsIssuance" />
      <xs:enumeration value="Trust" />
      <xs:enumeration value="CurrencyExchange" />
      <xs:enumeration value="FinanceAssetsLiabilities" />
      <xs:enumeration value="FinancialLeasing" />
      <xs:enumeration value="Lending" />
      <xs:enumeration value="Guarantees" />
      <xs:enumeration value="FundsTransfer" />
      <xs:enumeration value="InsuranceAndPensionSavings" />
      <xs:enumeration value="StockExchangeActivities" />
      <xs:enumeration value="Factoring" />
      <xs:enumeration value="FinAssetsAdministeringGroupsPurchase" />
      <xs:enumeration value="ConstructionAssetsManagement" />
      <xs:enumeration value="MortgageSecuritiesMngtIssue" />
      <xs:enumeration value="OtherFinBankServices" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ArrayOfAttachmentInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AttachmentInfo" nillable="true" type="AttachmentInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AttachmentInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="FileName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="AttachmentType" type="TypicalApplicationAttachement" />
      <xs:element minOccurs="0" maxOccurs="1" name="Description" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ContentType" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="TypicalApplicationAttachement">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="InternalReglementCopiesScans" />
      <xs:enumeration value="WorkbookCopyScan" />
      <xs:enumeration value="PassportCopyScan" />
      <xs:enumeration value="CharterCopyScan" />
      <xs:enumeration value="Other" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="RegLicAppx4OwnershipAcqRequestPP">
    <xs:complexContent mixed="false">
      <xs:extension base="QuestionnaireBase">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="BankRef" type="BankInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="Acquiree" type="GenericPersonID" />
          <xs:element minOccurs="0" maxOccurs="1" name="EmploymentRecords" type="ArrayOfEmploymentRecordInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="BankingAccounts" type="ArrayOfBankAccountInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="TotalExistingOwnershipWithBank" type="TotalOwnershipSummaryInfo" />
          <xs:element minOccurs="1" maxOccurs="1" name="IsBankAssociatedPerson" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="BankAssociatedPersonCode" type="BankAssociatedPersonsCode315p" />
          <xs:element minOccurs="0" maxOccurs="1" name="TotalOwnershipWithBankDiff" type="TotalOwnershipSummaryInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="TotalTargetedOwnershipWithBank" type="TotalOwnershipSummaryInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="AcquisitionWays" type="SignificantOwnershipAcquisitionWaysInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="IPOPurchase" type="ArrayOfIPOSharesPurchaseInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="SecondaryMarketPurchases" type="ArrayOfSecondaryMarketSharesPurchaseInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="AquisitionByPoAttorneys" type="ArrayOfPowerOfAttorneySharesPurchaseInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="AquisitionByInfluence" type="ArrayOfSignificantOrDecisiveInfulenceInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="FundsOrigin" type="ArrayOfIncomeOriginInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="PersonsLinks" type="ArrayOfPersonsAssociation" />
          <xs:element minOccurs="0" maxOccurs="1" name="ExistingOwnershipDetailsHive" type="ArrayOfOwnershipStructure" />
          <xs:element minOccurs="1" maxOccurs="1" name="IsCurrently3rdPartyBoardMember" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="MembershipIn3rdPartyBoards" type="ArrayOfCouncilBodyInfo" />
          <xs:element minOccurs="1" maxOccurs="1" name="Is3rdPartiesGuarantor" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="FinGuaranteesDetails" type="ArrayOfFinancialGuaranteeInfo" />
          <xs:element minOccurs="1" maxOccurs="1" name="HasOutstandingLoansWithBanks" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="OutstandingLoansWithBanksDetails" type="ArrayOfLoanInfo" />
          <xs:element minOccurs="1" maxOccurs="1" name="HasNoImperfectReputationSigns" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="ImperfectReputationDetails" type="ImperfectBusinessReputationInfo" />
          <xs:element minOccurs="1" maxOccurs="1" name="IsAMLEtcLegislationKept" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="Signatory" type="SignatoryInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="ContactPerson" type="ContactInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="MentionedIdentities" type="ArrayOfGenericPersonInfo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfEmploymentRecordInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmploymentRecordInfo" nillable="true" type="EmploymentRecordInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfBankAccountInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BankAccountInfo" nillable="true" type="BankAccountInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BankAccountInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="AccountOwner" type="GenericPersonID" />
      <xs:element minOccurs="0" maxOccurs="1" name="Bank" type="BankInfo" />
      <xs:element minOccurs="0" maxOccurs="1" default="false" name="WithMoreDetails" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="AccountNr" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="UAH" name="AccountCCY" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="AccountDescription" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TotalOwnershipSummaryInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="DirectOwnershipSummary" type="OwnershipSummaryInfo" />
      <xs:element minOccurs="1" maxOccurs="1" name="ImplicitPct" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="TotalPct" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="BankAssociatedPersonsCode315p">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="BankControllers" />
      <xs:enumeration value="SignificantOwners" />
      <xs:enumeration value="BankMgrsEtc" />
      <xs:enumeration value="Affiliated" />
      <xs:enumeration value="AffiliatedSignOwners" />
      <xs:enumeration value="AffiliatedMgrsEtc" />
      <xs:enumeration value="AssocPersonsArt52pp16" />
      <xs:enumeration value="Art52MgrsSignOwnersLPs" />
      <xs:enumeration value="AnyPersonInfluencingArt52" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ArrayOfIPOSharesPurchaseInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IPOSharesPurchaseInfo" nillable="true" type="IPOSharesPurchaseInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IPOSharesPurchaseInfo">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="SharesCount" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="NominalSharePrice" type="CurrencyAmount" />
      <xs:element minOccurs="0" maxOccurs="1" name="NominalTotalSharesValue" type="CurrencyAmount" />
      <xs:element minOccurs="0" maxOccurs="1" name="ActualTotalSharesValue" type="CurrencyAmount" />
      <xs:element minOccurs="0" maxOccurs="1" name="PaymentDeadlines" type="ArrayOfPaymentDeadlineInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfPaymentDeadlineInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PaymentDeadlineInfo" nillable="true" type="PaymentDeadlineInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentDeadlineInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Amount" type="CurrencyAmount" />
      <xs:element minOccurs="1" maxOccurs="1" name="Deadline" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SecondaryMarketSharesPurchaseInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="IPOSharesPurchaseInfo">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Asset" type="GenericPersonID" />
          <xs:element minOccurs="0" maxOccurs="1" name="PreviousOwner" type="GenericPersonID" />
          <xs:element minOccurs="0" maxOccurs="1" name="LegalTransaction" type="LegalTransactionInfo" />
          <xs:element minOccurs="1" maxOccurs="1" name="SharesPct" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" name="NominalSharesValue" type="CurrencyAmount" />
          <xs:element minOccurs="0" maxOccurs="1" name="ActualSharesPrice" type="CurrencyAmount" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfSecondaryMarketSharesPurchaseInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SecondaryMarketSharesPurchaseInfo" nillable="true" type="SecondaryMarketSharesPurchaseInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfPowerOfAttorneySharesPurchaseInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PowerOfAttorneySharesPurchaseInfo" nillable="true" type="PowerOfAttorneySharesPurchaseInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PowerOfAttorneySharesPurchaseInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="PowerOfAttorney" type="PowerOfAttorneyInfo" />
      <xs:element minOccurs="1" maxOccurs="1" name="SharesPct" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Votes" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="VotesPct" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfSignificantOrDecisiveInfulenceInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SignificantOrDecisiveInfulenceInfo" nillable="true" type="SignificantOrDecisiveInfulenceInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SignificantOrDecisiveInfulenceInfo">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="TypeOfInfluence" type="InfluenceType" />
      <xs:element minOccurs="0" maxOccurs="1" name="InfluenceCircumstances" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="InfluenceType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Significant" />
      <xs:enumeration value="Decisive" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ArrayOfIncomeOriginInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IncomeOriginInfo" nillable="true" type="IncomeOriginInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfPersonsAssociation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonsAssociation" nillable="true" type="PersonsAssociation" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfOwnershipStructure">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OwnershipStructure" nillable="true" type="OwnershipStructure" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OwnershipStructure">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Asset" type="GenericPersonID" />
      <xs:element minOccurs="0" maxOccurs="1" name="Owner" type="GenericPersonID" />
      <xs:element minOccurs="1" maxOccurs="1" name="OwnershipKind" type="OwnershipType" />
      <xs:element minOccurs="0" maxOccurs="1" name="Share" type="CurrencyAmount" />
      <xs:element minOccurs="1" maxOccurs="1" name="SharesCount" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="SharePct" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Votes" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="OwnershipType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Direct" />
      <xs:enumeration value="Implicit" />
      <xs:enumeration value="Associated" />
      <xs:enumeration value="Agreement" />
      <xs:enumeration value="Attorney" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ArrayOfCouncilBodyInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CouncilBodyInfo" nillable="true" type="CouncilBodyInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CouncilBodyInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="GovernedEntityID" type="GenericPersonID" />
      <xs:element minOccurs="0" maxOccurs="1" name="Members" type="ArrayOfCouncilMemberInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="HeadMember" type="GenericPersonID" />
      <xs:element minOccurs="0" maxOccurs="1" name="CouncilBodyName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CouncilBodyNameUkr" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfCouncilMemberInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CouncilMemberInfo" nillable="true" type="CouncilMemberInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CouncilMemberInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Member" type="GenericPersonID" />
      <xs:element minOccurs="0" maxOccurs="1" name="PositionName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="FunctionsDescription" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfFinancialGuaranteeInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FinancialGuaranteeInfo" nillable="true" type="FinancialGuaranteeInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FinancialGuaranteeInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Person" type="GenericPersonID" />
      <xs:element minOccurs="1" maxOccurs="1" name="Role" type="FinancialGuarantorRoleType" />
      <xs:element minOccurs="0" maxOccurs="1" name="PledgeAmt" type="CurrencyAmount" />
      <xs:element minOccurs="0" maxOccurs="1" name="GuaranteeDetails" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="FinancialGuarantorRoleType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Guarantor" />
      <xs:enumeration value="Pledger" />
      <xs:enumeration value="Attorney" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ArrayOfGenericPersonInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GenericPersonInfo" nillable="true" type="GenericPersonInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegLicAppx3MemberCandidateAppl">
    <xs:complexContent mixed="false">
      <xs:extension base="QuestionnaireBase">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Acquiree" type="GenericPersonID" />
          <xs:element minOccurs="0" maxOccurs="1" name="BankRef" type="BankInfo" />
          <xs:element minOccurs="1" maxOccurs="1" name="IsSupervisoryCouncilPresent" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="SupervisoryCouncil" type="CouncilBodyInfo" />
          <xs:element minOccurs="1" maxOccurs="1" name="IsExecutiveBodyPresent" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="ExecutiveBody" type="CouncilBodyInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="MentionedIdentities" type="ArrayOfGenericPersonInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="BoardMembersEmploymentHistory5Yrs" type="ArrayOfPersonEmploymentRecordsInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="ExistingOwnershipDetailsHive" type="ArrayOfOwnershipStructure" />
          <xs:element minOccurs="0" maxOccurs="1" name="TargetedOwnershipDetailsHive" type="ArrayOfOwnershipStructure" />
          <xs:element minOccurs="0" maxOccurs="1" name="PersonsLinks" type="ArrayOfPersonsAssociation" />
          <xs:element minOccurs="0" maxOccurs="1" name="Person2BankAssociations" type="ArrayOfPersonBankAssociationInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="CandidatesBusinessReputation" type="ArrayOfPersonBusinessReputationInfo" />
          <xs:element minOccurs="1" maxOccurs="1" name="IsApplicationInfoAccurateAndTrue" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="Signatory" type="SignatoryInfo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfPersonEmploymentRecordsInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonEmploymentRecordsInfo" nillable="true" type="PersonEmploymentRecordsInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonEmploymentRecordsInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Person" type="GenericPersonID" />
      <xs:element minOccurs="0" maxOccurs="1" name="EmploymentHistory" type="ArrayOfEmploymentRecordInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfPersonBankAssociationInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonBankAssociationInfo" nillable="true" type="PersonBankAssociationInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonBankAssociationInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Person" type="GenericPersonID" />
      <xs:element minOccurs="1" maxOccurs="1" name="AssociationKind" type="BankAssociatedPersonsCode315p" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfPersonBusinessReputationInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonBusinessReputationInfo" nillable="true" type="PersonBusinessReputationInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfCreditRatingInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CreditRatingInfo" nillable="true" type="CreditRatingInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfFinancialOversightAuthorityInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FinancialOversightAuthorityInfo" nillable="true" type="FinancialOversightAuthorityInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfMissingInformationResonInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MissingInformationResonInfo" nillable="true" type="MissingInformationResonInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MissingInformationResonInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="PropertyName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ReasonWhyMissing" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegLicAppx12HeadCandidateAppl">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="BankRef" type="BankInfo" />
      <xs:element minOccurs="1" maxOccurs="1" name="PositionAppliedFor" type="ManagementPosition" />
      <xs:element minOccurs="0" maxOccurs="1" name="Candidate" type="GenericPersonID" />
      <xs:element minOccurs="0" maxOccurs="1" name="Education" type="ArrayOfEducationRecordInfo" />
      <xs:element minOccurs="1" maxOccurs="1" name="HasScientificTitle" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="ScientificTitle" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="LastEmploymentRecord" type="EmploymentRecordInfo" />
      <xs:element minOccurs="1" maxOccurs="1" name="IsCurrently3rdPartyBoardMember" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="MembershipIn3rdPartyBoards" type="ArrayOfCouncilBodyInfo" />
      <xs:element minOccurs="1" maxOccurs="1" name="HasTheBankOwnership" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="BankOwnership" type="ArrayOfOwnershipStructure" />
      <xs:element minOccurs="1" maxOccurs="1" name="Has3rdPartiesOwnership" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="ThirdPartiesOwnership" type="ArrayOfOwnershipStructure" />
      <xs:element minOccurs="1" maxOccurs="1" name="Has3rdPartiesMgmtBodiesAttorneys" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="PartiesMgmtBodiesAttorneys" type="ArrayOfCouncilBodyInfo" />
      <xs:element minOccurs="1" maxOccurs="1" name="Is3rdPartiesRep" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="ThirdPartiesBeingRepresented" type="ArrayOfGenericPersonID" />
      <xs:element minOccurs="0" maxOccurs="1" name="OtherBanksSignificantOwnership" type="ArrayOfOwnershipStructure" />
      <xs:element minOccurs="0" maxOccurs="1" name="OtherBanksWithSignificantOwnership" type="ArrayOfBankInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="EmploymentGaps" type="ArrayOfEmploymentRecordInfo" />
      <xs:element minOccurs="1" maxOccurs="1" name="HasLiquidatedOrInsolventManagements" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="LiquidatedOrInsolventManagements" type="ArrayOfLiquidatedOrInsolventEntityMgmtRecordInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="PersonsLinks" type="ArrayOfPersonsAssociation" />
      <xs:element minOccurs="1" maxOccurs="1" name="HasRelativesInBankBoards" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="RelativesInBankBoards" type="ArrayOfCouncilBodyInfo" />
      <xs:element minOccurs="1" maxOccurs="1" name="HasMiscNonRepaidDebts" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="MiscNonRepaidDebts" type="ArrayOfIndebtnessInfo" />
      <xs:element minOccurs="1" maxOccurs="1" name="WasCriminallyProsecuted" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="HasOutstandingSentencesToServe" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="BreachesOfLaw" type="ArrayOfBreachOfLawRecordInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="BankPoliciesYourRoleVision" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="IsApplicationInfoAccurateAndTrue" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="AmObligingToKeepUp2DateWithin10Days" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="Signatory" type="SignatoryInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="MentionedIdentities" type="ArrayOfGenericPersonInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfEducationRecordInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EducationRecordInfo" nillable="true" type="EducationRecordInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EducationRecordInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="UniOrCollege" type="UniversityOrCollegeInfo" />
      <xs:element minOccurs="1" maxOccurs="1" name="GraduationDate" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="DegreeType" type="HigherEducationDegreeType" />
      <xs:element minOccurs="1" maxOccurs="1" name="HonourType" type="DegreeHonourType" />
      <xs:element minOccurs="0" maxOccurs="1" name="DegreeSeries" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DegreeID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Trade" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Qualification" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="HigherEducationDegreeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Bachelor" />
      <xs:enumeration value="Master" />
      <xs:enumeration value="MBA" />
      <xs:enumeration value="CandidateDoctor" />
      <xs:enumeration value="PhD" />
      <xs:enumeration value="DoctorOfSciences" />
      <xs:enumeration value="DoctorOfLetters" />
      <xs:enumeration value="Professor" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DegreeHonourType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Rite" />
      <xs:enumeration value="CumLaude" />
      <xs:enumeration value="Honoured" />
      <xs:enumeration value="MagnaCumLaude" />
      <xs:enumeration value="SummaCumLaude" />
      <xs:enumeration value="EgregiaCumLaude" />
      <xs:enumeration value="MaximaCumLaude" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ArrayOfGenericPersonID">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GenericPersonID" nillable="true" type="GenericPersonID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfBankInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BankInfo" nillable="true" type="BankInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfLiquidatedOrInsolventEntityMgmtRecordInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LiquidatedOrInsolventEntityMgmtRecordInfo" nillable="true" type="LiquidatedOrInsolventEntityMgmtRecordInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegLicAppx9BankingLicenseAppl" />
</xs:schema>