SignOwn/XSDs/BankingLicenseInfo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BankingLicenseInfo" nillable="true" type="BankingLicenseInfo" />
  <xs:complexType name="BankingLicenseInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="LicenseNr" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="IssueDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>