SignOwn/XSDs/CharterCapitalTableTotalsRecord.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CharterCapitalTableTotalsRecord" nillable="true" type="CharterCapitalTableTotalsRecord" />
  <xs:complexType name="CharterCapitalTableTotalsRecord">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="ActualSharesPlaced" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="CharterCapitalPct" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>