SignOwn/XSDs/CommonOwnershipInfo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CommonOwnershipInfo" nillable="true" type="CommonOwnershipInfo" />
  <xs:complexType name="CommonOwnershipInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Property" type="GenericPersonID" />
      <xs:element minOccurs="0" maxOccurs="1" name="Partners" type="ArrayOfGenericPersonID" />
      <xs:element minOccurs="1" maxOccurs="1" name="OwnershipType" type="OwnershipType" />
      <xs:element minOccurs="0" maxOccurs="1" name="OwnershipTestimony" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="OwnershipPct" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericPersonID">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="CountryISO3Code" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="PersonType" type="EntityType" />
      <xs:element minOccurs="0" maxOccurs="1" name="PersonCode" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="EntityType">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="None" />
          <xs:enumeration value="Physical" />
          <xs:enumeration value="Legal" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:complexType name="ArrayOfGenericPersonID">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GenericPersonID" nillable="true" type="GenericPersonID" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="OwnershipType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Direct" />
      <xs:enumeration value="Implicit" />
      <xs:enumeration value="Associated" />
      <xs:enumeration value="Agreement" />
      <xs:enumeration value="Attorney" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>