SignOwn/XSDs/ContactInfo.full.uk-UA.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ContactInfo" nillable="true" type="ContactInfo" />
  <xs:complexType name="ContactInfo">
    <xs:annotation>
      <xs:documentation>Контактна інформація</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Person" type="PhysicalPersonInfo" displayName="Контактна особа" description="Контактна особа (фізособа)" field_order="1">
        <xs:annotation>
          <xs:documentation>Необов'язкове поле; якщо заповнюється, то достатньо (як правило) П.І.Б.; як вони хочуть, щоб до них зверталися (хоч би й лише Name),
            напр. "Люда, тел. XXX-XXX-XX-XX, e-mail..."</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="PreferrableMeansOfCommunication" type="MeansOfCommunication" displayName="Бажаний засіб комунікації" description="Оберіть той засіб комунікації, котрий є для Вас бажаним (і заповніть відповідні поля)" field_order="2">
        <xs:annotation>
          <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="Phones" type="ArrayOfPhoneInfo" displayName="Телефони" description="Перелік телефонів" field_order="3">
        <xs:annotation>
          <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!

            Бодай один телефон.
            Хай самі вказують стільки, скільки хочуть, залежно від того, 
            наскільки вони хочуть, щоб їх знайшли, у разі потреби/питань.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Fax" type="xs:string" type_ukr="текст" displayName="Факс" field_order="4">
        <xs:annotation>
          <xs:documentation>Необов'язкове поле, як на мене - вже застарілий засіб зв'язку.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="Emails" type="ArrayOfEmailInfo" displayName="E-mail-и" description="Перелік адрес електронної пошти" field_order="5">
        <xs:annotation>
          <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!

            Мінімум одне мило - обов'язково питати.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="www" type="xs:string" type_ukr="текст" displayName="www" description="Веб-сайт" field_order="6">
        <xs:annotation>
          <xs:documentation>Не обов'язкове (окрім банку, видавництва, тощо - де це вимагається контекстом використання цього типу).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Address" type="LocationInfo" displayName="Адреса для листування" description="Адреса для звичайної пошти" field_order="7" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="MeansOfCommunication">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" description="Не вказано" enum_value="0" />
      <xs:enumeration value="Phone" description="Телефон(-и)" enum_value="1" />
      <xs:enumeration value="Email" description="Ел.пошта" enum_value="2" />
      <xs:enumeration value="Fax" description="Факс" enum_value="3" />
      <xs:enumeration value="Mail" description="Звичайна пошта" enum_value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ArrayOfPhoneInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PhoneInfo" nillable="true" type="PhoneInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PhoneInfo">
    <xs:annotation>
      <xs:documentation>Інформація про телефон</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="PhoneName" type="xs:string" type_ukr="текст" displayName="Тип/назва телефону" description="Тип/назва телефону" field_order="1">
        <xs:annotation>
          <xs:documentation>не обов'язкове, значення (напр.) - дом., моб., роб., тощо</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="PhoneNr" type="xs:string" type_ukr="текст" displayName="№ телефону" description="№ телефону" field_order="2">
        <xs:annotation>
          <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="PhoneNotes" type="xs:string" type_ukr="текст" displayName="Примітки щодо телефону" description="Примітки щодо телефону" field_order="3">
        <xs:annotation>
          <xs:documentation>напр. "дзвонити з 9 до 18, по вихідних, поза зоною тоді-то, тощо"</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfEmailInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmailInfo" nillable="true" type="EmailInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:include schemaLocation="PhysicalPersonInfo.uk-UA.xsd" />
  <xs:include schemaLocation="NotifyPropertyChangedBase.uk-UA.xsd" />
  <xs:include schemaLocation="RegistrarAuthority.uk-UA.xsd" />
  <xs:include schemaLocation="CountryInfo.uk-UA.xsd" />
  <xs:include schemaLocation="LocationInfo.uk-UA.xsd" />
  <xs:include schemaLocation="EntityType.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfCountryInfo.uk-UA.xsd" />
  <xs:include schemaLocation="IPNRefusalRecordInfo.uk-UA.xsd" />
  <xs:include schemaLocation="SignatoryInfo.uk-UA.xsd" />
  <xs:include schemaLocation="PowerOfAttorneyInfo.uk-UA.xsd" />
  <xs:include schemaLocation="GenericPersonID.uk-UA.xsd" />
  <xs:include schemaLocation="SexType.uk-UA.xsd" />
  <xs:include schemaLocation="EmailInfo.uk-UA.xsd" />
</xs:schema>