SignOwn/XSDs/CreditRatingInfo.full.uk-UA.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CreditRatingInfo" nillable="true" type="CreditRatingInfo" />
  <xs:complexType name="CreditRatingInfo">
    <xs:annotation>
      <xs:documentation>Кредитний рейтинг емітента
            Три поля, по суті:
            1) Аґенція, що роздала рейтинг;
            2) Довго- та середньотерміновий рейтинг;
            3) Короткотерміновий рейтинг.
            Якщо аґенція - добре відома, то достатньо буде обрати зі списків WellKnownAgency, LongMidTermRatingValue і ShortTermRatingValue 
            інакше, доведеться заповнити поле AgencyOther; якщо у полях значення рейтингу буде обрано "Інше" (Other), то також доведеться ввести значення у відповідному полі *RatingValueOther.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="NotifyPropertyChangedBase">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="WellKnownAgency" type="WellKnownCreditRatingAgencyType" displayName="Рейтингова аґенція (добре знана)" field_order="1">
            <xs:annotation>
              <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="AgencyOther" type="RatingAgencyInfo" displayName="Рейтингова аґенція (інша)" field_order="2">
            <xs:annotation>
              <xs:documentation>Якщо в полі WellKnownAgency обрано "Інше" (Other)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="LongMidTermRatingValue" type="LongTermCreditRatingType" displayName="Довго- та середньотермінове значення рейтингу(стандартне)" field_order="3">
            <xs:annotation>
              <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="LongMidTermRatingValueOther" type="xs:string" type_ukr="текст" displayName="Довго- та середньотермінове значення рейтингу(якщо інше)" field_order="4">
            <xs:annotation>
              <xs:documentation>Якщо в полі LongMidTermRatingValue обрано "Інше" (Other)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="ShortTermRatingValue" type="ShortTermCreditRatingType" displayName="Короткотермінове значення рейтингу(стандартне)" field_order="5">
            <xs:annotation>
              <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="ShortTermRatingValueOther" type="xs:string" type_ukr="текст" displayName="Короткотермінове значення рейтингу(якщо інше)" field_order="6">
            <xs:annotation>
              <xs:documentation>Якщо в полі ShortTermRatingValue обрано "Інше" (Other)</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RatingAgencyInfo">
    <xs:annotation>
      <xs:documentation>Відомості про кредитно-рейтингову аґенцію (якщо інша, окрім Big Three)
            

Див.також: http://en.wikipedia.org/wiki/Category:Credit_rating_agencies</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="NotifyPropertyChangedBase">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="Name" type="xs:string" type_ukr="текст" displayName="Назва" description="Назва рейтингової аґенції (оригінальна, оригінальною мовою)" field_order="1">
            <xs:annotation>
              <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="NameUkr" type="xs:string" type_ukr="текст" displayName="Назва українською" description="Назва рейтингової аґенції українською (якщо оригінальна назва - іншомовна)" field_order="2">
            <xs:annotation>
              <xs:documentation>(!)ПОЛЕ ОБОВ'ЯЗКОВЕ ЗА УМОВИ(!):
   CoverageCountry != CountryInfo.UKRAINE</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="IsGlobal" type="xs:boolean" type_ukr="логічний тип(так/ні)" displayName="Глобальне покриття?" description="Аґенція рейтингує компанії глобально, а не прив'язана до якоїсь конкретної країни" field_order="3">
            <xs:annotation>
              <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="CoverageCountry" type="CountryInfo" displayName="Країна покриття" description="Якщо аґенція не є глобальною, а рейтингує компанії однієї конкретної країни" field_order="4">
            <xs:annotation>
              <xs:documentation>(!)ПОЛЕ ОБОВ'ЯЗКОВЕ ЗА УМОВИ(!):
   IsGlobal == false</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="Contacts" type="ContactInfo" displayName="Контакти" description="Контактна інформація рейтингової аґенції (напр. веб-сайт); контакти особи/підрозділу, що відповідальні за Ваш рейтинг (якщо є)." field_order="5">
            <xs:annotation>
              <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="WellKnownCreditRatingAgencyType">
    <xs:annotation>
      <xs:documentation>http://en.wikipedia.org/wiki/Fitch_Ratings#Long-term_credit_ratings
            http://en.wikipedia.org/wiki/DBRS
            http://en.wikipedia.org/wiki/Dagong_Global_Credit_Rating
            
            

Див.також: http://en.wikipedia.org/wiki/Moody%27s_Investors_Service#Moody.27s_credit_ratings</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" description="Не вказано" enum_value="0" />
      <xs:enumeration value="Moodys" description="Moody's Investor Service" enum_value="1" />
      <xs:enumeration value="Fitch" description="Fitch Ratings" enum_value="2" />
      <xs:enumeration value="SAndP" description="Не вказано" enum_value="3" />
      <xs:enumeration value="DRBS" description="Standard &amp; Poors" enum_value="4" />
      <xs:enumeration value="Dagong" description="Dagong Credit Rating (та дочірні рейтингові компанії)" enum_value="5" />
      <xs:enumeration value="JCR" description="Japan Credit Rating" enum_value="6" />
      <xs:enumeration value="ACR" description="ARC Ratings, S.A." enum_value="7" />
      <xs:enumeration value="UCRA" description="Українська кредитна рейтингова аґенція" enum_value="8" />
      <xs:enumeration value="Other" description="Інша" enum_value="9" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="LongTermCreditRatingType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" description="Не вказано" enum_value="0" />
      <xs:enumeration value="A" description="A" enum_value="1" />
      <xs:enumeration value="A1" description="A1" enum_value="2" />
      <xs:enumeration value="A2" description="A2" enum_value="3" />
      <xs:enumeration value="A3" description="A3" enum_value="4" />
      <xs:enumeration value="AA" description="AA" enum_value="5" />
      <xs:enumeration value="Aa1" description="Aa1" enum_value="6" />
      <xs:enumeration value="Aa2" description="Aa2" enum_value="7" />
      <xs:enumeration value="Aa3" description="Aa3" enum_value="8" />
      <xs:enumeration value="AAA" description="AAA" enum_value="9" />
      <xs:enumeration value="AAAMinus" description="AAA-" enum_value="10" />
      <xs:enumeration value="AAAPlus" description="AAA+" enum_value="11" />
      <xs:enumeration value="AAMinus" description="AA-" enum_value="12" />
      <xs:enumeration value="AAPlus" description="AA+" enum_value="13" />
      <xs:enumeration value="AMinus" description="A-" enum_value="14" />
      <xs:enumeration value="APlus" description="A+" enum_value="15" />
      <xs:enumeration value="B" description="B" enum_value="16" />
      <xs:enumeration value="B1" description="B1" enum_value="17" />
      <xs:enumeration value="B2" description="B2" enum_value="18" />
      <xs:enumeration value="B3" description="B3" enum_value="19" />
      <xs:enumeration value="Ba1" description="Ba1" enum_value="20" />
      <xs:enumeration value="Ba2" description="Ba2" enum_value="21" />
      <xs:enumeration value="Ba3" description="Ba3" enum_value="22" />
      <xs:enumeration value="Baa1" description="Baa1" enum_value="23" />
      <xs:enumeration value="Baa2" description="Baa2" enum_value="24" />
      <xs:enumeration value="Baa3" description="Baa3" enum_value="25" />
      <xs:enumeration value="BB" description="BB" enum_value="26" />
      <xs:enumeration value="BBB" description="BBB" enum_value="27" />
      <xs:enumeration value="BBBMinus" description="BBB-" enum_value="28" />
      <xs:enumeration value="BBBPlus" description="BBB+" enum_value="29" />
      <xs:enumeration value="BBMinus" description="BB-" enum_value="30" />
      <xs:enumeration value="BBPlus" description="BB+" enum_value="31" />
      <xs:enumeration value="BMinus" description="B-" enum_value="32" />
      <xs:enumeration value="BPlus" description="B+" enum_value="33" />
      <xs:enumeration value="C" description="C" enum_value="34" />
      <xs:enumeration value="Ca" description="Ca" enum_value="35" />
      <xs:enumeration value="Caa1" description="Caa1" enum_value="36" />
      <xs:enumeration value="Caa2" description="Caa2" enum_value="37" />
      <xs:enumeration value="Caa3" description="Caa3" enum_value="38" />
      <xs:enumeration value="CC" description="CC" enum_value="39" />
      <xs:enumeration value="CCC" description="CCC" enum_value="40" />
      <xs:enumeration value="CCCMinus" description="CCC-" enum_value="41" />
      <xs:enumeration value="CCCPlus" description="CCC+" enum_value="42" />
      <xs:enumeration value="CCMinus" description="CC-" enum_value="43" />
      <xs:enumeration value="CCPlus" description="CC+" enum_value="44" />
      <xs:enumeration value="CMinus" description="C-" enum_value="45" />
      <xs:enumeration value="CPlus" description="C+" enum_value="46" />
      <xs:enumeration value="D" description="D" enum_value="47" />
      <xs:enumeration value="LD" description="LD" enum_value="48" />
      <xs:enumeration value="NR" description="NR" enum_value="49" />
      <xs:enumeration value="R" description="R" enum_value="50" />
      <xs:enumeration value="Other" description="Інше (вказати)" enum_value="51" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ShortTermCreditRatingType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" description="Не вказано" enum_value="0" />
      <xs:enumeration value="A1" description="A-1" enum_value="1" />
      <xs:enumeration value="A2" description="A-2" enum_value="2" />
      <xs:enumeration value="A3" description="A-3" enum_value="3" />
      <xs:enumeration value="B" description="B" enum_value="4" />
      <xs:enumeration value="C" description="C" enum_value="5" />
      <xs:enumeration value="D" description="D" enum_value="6" />
      <xs:enumeration value="Other" description="Інше (вказати)" enum_value="7" />
    </xs:restriction>
  </xs:simpleType>
  <xs:include schemaLocation="NotifyPropertyChangedBase.uk-UA.xsd" />
  <xs:include schemaLocation="RegistrarAuthority.uk-UA.xsd" />
  <xs:include schemaLocation="CountryInfo.uk-UA.xsd" />
  <xs:include schemaLocation="LocationInfo.uk-UA.xsd" />
  <xs:include schemaLocation="EntityType.uk-UA.xsd" />
  <xs:include schemaLocation="PhysicalPersonInfo.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfCountryInfo.uk-UA.xsd" />
  <xs:include schemaLocation="IPNRefusalRecordInfo.uk-UA.xsd" />
  <xs:include schemaLocation="SignatoryInfo.uk-UA.xsd" />
  <xs:include schemaLocation="PowerOfAttorneyInfo.uk-UA.xsd" />
  <xs:include schemaLocation="GenericPersonID.uk-UA.xsd" />
  <xs:include schemaLocation="SexType.uk-UA.xsd" />
  <xs:include schemaLocation="ContactInfo.uk-UA.xsd" />
  <xs:include schemaLocation="MeansOfCommunication.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfPhoneInfo.uk-UA.xsd" />
  <xs:include schemaLocation="PhoneInfo.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfEmailInfo.uk-UA.xsd" />
  <xs:include schemaLocation="EmailInfo.uk-UA.xsd" />
</xs:schema>