SignOwn/XSDs/EmailInfo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EmailInfo" nillable="true" type="EmailInfo" />
  <xs:complexType name="EmailInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Email" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="EmailDescription" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>