SignOwn/XSDs/EmploymentHistoryInfo.uk-UA.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EmploymentHistoryInfo" nillable="true" type="EmploymentHistoryInfo" />
  <xs:complexType name="EmploymentHistoryInfo">
    <xs:annotation>
      <xs:documentation>Тип даних, що енкапсулює відомості про трудовий стаж:
             реквізити трудової книги + колекцію записів про епізоди трудової біографії.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="NotifyPropertyChangedBase">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="HasEmploymentBook" type="xs:boolean" type_ukr="логічний тип(так/ні)" displayName="Є трудова книга?" description="Чи існує трудова книга особи" field_order="1" />
          <xs:element minOccurs="0" maxOccurs="1" name="EmploymentBook" type="EmploymentBookInfo" displayName="Трудова книга" description="Реквізити трудової книги (якщо є)" field_order="2">
            <xs:annotation>
              <xs:documentation>(!)ПОЛЕ ОБОВ'ЯЗКОВЕ ЗА УМОВИ(!):
   HasEmploymentBook == true</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="EmploymentRecords" type="ArrayOfEmploymentRecordInfo" displayName="Записи" description="Записи про досвід роботи особи" field_order="3">
            <xs:annotation>
              <xs:documentation>Власне, записи про досвід роботи особи</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:include schemaLocation="NotifyPropertyChangedBase.uk-UA.xsd" />
  <xs:include schemaLocation="RegistrarAuthority.uk-UA.xsd" />
  <xs:include schemaLocation="CountryInfo.uk-UA.xsd" />
  <xs:include schemaLocation="LocationInfo.uk-UA.xsd" />
  <xs:include schemaLocation="EntityType.uk-UA.xsd" />
  <xs:include schemaLocation="PhysicalPersonInfo.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfCountryInfo.uk-UA.xsd" />
  <xs:include schemaLocation="IPNRefusalRecordInfo.uk-UA.xsd" />
  <xs:include schemaLocation="SignatoryInfo.uk-UA.xsd" />
  <xs:include schemaLocation="PowerOfAttorneyInfo.uk-UA.xsd" />
  <xs:include schemaLocation="GenericPersonID.uk-UA.xsd" />
  <xs:include schemaLocation="SexType.uk-UA.xsd" />
  <xs:include schemaLocation="ISCO.uk-UA.xsd" />
  <xs:include schemaLocation="EmploymentRecordInfo.uk-UA.xsd" />
  <xs:include schemaLocation="EmploymentState.uk-UA.xsd" />
  <xs:include schemaLocation="EconomicActivityType.uk-UA.xsd" />
  <xs:include schemaLocation="EmploymentTerminationType.uk-UA.xsd" />
  <xs:include schemaLocation="ContactInfo.uk-UA.xsd" />
  <xs:include schemaLocation="MeansOfCommunication.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfPhoneInfo.uk-UA.xsd" />
  <xs:include schemaLocation="PhoneInfo.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfEmailInfo.uk-UA.xsd" />
  <xs:include schemaLocation="EmailInfo.uk-UA.xsd" />
  <xs:include schemaLocation="EmploymentBookInfo.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfEmploymentRecordInfo.uk-UA.xsd" />
</xs:schema>