SignOwn/XSDs/EmploymentBookInfo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EmploymentBookInfo" nillable="true" type="EmploymentBookInfo" />
  <xs:complexType name="EmploymentBookInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="BookSeries" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="BookNr" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="FilledDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>