SignOwn/XSDs/EmploymentHistoryInfo.full.uk-UA.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EmploymentHistoryInfo" nillable="true" type="EmploymentHistoryInfo" />
  <xs:complexType name="EmploymentHistoryInfo">
    <xs:annotation>
      <xs:documentation>Тип даних, що енкапсулює відомості про трудовий стаж:
             реквізити трудової книги + колекцію записів про епізоди трудової біографії.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="NotifyPropertyChangedBase">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="HasEmploymentBook" type="xs:boolean" type_ukr="логічний тип(так/ні)" displayName="Є трудова книга?" description="Чи існує трудова книга особи" field_order="1" />
          <xs:element minOccurs="0" maxOccurs="1" name="EmploymentBook" type="EmploymentBookInfo" displayName="Трудова книга" description="Реквізити трудової книги (якщо є)" field_order="2">
            <xs:annotation>
              <xs:documentation>(!)ПОЛЕ ОБОВ'ЯЗКОВЕ ЗА УМОВИ(!):
   HasEmploymentBook == true</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="EmploymentRecords" type="ArrayOfEmploymentRecordInfo" displayName="Записи" description="Записи про досвід роботи особи" field_order="3">
            <xs:annotation>
              <xs:documentation>Власне, записи про досвід роботи особи</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RegistrarAuthority">
    <xs:annotation>
      <xs:documentation>Державний (чи як там заведено у відповідній країні) 
            орган реєстрації осіб (як юридичних, так і фізичних)
            

Див.також: http://en.wikipedia.org/wiki/List_of_company_registers</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="NotifyPropertyChangedBase">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="JurisdictionCountry" type="CountryInfo" displayName="Країна юрисдикції" description="Країна юрисдикції" field_order="1">
            <xs:annotation>
              <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!

            Обов'язкове поле, за змовчанням - Україна</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="Address" type="LocationInfo" displayName="Місцезнаходження" description="Місцезнаходження" field_order="2">
            <xs:annotation>
              <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!

            якнайповніше</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="RegistrarCode" type="xs:string" type_ukr="текст" displayName="Код держоргану (якщо існує)" description="Код держоргану (якщо існує)" field_order="3">
            <xs:annotation>
              <xs:documentation>Якщо такий код передбачено/існує; коротше, необов'язкове поле
            (напр., у наших закордонних паспортах фігурує Issuing authority ID)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="RegistrarName" type="xs:string" type_ukr="текст" displayName="Назва держоргану" description="Назва держоргану" field_order="4">
            <xs:annotation>
              <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!

            Назва реєстратора (оригінальною мовою, у т.ч. українською - якщо реєстратор український).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="RegistrarNameUkr" type="xs:string" type_ukr="текст" displayName="Назва держоргану українською" description="Назва держоргану українською (для органів у інших країнах)" field_order="5">
            <xs:annotation>
              <xs:documentation>Назва реєстратора українською (якщо реєстратор не український).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="EntitiesHandled" type="EntityType" displayName="Тип осіб, що реєструє" description="Тип осіб, що реєструє" field_order="6">
            <xs:annotation>
              <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PhysicalPersonInfo">
    <xs:annotation>
      <xs:documentation>Інформація про фіз.особу (реквізити)</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="NotifyPropertyChangedBase">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="CitizenshipCountry" type="CountryInfo" displayName="Громадянство" description="Громадянство" field_order="1">
            <xs:annotation>
              <xs:documentation>Обов'язкове поле (окрім хіба ContactInfo)
            За змовчанням (пропонувати) - Україна</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="HasDoubleCitizenship" type="xs:boolean" type_ukr="логічний тип(так/ні)" displayName="Має інше громадянство?" description="Особа має додаткове (подвійне) громадянство іншої(-их) країн(-и)" field_order="2" />
          <xs:element minOccurs="0" maxOccurs="1" name="DoubleCitizenshipCountries" type="ArrayOfCountryInfo" displayName="Додаткове(-і)/подвійне(-і) громадянство(-а)" description="Відомості про подвійне громадянство інших країн, ніж вказаної в полі 'Громадянство'" field_order="3" />
          <xs:element minOccurs="0" maxOccurs="1" name="Surname" type="xs:string" type_ukr="текст" displayName="Прізвище" description="Прізвище" category="Ім'я" field_order="4" />
          <xs:element minOccurs="0" maxOccurs="1" name="SurnameAtBirth" type="xs:string" type_ukr="текст" displayName="Прізвище при народженні" description="Прізвище при народженні - дівоче чи у інших випадках, якщо мала місце зміна прізвища" category="Ім'я" field_order="5" />
          <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" type_ukr="текст" displayName="Ім'я" description="Ім'я" category="Ім'я" field_order="6" />
          <xs:element minOccurs="0" maxOccurs="1" name="MiddleName" type="xs:string" type_ukr="текст" displayName="По-батькові/друге ім'я" description="По-батькові/друге ім'я" category="Ім'я" field_order="7" />
          <xs:element minOccurs="1" maxOccurs="1" name="FullName" type="xs:string" type_ukr="текст" displayName="П.І.Б." description="П.І.Б." category="Ім'я" field_order="8">
            <xs:annotation>
              <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!

            Вказувати достатньо повного імені; 
            Якщо є натхнення (або вимагає анкета) - можна й деталізацію по полях
            Для нерезидентів бажано вимагати як окремих частин імені, 
            так і повного (повністю) (бо хто його там зна, як до нього звертатися)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="SurnameUkr" type="xs:string" type_ukr="текст" displayName="Прізвище (укр.)" description="Прізвище, українською" category="Ім'я" field_order="9">
            <xs:annotation>
              <xs:documentation>для нерезидентів</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="NameUkr" type="xs:string" type_ukr="текст" displayName="Ім'я (укр.)" description="Ім'я, українською" category="Ім'я" field_order="10">
            <xs:annotation>
              <xs:documentation>для нерезидентів</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="MiddleNameUkr" type="xs:string" type_ukr="текст" displayName="По-батькові/друге ім'я (укр.)" description="По-батькові/друге ім'я, українською" category="Ім'я" field_order="11">
            <xs:annotation>
              <xs:documentation>для нерезидентів</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="FullNameUkr" type="xs:string" type_ukr="текст" displayName="П.І.Б (укр.)" description="П.І.Б., українською" category="Ім'я" field_order="12">
            <xs:annotation>
              <xs:documentation>для нерезидентів</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="IsIPNRefused" type="xs:boolean" type_ukr="логічний тип(так/ні)" displayName="ІПН немає" description="Особа у встановленому порядку відмовилася від індивідувального податкового номера?" category="Індивідуальний податковий номер" field_order="13" />
          <xs:element minOccurs="0" maxOccurs="1" name="IPNRefusalEvidence" type="IPNRefusalRecordInfo" displayName="Відміка про відсутність ІПН-у" description="Відомості про відповідний запи/відмітку в паспорті громадянина (про відмові від ІПН та погодження такої відмови)" category="Індивідуальний податковий номер" field_order="14" />
          <xs:element minOccurs="0" maxOccurs="1" name="TaxOrSocSecID" type="xs:string" type_ukr="текст" displayName="ІПН" description="ІПН/№ картки соціального страхування/тощо, дивлячись, що використовується у країні резидентства" category="Індивідуальний податковий номер" field_order="15">
            <xs:annotation>
              <xs:documentation>(!)ПОЛЕ ОБОВ'ЯЗКОВЕ ЗА УМОВИ(!):
   Not IsIPNRefused</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="PassportID" type="xs:string" type_ukr="текст" displayName="Серія № паспорта" description="Серія № паспорта" category="Паспортні дані" field_order="16" />
          <xs:element minOccurs="1" maxOccurs="1" name="PassIssuedDate" nillable="true" type="xs:dateTime" type_ukr="дата і час" displayName="Дата видачі паспорта" description="Дата видачі паспорта" category="Паспортні дані" field_order="17" />
          <xs:element minOccurs="0" maxOccurs="1" name="PassIssueAuthority" type="RegistrarAuthority" displayName="Орган, що видав паспорт" description="Орган, що видав паспорт" category="Паспортні дані" field_order="18" />
          <xs:element minOccurs="0" maxOccurs="1" name="Address" type="LocationInfo" displayName="Місце реєстрації" description="Місце реєстрації" category="Адреса(-и)" field_order="19">
            <xs:annotation>
              <xs:documentation>Поле необхідне лише якщо вимагається у анкеті</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="IsResidentialAndRegistrationAddressDifferent" type="xs:boolean" type_ukr="логічний тип(так/ні)" displayName="Місце проживання й реєстрації відрізняються" description="Відзначте цю галочку, якщо місце фактичного проживання цієї особи відрізняються від адреси її офіційної реєстрації" category="Адреса(-и)" field_order="20" />
          <xs:element minOccurs="0" maxOccurs="1" name="ActualAddress" type="LocationInfo" displayName="Місце проживання" description="Місце фактичного проживання (якщо інше, ніж реєстрації)" category="Адреса(-и)" field_order="21">
            <xs:annotation>
              <xs:documentation>Поле необхідне лише якщо вимагається у анкеті, та якщо відрізняється від місця реєстрації.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="Sex" type="SexType" displayName="Стать" description="Стать" category="Додаткова інформація" field_order="22">
            <xs:annotation>
              <xs:documentation>Бажано вимагати; дивитися за контекстом конкретного поля 
            у конкретній анкеті</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="BirthDate" nillable="true" type="xs:dateTime" type_ukr="дата і час" displayName="Дата народження" description="Дата народження" category="Додаткова інформація" field_order="23">
            <xs:annotation>
              <xs:documentation>Як правило, необов'язкове поле
            Буває, що онука називають як діда, і у ланцюжку володіння фігурують обидва
            Тоді корисно мати ще й дату народження, щоб відрізняти; 
            буває, що онук ще неповнолітній та не має паспорта/кода
            (реальний випадок - банк "Грант", щоправда, там, був код ІПН)</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfCountryInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CountryInfo" nillable="true" type="CountryInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IPNRefusalRecordInfo">
    <xs:annotation>
      <xs:documentation>Інформація про відмітку в паспорті про право здійснювати будь-які 
              платежі без ІПН
             ---------------------------------------------------------
             У паспорт серія ___ N ____________, який видано громадянину
             _________________________________________________________________,
                                (прізвище, ім'я та по батькові)
             ______ внесено  відмітку  за  N  _____________ про наявність права
              (дата)
             здійснювати будь-які платежі без ідентифікаційного номера.
            ____________             ________________________________________
              (дата)                           (ПІБ, посада, підпис)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="RecordDate" type="xs:dateTime" type_ukr="дата і час" displayName="Дата запису" description="Дата внесення відповідного запису до паспорта" field_order="1" />
      <xs:element minOccurs="0" maxOccurs="1" name="RecordID" type="xs:string" type_ukr="текст" displayName="№ запису" description="№ відповідного запису до паспорта" field_order="2" />
      <xs:element minOccurs="0" maxOccurs="1" name="Signatory" type="SignatoryInfo" displayName="Відомості про підписанта запису" description="Відомості про підписанта запису" field_order="3" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SignatoryInfo">
    <xs:annotation>
      <xs:documentation>Інформація про підписанта (документу, анкети)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="DateSigned" type="xs:dateTime" type_ukr="дата і час" displayName="Дата підпису" description="Дата підпису" field_order="1">
        <xs:annotation>
          <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!

            Обов'язкове (якщо тільки контекстом не передбачено інше)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="SignatoryPosition" type="xs:string" type_ukr="текст" displayName="Посада (підписанта)" description="Посада (підписанта)" field_order="2">
        <xs:annotation>
          <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!

            обов'язкове</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="SurnameInitials" type="xs:string" type_ukr="текст" displayName="Прізвище й ініціали (підписанта)" description="Прізвище й ініціали (підписанта)" field_order="3">
        <xs:annotation>
          <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!

            обов'язкове</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" default="false" name="IsActingByPowOfAttorney" type="xs:boolean" type_ukr="логічний тип(так/ні)" displayName="За довіреністю?" description="Підписант діє на підставі довіреності" field_order="4">
        <xs:annotation>
          <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="PowerOfAttorney" type="PowerOfAttorneyInfo" displayName="Довіреність" description="Реквізити довіреності, на підставі якої діє підписант" field_order="5">
        <xs:annotation>
          <xs:documentation>(!)ПОЛЕ ОБОВ'ЯЗКОВЕ ЗА УМОВИ(!):
   IsActingByPowOfAttorney == true</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PowerOfAttorneyInfo">
    <xs:annotation>
      <xs:documentation>Реквізити довіреності</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="ActingPerson" type="GenericPersonID" displayName="Довірена особа" description="Кому видано довіреність" field_order="1">
        <xs:annotation>
          <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="OnBehalfOfPerson" type="GenericPersonID" displayName="Від імені" description="Особа, яку представляють (від імені якої діє довірена особа)" field_order="2">
        <xs:annotation>
          <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="Title" type="xs:string" type_ukr="текст" displayName="Назва/титул довіреності" description="Короткий зміст предмету довіреності" field_order="3">
        <xs:annotation>
          <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="ValidSince" type="xs:dateTime" type_ukr="дата і час" displayName="Дійсна з" description="Дата початку дії довіреності" field_order="4">
        <xs:annotation>
          <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="ValidThru" nillable="true" type="xs:dateTime" type_ukr="дата і час" displayName="Дійсна до" description="Дата закінчення дії довіреності" field_order="5" />
      <xs:element minOccurs="0" maxOccurs="1" name="OtherInfo" type="xs:string" type_ukr="текст" displayName="Інші відомості" description="Додаткові (значущі) відомості про довіреність" field_order="6" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="SexType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" description="Не вказано" enum_value="0" />
      <xs:enumeration value="Male" description="Чол." enum_value="1" />
      <xs:enumeration value="Female" description="Жін." enum_value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ISCO">
    <xs:annotation>
      <xs:documentation>Запис типу міжнародного класифікатора професій 
            (ISCO - international standard classification of occupations)
            Список вибудовано за резолюцією від 3-6.12.2007 - 
            http://www.ilo.org/public/english/bureau/stat/isco/docs/resol08.pdf
            Професія за версією українського класифікатора професій
            Джерело: КЛАСИФІКАТОР ПРОФЕСІЙ
            ДК 003:2010 
            ЗАТВЕРДЖЕНО ТА НАДАНО ЧИННОСТІ
            Наказ Держспоживстандарту України
            28.07.2010 N 327 
            Чинний від 01.11.2010 р.
            Оригінал стандарту: http://www.ilo.org/public/english/bureau/stat/isco/
            

Див.також: http://hrliga.com/docs/327_KP.htm</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="NotifyPropertyChangedBase">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="OccupID" type="xs:string" type_ukr="текст" displayName="Код професії/групи" description="Код професії чи групи професій" field_order="1" />
          <xs:element minOccurs="0" maxOccurs="1" name="ParentOccupID" type="xs:string" type_ukr="текст" displayName="Код групи" description="Код групи професій, до якої відноситься дана професія" field_order="2" />
          <xs:element minOccurs="0" maxOccurs="1" name="OccupName" type="xs:string" type_ukr="текст" displayName="Назва професії/групи" description="Назва професії чи групи професій (оригінальне написання англ., згідно стандарту)" field_order="3" />
          <xs:element minOccurs="0" maxOccurs="1" name="OccupNameUkr" type="xs:string" type_ukr="текст" displayName="Назва професії/групи (укр.)" description="Переклад назви професії чи групи професій українською" field_order="4" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EmploymentRecordInfo">
    <xs:annotation>
      <xs:documentation>Структура для зберігання відомостей про досвід роботи
            (один "епізод" з трудової біографії)</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="NotifyPropertyChangedBase">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="State" type="EmploymentState" displayName="Тип зайнятості" field_order="1">
            <xs:annotation>
              <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!

            обов'язкове поле</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="IsEmploymentBookRegistered" type="xs:boolean" type_ukr="логічний тип(так/ні)" displayName="Є в трудовій книзі" description="Чи відображено запис у трудовій книзі?" field_order="2">
            <xs:annotation>
              <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!

            обов'язкове поле</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="Employer" type="GenericPersonID" displayName="Роботодавець" field_order="3">
            <xs:annotation>
              <xs:documentation>(!)ПОЛЕ ОБОВ'ЯЗКОВЕ ЗА УМОВИ(!):
   State == Employed

            Обов'язкове поле
            Посилання - реквізити в MentionedEntities</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="PrincipalContractor" type="GenericPersonID" displayName="Основний замовник" description="Основний замовник - для самозайнятих/фрілансерів" field_order="4">
            <xs:annotation>
              <xs:documentation>(!)ПОЛЕ ОБОВ'ЯЗКОВЕ ЗА УМОВИ(!):
   State == Freelance OR State == Selfemployed</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="PrincipalFreelanceActivity" type="EconomicActivityType" displayName="Основний вид діяльності" description="Основний вид діяльності - для самозайнятих/фрілансерів" field_order="5">
            <xs:annotation>
              <xs:documentation>(!)ПОЛЕ ОБОВ'ЯЗКОВЕ ЗА УМОВИ(!):
   State == Freelance OR State == Selfemployed

            Заповнюється через випадаючий список КВЕД-ів.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="JobTitle" type="xs:string" type_ukr="текст" displayName="Посада/функція" field_order="6">
            <xs:annotation>
              <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!

            обов'язкове, вільний формат</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="ISCOJobSpec" type="ISCO" displayName="Код та назва професії за МОП" description="Код та назва професії за класифікатором Міжнародної організації праці / ДК 003:2010" field_order="7">
            <xs:annotation>
              <xs:documentation>Код професії, у ролі якого працівник був зайнятий,
            згідно Міжнародного стандарту класифікації професій
            та його української (ДК 003:2010) / іншої локальної адаптації</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="IsSupervisedIndustryExperience" type="xs:boolean" type_ukr="логічний тип(так/ні)" displayName="Банківський/фінансовий досвід" description="Чи враховується описуване місце роботи у загальний банкісько-фінансовий стаж" field_order="8">
            <xs:annotation>
              <xs:documentation>Чи є дана робота досвідом роботи у регульованій галузі?</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="IsManagingPosition" type="xs:boolean" type_ukr="логічний тип(так/ні)" displayName="Керівна посада" description="Чи враховується описуване місце роботи у загальний стаж роботи на керівних посадах" field_order="9">
            <xs:annotation>
              <xs:documentation>Чи є це керівною посадою?</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="DateStarted" type="xs:dateTime" type_ukr="дата і час" displayName="Дата початку роботи" description="Дата початку роботи чи переходу в нинішній статус (фрілансер, безробітний, тощо)" field_order="10">
            <xs:annotation>
              <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!

            обов'язкове, з точністю до місяця</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="IsStillWorkingThere" type="xs:boolean" type_ukr="логічний тип(так/ні)" displayName="чинне місце роботи/статус" description="(відзначити, якщо це - чинне місце роботи на дату заповнення анкети)" field_order="11">
            <xs:annotation>
              <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="DateQuit" nillable="true" type="xs:dateTime" type_ukr="дата і час" displayName="Дата кінця роботи" field_order="12">
            <xs:annotation>
              <xs:documentation>з точністю до місяця
            якщо не заповнене, значить він/вона/воно там ще досі працює</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="TerminationType" type="EmploymentTerminationType" displayName="Тип закінчення діяльності" field_order="13">
            <xs:annotation>
              <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!

            обов'язкове поле (хіба ще досі там працює)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="DismissalOrUnemployedReason" type="xs:string" type_ukr="текст" displayName="Причина звільнення" description="причина звільнення; якщо трудовий стаж переривався, то слід зазначити причину" field_order="14">
            <xs:annotation>
              <xs:documentation>Пояснення обов'язкове для TerminationType типів:
            - Dismissed
            - OtherLeaveType
            - VoluntaryQuit</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="KZPPArticlePt" type="xs:string" type_ukr="текст" displayName="Стаття, пункт звільнення" description="Стаття і пункт Кодексу законів про працю, за якою було припинено трудові стосунки" field_order="15">
            <xs:annotation>
              <xs:documentation>Формальна стаття і пункт звільнення
            згідно з КЗпП</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="EmployerOrContractorContact" type="ContactInfo" displayName="Контакти роботодавця / замовника" description="Для найманих працівників - контакти роботодавця, для фрілансерів і самозайнятих - основного замовника" field_order="16">
            <xs:annotation>
              <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!

            тел, e-mail, якщо є - www;
            якщо вказується особа, то вона сприймається як рекомендувач; чим повніше цю особу ідентифіковано, тим краще для подавача
            Якщо той же самий роботодавець уже фігурує у вже заповнених раніше записах, вказувати не потрібно;
            Якщо роботодавець той же, але рекомендувач - інший, заповнюємо контакти рекомендувача 
            (наприклад, при зміні посади, підрозділу / 
            проекту в рамках тієї ж організації-роботодавця)</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="EmploymentState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" description="Не вказано" enum_value="0" />
      <xs:enumeration value="Employed" description="Найманий працівник" enum_value="1" />
      <xs:enumeration value="Selfemployed" description="Самозайнятість" enum_value="2" />
      <xs:enumeration value="Freelance" description="Фрілансер" enum_value="3" />
      <xs:enumeration value="Unemployed" description="Безробітний" enum_value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="EconomicActivityType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="KVEDCode" type="xs:string" type_ukr="текст" displayName="Код діяльності за КВЕД" field_order="1">
        <xs:annotation>
          <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="KVEDActivityName" type="xs:string" type_ukr="текст" displayName="Назва діяльності за КВЕД" field_order="2">
        <xs:annotation>
          <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ActivitySelfName" type="xs:string" type_ukr="текст" displayName="Власна фактична назва діяльності" field_order="3" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="EmploymentTerminationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" description="Не вказано" enum_value="0" />
      <xs:enumeration value="PromotedOrRelocated" description="Підвищення/переміщення" enum_value="1" />
      <xs:enumeration value="VoluntaryQuit" description="Звільнення за вл.баж." enum_value="2" />
      <xs:enumeration value="Dismissed" description="Звільнення (з ініціативи працедавця" enum_value="3" />
      <xs:enumeration value="Retired" description="Вихід на пенсію" enum_value="4" />
      <xs:enumeration value="MaternityLeave" description="Декретна відпустка" enum_value="5" />
      <xs:enumeration value="MilitaryServiceLeave" description="Військова служба" enum_value="6" />
      <xs:enumeration value="HealthConditionLeave" description="За станом здоров'я" enum_value="7" />
      <xs:enumeration value="OtherLeaveType" description="Інше" enum_value="8" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ContactInfo">
    <xs:annotation>
      <xs:documentation>Контактна інформація</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Person" type="PhysicalPersonInfo" displayName="Контактна особа" description="Контактна особа (фізособа)" field_order="1">
        <xs:annotation>
          <xs:documentation>Необов'язкове поле; якщо заповнюється, то достатньо (як правило) П.І.Б.; як вони хочуть, щоб до них зверталися (хоч би й лише Name),
            напр. "Люда, тел. XXX-XXX-XX-XX, e-mail..."</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="PreferrableMeansOfCommunication" type="MeansOfCommunication" displayName="Бажаний засіб комунікації" description="Оберіть той засіб комунікації, котрий є для Вас бажаним (і заповніть відповідні поля)" field_order="2">
        <xs:annotation>
          <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="Phones" type="ArrayOfPhoneInfo" displayName="Телефони" description="Перелік телефонів" field_order="3">
        <xs:annotation>
          <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!

            Бодай один телефон.
            Хай самі вказують стільки, скільки хочуть, залежно від того, 
            наскільки вони хочуть, щоб їх знайшли, у разі потреби/питань.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Fax" type="xs:string" type_ukr="текст" displayName="Факс" field_order="4">
        <xs:annotation>
          <xs:documentation>Необов'язкове поле, як на мене - вже застарілий засіб зв'язку.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="Emails" type="ArrayOfEmailInfo" displayName="E-mail-и" description="Перелік адрес електронної пошти" field_order="5">
        <xs:annotation>
          <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!

            Мінімум одне мило - обов'язково питати.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="www" type="xs:string" type_ukr="текст" displayName="www" description="Веб-сайт" field_order="6">
        <xs:annotation>
          <xs:documentation>Не обов'язкове (окрім банку, видавництва, тощо - де це вимагається контекстом використання цього типу).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Address" type="LocationInfo" displayName="Адреса для листування" description="Адреса для звичайної пошти" field_order="7" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="MeansOfCommunication">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" description="Не вказано" enum_value="0" />
      <xs:enumeration value="Phone" description="Телефон(-и)" enum_value="1" />
      <xs:enumeration value="Email" description="Ел.пошта" enum_value="2" />
      <xs:enumeration value="Fax" description="Факс" enum_value="3" />
      <xs:enumeration value="Mail" description="Звичайна пошта" enum_value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ArrayOfPhoneInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PhoneInfo" nillable="true" type="PhoneInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PhoneInfo">
    <xs:annotation>
      <xs:documentation>Інформація про телефон</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="PhoneName" type="xs:string" type_ukr="текст" displayName="Тип/назва телефону" description="Тип/назва телефону" field_order="1">
        <xs:annotation>
          <xs:documentation>не обов'язкове, значення (напр.) - дом., моб., роб., тощо</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="PhoneNr" type="xs:string" type_ukr="текст" displayName="№ телефону" description="№ телефону" field_order="2">
        <xs:annotation>
          <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="PhoneNotes" type="xs:string" type_ukr="текст" displayName="Примітки щодо телефону" description="Примітки щодо телефону" field_order="3">
        <xs:annotation>
          <xs:documentation>напр. "дзвонити з 9 до 18, по вихідних, поза зоною тоді-то, тощо"</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfEmailInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmailInfo" nillable="true" type="EmailInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EmploymentBookInfo">
    <xs:annotation>
      <xs:documentation>Відомості про трудову книгу</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="BookSeries" type="xs:string" type_ukr="текст" displayName="Серія" description="Серія трудової книги" field_order="1" />
      <xs:element minOccurs="0" maxOccurs="1" name="BookNr" type="xs:string" type_ukr="текст" displayName="№" description="№ трудової книги" field_order="2" />
      <xs:element minOccurs="1" maxOccurs="1" name="FilledDate" type="xs:dateTime" type_ukr="дата і час" displayName="Дата заповнення" description="Дата видачі (першого заповнення) трудової книги" field_order="3" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfEmploymentRecordInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmploymentRecordInfo" nillable="true" type="EmploymentRecordInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:include schemaLocation="NotifyPropertyChangedBase.uk-UA.xsd" />
  <xs:include schemaLocation="CountryInfo.uk-UA.xsd" />
  <xs:include schemaLocation="LocationInfo.uk-UA.xsd" />
  <xs:include schemaLocation="EntityType.uk-UA.xsd" />
  <xs:include schemaLocation="GenericPersonID.uk-UA.xsd" />
  <xs:include schemaLocation="EmailInfo.uk-UA.xsd" />
</xs:schema>