SignOwn/XSDs/FinancialOversightAuthorityInfo.uk-UA.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="FinancialOversightAuthorityInfo" nillable="true" type="FinancialOversightAuthorityInfo" />
  <xs:complexType name="FinancialOversightAuthorityInfo">
    <xs:annotation>
      <xs:documentation>Банківський/фінансовий наглядовий/регуляторний орган 
            (згадується у декотрих анкетах)
            
            Задля мінімізації зусиль подавачів на введення, а також уникнення помилок, бажано мати довідник цих установ і давати обрати зі списку, відфільтрувавши за країною резидентності
            

Див.також: http://en.wikipedia.org/wiki/Category:Financial_regulatory_authorities</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Jurisdiction" type="CountryInfo" displayName="Країна юрисдикції">
        <xs:annotation>
          <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="AuthorityName" type="xs:string" type_ukr="текст" displayName="Назва органу">
        <xs:annotation>
          <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!

            Назва органу оригінальною мовою, напр.:
             - Bundesanstalt für Finanzdienstleistungsaufsicht
             - Komisja Nadzoru Finansowego</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="AuthorityNameUkr" type="xs:string" type_ukr="текст" displayName="Назва органу(українською)">
        <xs:annotation>
          <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!

            Назва органу українською, напр.:
             - Бундесанштальт фюр фінанцдінстляйстунґзауфзіхт - Федеральний орган нагляду за фінансовими послугами (ФРН)
             - Комісія надзору фінансовеґо - Комісія фінансового нагляду (Польща)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="Address" type="LocationInfo" displayName="Адреса">
        <xs:annotation>
          <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!

            Максимальне заповнення полів</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="Contacts" type="ContactInfo" displayName="Контакти">
        <xs:annotation>
          <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!

            Контакти органу
            Поля, які бажано заповнити - www</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:include schemaLocation="CountryInfo.uk-UA.xsd" />
  <xs:include schemaLocation="LocationInfo.uk-UA.xsd" />
  <xs:include schemaLocation="ContactInfo.uk-UA.xsd" />
  <xs:include schemaLocation="PhysicalPersonInfo.uk-UA.xsd" />
  <xs:include schemaLocation="SexType.uk-UA.xsd" />
  <xs:include schemaLocation="RegistrarAuthority.uk-UA.xsd" />
  <xs:include schemaLocation="EntityType.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfPhoneInfo.uk-UA.xsd" />
  <xs:include schemaLocation="PhoneInfo.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfEmailInfo.uk-UA.xsd" />
  <xs:include schemaLocation="EmailInfo.uk-UA.xsd" />
</xs:schema>