SignOwn/XSDs/LegalTransactionInfo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="LegalTransactionInfo" nillable="true" type="LegalTransactionInfo" />
  <xs:complexType name="LegalTransactionInfo">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="TransactionType" type="LegalTransactionType" />
      <xs:element minOccurs="0" maxOccurs="1" name="TransactionNr" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="TransactionDate" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="Parties" type="ArrayOfGenericPersonID" />
      <xs:element minOccurs="0" maxOccurs="1" name="TransactionText" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="LegalTransactionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="BuySellAgreement" />
      <xs:enumeration value="GrantAgreement" />
      <xs:enumeration value="Inheritance" />
      <xs:enumeration value="SwapAgreement" />
      <xs:enumeration value="Other" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ArrayOfGenericPersonID">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GenericPersonID" nillable="true" type="GenericPersonID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericPersonID">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="CountryISO3Code" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="PersonType" type="EntityType" />
      <xs:element minOccurs="0" maxOccurs="1" name="PersonCode" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="EntityType">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="None" />
          <xs:enumeration value="Physical" />
          <xs:enumeration value="Legal" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
</xs:schema>