SignOwn/XSDs/LegalTransactionInfo.uk-UA.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="LegalTransactionInfo" nillable="true" type="LegalTransactionInfo" />
  <xs:complexType name="LegalTransactionInfo">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="TransactionType" type="LegalTransactionType" />
      <xs:element minOccurs="0" maxOccurs="1" name="TransactionNr" type="xs:string" type_ukr="текст" />
      <xs:element minOccurs="1" maxOccurs="1" name="TransactionDate" type="xs:dateTime" type_ukr="дата і час" />
      <xs:element minOccurs="0" maxOccurs="1" name="Parties" type="ArrayOfGenericPersonID" />
      <xs:element minOccurs="0" maxOccurs="1" name="TransactionText" type="xs:string" type_ukr="текст" />
    </xs:sequence>
  </xs:complexType>
  <xs:include schemaLocation="LegalTransactionType.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfGenericPersonID.uk-UA.xsd" />
  <xs:include schemaLocation="GenericPersonID.uk-UA.xsd" />
  <xs:include schemaLocation="EntityType.uk-UA.xsd" />
</xs:schema>