SignOwn/XSDs/LegalPersonShareInfo.uk-UA.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="LegalPersonShareInfo" nillable="true" type="LegalPersonShareInfo" />
  <xs:complexType name="LegalPersonShareInfo">
    <xs:annotation>
      <xs:documentation>Увага! Цей тип було помічено як такий, що не використовується/застарів (Obsolete)!</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Person" type="LegalPersonInfo" displayName="Юр.особа-власник" description="Юр.особа-власник" field_order="1">
        <xs:annotation>
          <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="SharePct" type="xs:decimal" type_ukr="десяткове число, у т.ч. дрібне" displayName="Частка власності, %" description="Частка власності, %" field_order="2">
        <xs:annotation>
          <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:include schemaLocation="LegalPersonInfo.uk-UA.xsd" />
  <xs:include schemaLocation="NotifyPropertyChangedBase.uk-UA.xsd" />
  <xs:include schemaLocation="CurrencyAmount.uk-UA.xsd" />
  <xs:include schemaLocation="RegistrarAuthority.uk-UA.xsd" />
  <xs:include schemaLocation="CountryInfo.uk-UA.xsd" />
  <xs:include schemaLocation="LocationInfo.uk-UA.xsd" />
  <xs:include schemaLocation="EntityType.uk-UA.xsd" />
  <xs:include schemaLocation="OwnershipFormType.uk-UA.xsd" />
  <xs:include schemaLocation="LPRegisteredDateRecordId.uk-UA.xsd" />
  <xs:include schemaLocation="StockExchangeListingInfo.uk-UA.xsd" />
  <xs:include schemaLocation="StockExchangeInfo.uk-UA.xsd" />
  <xs:include schemaLocation="GenericPersonID.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfEconomicActivityType.uk-UA.xsd" />
  <xs:include schemaLocation="EconomicActivityType.uk-UA.xsd" />
</xs:schema>