SignOwn/XSDs/MissingInformationReasonInfo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MissingInformationReasonInfo" nillable="true" type="MissingInformationReasonInfo" />
  <xs:complexType name="MissingInformationReasonInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="PropertyName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ReasonWhyMissing" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>