SignOwn/XSDs/OwnershipVotesInfo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="OwnershipVotesInfo" nillable="true" type="OwnershipVotesInfo" />
  <xs:complexType name="OwnershipVotesInfo">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Pct" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Votes" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>