SignOwn/XSDs/PhoneInfo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PhoneInfo" nillable="true" type="PhoneInfo" />
  <xs:complexType name="PhoneInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="PhoneName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PhoneNr" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PhoneNotes" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>