SignOwn/XSDs/PhysicalPersonInfo.uk-UA.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PhysicalPersonInfo" nillable="true" type="PhysicalPersonInfo" />
  <xs:complexType name="PhysicalPersonInfo">
    <xs:annotation>
      <xs:documentation>Інформація про фіз.особу (реквізити)</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="NotifyPropertyChangedBase">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="CitizenshipCountry" type="CountryInfo" displayName="Громадянство" description="Громадянство" field_order="1">
            <xs:annotation>
              <xs:documentation>Обов'язкове поле (окрім хіба ContactInfo)
            За змовчанням (пропонувати) - Україна</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="HasDoubleCitizenship" type="xs:boolean" type_ukr="логічний тип(так/ні)" displayName="Має інше громадянство?" description="Особа має додаткове (подвійне) громадянство іншої(-их) країн(-и)" field_order="2" />
          <xs:element minOccurs="0" maxOccurs="1" name="DoubleCitizenshipCountries" type="ArrayOfCountryInfo" displayName="Додаткове(-і)/подвійне(-і) громадянство(-а)" description="Відомості про подвійне громадянство інших країн, ніж вказаної в полі 'Громадянство'" field_order="3" />
          <xs:element minOccurs="0" maxOccurs="1" name="Surname" type="xs:string" type_ukr="текст" displayName="Прізвище" description="Прізвище" category="Ім'я" field_order="4" />
          <xs:element minOccurs="0" maxOccurs="1" name="SurnameAtBirth" type="xs:string" type_ukr="текст" displayName="Прізвище при народженні" description="Прізвище при народженні - дівоче чи у інших випадках, якщо мала місце зміна прізвища" category="Ім'я" field_order="5" />
          <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" type_ukr="текст" displayName="Ім'я" description="Ім'я" category="Ім'я" field_order="6" />
          <xs:element minOccurs="0" maxOccurs="1" name="MiddleName" type="xs:string" type_ukr="текст" displayName="По-батькові/друге ім'я" description="По-батькові/друге ім'я" category="Ім'я" field_order="7" />
          <xs:element minOccurs="1" maxOccurs="1" name="FullName" type="xs:string" type_ukr="текст" displayName="П.І.Б." description="П.І.Б." category="Ім'я" field_order="8">
            <xs:annotation>
              <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!

            Вказувати достатньо повного імені; 
            Якщо є натхнення (або вимагає анкета) - можна й деталізацію по полях
            Для нерезидентів бажано вимагати як окремих частин імені, 
            так і повного (повністю) (бо хто його там зна, як до нього звертатися)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="SurnameUkr" type="xs:string" type_ukr="текст" displayName="Прізвище (укр.)" description="Прізвище, українською" category="Ім'я" field_order="9">
            <xs:annotation>
              <xs:documentation>для нерезидентів</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="NameUkr" type="xs:string" type_ukr="текст" displayName="Ім'я (укр.)" description="Ім'я, українською" category="Ім'я" field_order="10">
            <xs:annotation>
              <xs:documentation>для нерезидентів</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="MiddleNameUkr" type="xs:string" type_ukr="текст" displayName="По-батькові/друге ім'я (укр.)" description="По-батькові/друге ім'я, українською" category="Ім'я" field_order="11">
            <xs:annotation>
              <xs:documentation>для нерезидентів</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="FullNameUkr" type="xs:string" type_ukr="текст" displayName="П.І.Б (укр.)" description="П.І.Б., українською" category="Ім'я" field_order="12">
            <xs:annotation>
              <xs:documentation>для нерезидентів</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="IsIPNRefused" type="xs:boolean" type_ukr="логічний тип(так/ні)" displayName="ІПН немає" description="Особа у встановленому порядку відмовилася від індивідувального податкового номера?" category="Індивідуальний податковий номер" field_order="13" />
          <xs:element minOccurs="0" maxOccurs="1" name="IPNRefusalEvidence" type="IPNRefusalRecordInfo" displayName="Відміка про відсутність ІПН-у" description="Відомості про відповідний запи/відмітку в паспорті громадянина (про відмові від ІПН та погодження такої відмови)" category="Індивідуальний податковий номер" field_order="14" />
          <xs:element minOccurs="0" maxOccurs="1" name="TaxOrSocSecID" type="xs:string" type_ukr="текст" displayName="ІПН" description="ІПН/№ картки соціального страхування/тощо, дивлячись, що використовується у країні резидентства" category="Індивідуальний податковий номер" field_order="15">
            <xs:annotation>
              <xs:documentation>(!)ПОЛЕ ОБОВ'ЯЗКОВЕ ЗА УМОВИ(!):
   Not IsIPNRefused</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="PassportID" type="xs:string" type_ukr="текст" displayName="Серія № паспорта" description="Серія № паспорта" category="Паспортні дані" field_order="16" />
          <xs:element minOccurs="1" maxOccurs="1" name="PassIssuedDate" nillable="true" type="xs:dateTime" type_ukr="дата і час" displayName="Дата видачі паспорта" description="Дата видачі паспорта" category="Паспортні дані" field_order="17" />
          <xs:element minOccurs="0" maxOccurs="1" name="PassIssueAuthority" type="RegistrarAuthority" displayName="Орган, що видав паспорт" description="Орган, що видав паспорт" category="Паспортні дані" field_order="18" />
          <xs:element minOccurs="0" maxOccurs="1" name="Address" type="LocationInfo" displayName="Місце реєстрації" description="Місце реєстрації" category="Адреса(-и)" field_order="19">
            <xs:annotation>
              <xs:documentation>Поле необхідне лише якщо вимагається у анкеті</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="IsResidentialAndRegistrationAddressDifferent" type="xs:boolean" type_ukr="логічний тип(так/ні)" displayName="Місце проживання й реєстрації відрізняються" description="Відзначте цю галочку, якщо місце фактичного проживання цієї особи відрізняються від адреси її офіційної реєстрації" category="Адреса(-и)" field_order="20" />
          <xs:element minOccurs="0" maxOccurs="1" name="ActualAddress" type="LocationInfo" displayName="Місце проживання" description="Місце фактичного проживання (якщо інше, ніж реєстрації)" category="Адреса(-и)" field_order="21">
            <xs:annotation>
              <xs:documentation>Поле необхідне лише якщо вимагається у анкеті, та якщо відрізняється від місця реєстрації.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="Sex" type="SexType" displayName="Стать" description="Стать" category="Додаткова інформація" field_order="22">
            <xs:annotation>
              <xs:documentation>Бажано вимагати; дивитися за контекстом конкретного поля 
            у конкретній анкеті</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="BirthDate" nillable="true" type="xs:dateTime" type_ukr="дата і час" displayName="Дата народження" description="Дата народження" category="Додаткова інформація" field_order="23">
            <xs:annotation>
              <xs:documentation>Як правило, необов'язкове поле
            Буває, що онука називають як діда, і у ланцюжку володіння фігурують обидва
            Тоді корисно мати ще й дату народження, щоб відрізняти; 
            буває, що онук ще неповнолітній та не має паспорта/кода
            (реальний випадок - банк "Грант", щоправда, там, був код ІПН)</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:include schemaLocation="NotifyPropertyChangedBase.uk-UA.xsd" />
  <xs:include schemaLocation="RegistrarAuthority.uk-UA.xsd" />
  <xs:include schemaLocation="CountryInfo.uk-UA.xsd" />
  <xs:include schemaLocation="LocationInfo.uk-UA.xsd" />
  <xs:include schemaLocation="EntityType.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfCountryInfo.uk-UA.xsd" />
  <xs:include schemaLocation="IPNRefusalRecordInfo.uk-UA.xsd" />
  <xs:include schemaLocation="SignatoryInfo.uk-UA.xsd" />
  <xs:include schemaLocation="PowerOfAttorneyInfo.uk-UA.xsd" />
  <xs:include schemaLocation="GenericPersonID.uk-UA.xsd" />
  <xs:include schemaLocation="SexType.uk-UA.xsd" />
</xs:schema>