SignOwn/XSDs/ProfessionLicenseInfo.uk-UA.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ProfessionLicenseInfo" nillable="true" type="ProfessionLicenseInfo" />
  <xs:complexType name="ProfessionLicenseInfo">
    <xs:annotation>
      <xs:documentation>Інформація про ліцензію на зайняття професійною діяльністю</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="LicenseIssuer" type="ProfessionLicensingBodyInfo" displayName="Ліцензор">
        <xs:annotation>
          <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!

            хто надав/екзаменував ліцензію
            обов'язкове</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="LicenseIssueDate" type="xs:dateTime" type_ukr="дата і час" displayName="Дата видачі">
        <xs:annotation>
          <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!

            обов'язкове</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="LicenseValidTill" type="xs:dateTime" type_ukr="дата і час" displayName="Дійсна до">
        <xs:annotation>
          <xs:documentation>якщо не вказана - дійсна довічно</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="LicenseIDNr" type="xs:string" type_ukr="текст" displayName="№ ліцензії">
        <xs:annotation>
          <xs:documentation>якщо передбачено</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="LicenseQualifications" type="ArrayOfLicenseQualificationInfo" displayName="Кваліфікації/види діяльності за ліцензією">
        <xs:annotation>
          <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="LicenseClause" type="xs:string" type_ukr="текст" displayName="Формулювання/текст ліцензії" description="Додаткові суттєві відомості про ліцензію">
        <xs:annotation>
          <xs:documentation>Якщо недостатньо поля LicenseQualifications</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:include schemaLocation="ProfessionLicensingBodyInfo.uk-UA.xsd" />
  <xs:include schemaLocation="LegalPersonInfo.uk-UA.xsd" />
  <xs:include schemaLocation="LocationInfo.uk-UA.xsd" />
  <xs:include schemaLocation="CountryInfo.uk-UA.xsd" />
  <xs:include schemaLocation="RegistrarAuthority.uk-UA.xsd" />
  <xs:include schemaLocation="EntityType.uk-UA.xsd" />
  <xs:include schemaLocation="LPRegisteredDateRecordId.uk-UA.xsd" />
  <xs:include schemaLocation="GenericPersonID.uk-UA.xsd" />
  <xs:include schemaLocation="CurrencyAmount.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfEconomicActivityType.uk-UA.xsd" />
  <xs:include schemaLocation="EconomicActivityType.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfLicenseQualificationInfo.uk-UA.xsd" />
  <xs:include schemaLocation="LicenseQualificationInfo.uk-UA.xsd" />
</xs:schema>