SignOwn/XSDs/ProfessionLicenseInfo.full.uk-UA.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ProfessionLicenseInfo" nillable="true" type="ProfessionLicenseInfo" />
  <xs:complexType name="ProfessionLicenseInfo">
    <xs:annotation>
      <xs:documentation>Інформація про ліцензію на зайняття професійною діяльністю</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="LicenseIssuer" type="ProfessionLicensingBodyInfo" displayName="Ліцензор" field_order="1">
        <xs:annotation>
          <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!

            хто надав/екзаменував ліцензію
            обов'язкове</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="LicenseIssueDate" type="xs:dateTime" type_ukr="дата і час" displayName="Дата видачі" field_order="2">
        <xs:annotation>
          <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!

            обов'язкове</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="LicenseValidTill" nillable="true" type="xs:dateTime" type_ukr="дата і час" displayName="Дійсна до" field_order="3">
        <xs:annotation>
          <xs:documentation>якщо не вказана - дійсна довічно</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="LicenseIDNr" type="xs:string" type_ukr="текст" displayName="№ ліцензії" field_order="4">
        <xs:annotation>
          <xs:documentation>якщо передбачено</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="LicenseQualifications" type="ArrayOfLicenseQualificationInfo" displayName="Кваліфікації/види діяльності за ліцензією" field_order="5">
        <xs:annotation>
          <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="LicenseClause" type="xs:string" type_ukr="текст" displayName="Формулювання/текст ліцензії" description="Додаткові суттєві відомості про ліцензію" field_order="6">
        <xs:annotation>
          <xs:documentation>Якщо недостатньо поля LicenseQualifications</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProfessionLicensingBodyInfo">
    <xs:annotation>
      <xs:documentation>Ліцензійна організація
            (напр. проф.комісія, що надає ліцензії для заняття 
            тим чи іншим видом професійної діяльності, чи ж видає сертифікат - галузевий чи професійний)</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="NotifyPropertyChangedBase">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="Name" type="xs:string" type_ukr="текст" displayName="Назва ліцензіатора" field_order="1">
            <xs:annotation>
              <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!

            Назва оригінальною мовою</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="NameUkr" type="xs:string" type_ukr="текст" displayName="Назва ліцензіатора(укр.)" field_order="2">
            <xs:annotation>
              <xs:documentation>Назва українською (якщо нерезидент)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="LegalPerson" type="LegalPersonInfo" displayName="Реквізити юрособи (ліцензіатора)" field_order="3">
            <xs:annotation>
              <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!

            обов'язкові поля: Назва(-и), Адреса, країна резидентності</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfLicenseQualificationInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LicenseQualificationInfo" nillable="true" type="LicenseQualificationInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LicenseQualificationInfo">
    <xs:annotation>
      <xs:documentation>Інформація про професійну діяльність, що ліцензується
            

Див.також: http://kodeksy.com.ua/buh/kp.htm</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="QualificationCode" type="xs:string" type_ukr="текст" displayName="Код професії/діяльності (якщо існує)" description="Код професії згідно відповідного класифікатору/довідника професій (напр.http://kodeksy.com.ua/buh/kp.htm)" field_order="1">
        <xs:annotation>
          <xs:documentation>Якщо існує</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="QualificationName" type="xs:string" type_ukr="текст" displayName="Назва професії/діяльності" description="Назва професії/виду ліцензованої діяльності згідно відповідного класифікатору/довідника професій (напр.http://kodeksy.com.ua/buh/kp.htm)" field_order="2">
        <xs:annotation>
          <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!

            обов'язкове</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:include schemaLocation="NotifyPropertyChangedBase.uk-UA.xsd" />
  <xs:include schemaLocation="CurrencyAmount.uk-UA.xsd" />
  <xs:include schemaLocation="RegistrarAuthority.uk-UA.xsd" />
  <xs:include schemaLocation="CountryInfo.uk-UA.xsd" />
  <xs:include schemaLocation="LocationInfo.uk-UA.xsd" />
  <xs:include schemaLocation="EntityType.uk-UA.xsd" />
  <xs:include schemaLocation="LegalPersonInfo.uk-UA.xsd" />
  <xs:include schemaLocation="OwnershipFormType.uk-UA.xsd" />
  <xs:include schemaLocation="LPRegisteredDateRecordId.uk-UA.xsd" />
  <xs:include schemaLocation="StockExchangeListingInfo.uk-UA.xsd" />
  <xs:include schemaLocation="StockExchangeInfo.uk-UA.xsd" />
  <xs:include schemaLocation="GenericPersonID.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfEconomicActivityType.uk-UA.xsd" />
  <xs:include schemaLocation="EconomicActivityType.uk-UA.xsd" />
</xs:schema>