SignOwn/XSDs/RegLicAppx4OwnershipAcqRequestPP.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RegLicAppx4OwnershipAcqRequestPP" nillable="true" type="RegLicAppx4OwnershipAcqRequestPP" />
  <xs:complexType name="RegLicAppx4OwnershipAcqRequestPP">
    <xs:complexContent mixed="false">
      <xs:extension base="QuestionnaireBase">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="BankRef" type="BankInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="Acquiree" type="PhysicalPersonInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="BankingAccounts" type="ArrayOfBankAccountInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="ReferenceBank" type="BankInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="EmploymentRecords" type="ArrayOfEmploymentRecordInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="EducationRecords" type="ArrayOfEducationRecordInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="ProfessionalLicenses" type="ArrayOfProfessionLicenseInfo" />
          <xs:element minOccurs="1" maxOccurs="1" name="IsForeignFinOversightBodyApprovalRequired" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="ForeignFinOversightBody" type="FinancialOversightAuthorityInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="IssuePublication" type="PublicationInfo" />
          <xs:element minOccurs="1" maxOccurs="1" name="IsUnderwritten" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="Underwriter" type="GenericPersonID" />
          <xs:element minOccurs="0" maxOccurs="1" name="ExistingOwnershipWithBankSummary" type="TotalOwnershipDetailsInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="ExistingOwnershipWithBankDetails" type="ArrayOfOwnershipStructure" />
          <xs:element minOccurs="0" maxOccurs="1" name="TargetedOwnershipWithBankSummaryDiff" type="TotalOwnershipDetailsInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="TargetedOwnershipWithBankDiffDetails" type="ArrayOfOwnershipStructure" />
          <xs:element minOccurs="0" maxOccurs="1" name="TargetedForeignInvestmentSummaryDiff" type="OwnershipSummaryInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="TargetedOwnershipWithBankSummary" type="TotalOwnershipDetailsInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="TargetedOwnershipWithBankDetails" type="ArrayOfOwnershipStructure" />
          <xs:element minOccurs="1" maxOccurs="1" name="IsAssociatedPersonWithIssuer" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="SharesToBePurchased" type="SharesAcquisitionInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="FundsOrigins" type="ArrayOfIncomeOriginInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="PaymentModes" type="ArrayOfPaymentModeInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="PaymentDeadlines" type="ArrayOfPaymentDeadlineInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="LoansWithBanks" type="ArrayOfLoanInfo" />
          <xs:element minOccurs="1" maxOccurs="1" name="HasAcquireeOwnershipOtherThanBankRef" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="AcquireeOwnershipOtherThanBankRef" type="ArrayOfOwnershipStructure" />
          <xs:element minOccurs="1" maxOccurs="1" name="IsBoardsMemberOtherThanBankRef" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="BoardsMembershipOtherThanBankRef" type="ArrayOfCouncilBodyInfo" />
          <xs:element minOccurs="1" maxOccurs="1" name="IsLinkedPersonOtherThanBankRef" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="LinkedBanksGoverningBodiesMembers" type="ArrayOfCouncilBodyInfo" />
          <xs:element minOccurs="1" maxOccurs="1" name="Is3rdPartiesGuarantor" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="FinGuaranteesDetails" type="ArrayOfFinancialGuaranteeInfo" />
          <xs:element minOccurs="1" maxOccurs="1" name="HasBreachesOfLaw" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="HasBreachesOfBusinessLaw" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="BreachesOfLaw" type="ArrayOfBreachOfLawRecordInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="OtherLiabilities" type="ArrayOfIndebtnessInfo" />
          <xs:element minOccurs="1" maxOccurs="1" name="HasLiquidatedSignOwnershipLastYear" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="LiquidatedSignOwnershipLastYear" type="ArrayOfLiquidatedEntityOwnershipInfo" />
          <xs:element minOccurs="1" maxOccurs="1" name="IsMoneyLaunderingEtcLawsKept" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="CanProveMoneyOrigins" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="IsApplicationInfoAccurateAndTrue" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="AmObligingToKeepUp2DateWithin10Days" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="MentionedIdentities" type="ArrayOfGenericPersonInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="PersonsLinks" type="ArrayOfPersonsAssociation" />
          <xs:element minOccurs="0" maxOccurs="1" name="Signatory" type="SignatoryInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="ContactPerson" type="ContactInfo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="QuestionnaireBase" abstract="true" />
  <xs:complexType name="BankInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="MFO" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="NameUkr" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="LegalPerson" type="GenericPersonID" />
      <xs:element minOccurs="0" maxOccurs="1" name="SWIFTBIC" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="OperationCountry" type="CountryInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericPersonID">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="CountryISO3Code" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="PersonType" type="EntityType" />
      <xs:element minOccurs="0" maxOccurs="1" name="PersonCode" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="EntityType">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="None" />
          <xs:enumeration value="Physical" />
          <xs:enumeration value="Legal" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:complexType name="CountryInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="CountryISO2Code" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CountryISO3Code" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CountryISONr" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CountryNameEng" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CountryNameUkr" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PhysicalPersonInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="SurnameUkr" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="NameUkr" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="MiddleNameUkr" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="FullNameUkr" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Surname" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="MiddleName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="FullName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Sex" type="SexType" />
      <xs:element minOccurs="1" maxOccurs="1" name="BirthDate" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="PassportID" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="PassIssuedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="PassIssueAuthority" type="RegistrarAuthority" />
      <xs:element minOccurs="0" maxOccurs="1" name="TaxOrSocSecID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Address" type="LocationInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="CitizenshipCountry" type="CountryInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="SexType">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="None" />
          <xs:enumeration value="Male" />
          <xs:enumeration value="Female" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:complexType name="RegistrarAuthority">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="JurisdictionCountry" type="CountryInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="Address" type="LocationInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="RegistrarCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="RegistrarName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="RegistrarNameUkr" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="EntitiesHandled" type="EntityType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LocationInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Country" type="CountryInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="Region" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ZipCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="City" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Street" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="HouseNr" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ApptOfficeNr" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfBankAccountInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BankAccountInfo" nillable="true" type="BankAccountInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BankAccountInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="AccountOwner" type="GenericPersonID" />
      <xs:element minOccurs="0" maxOccurs="1" name="Bank" type="BankInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="AccountNr" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="AccountCCY" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="AccountDescription" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfEmploymentRecordInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmploymentRecordInfo" nillable="true" type="EmploymentRecordInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EmploymentRecordInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Employer" type="GenericPersonID" />
      <xs:element minOccurs="0" maxOccurs="1" name="JobTitle" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="DateStarted" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="DateQuit" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="State" type="EmploymentState" />
      <xs:element minOccurs="1" maxOccurs="1" name="TerminationType" type="EmploymentTerminationType" />
      <xs:element minOccurs="0" maxOccurs="1" name="DismissalOrUnemployedReason" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="EmployerContact" type="ContactInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="EmploymentState">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="None" />
          <xs:enumeration value="Employed" />
          <xs:enumeration value="Selfemployed" />
          <xs:enumeration value="Freelance" />
          <xs:enumeration value="Unemployed" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:simpleType name="EmploymentTerminationType">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="None" />
          <xs:enumeration value="PromotedOrRelocated" />
          <xs:enumeration value="VoluntaryQuit" />
          <xs:enumeration value="Dismissed" />
          <xs:enumeration value="Retired" />
          <xs:enumeration value="MaternityLeave" />
          <xs:enumeration value="MilitaryServiceLeave" />
          <xs:enumeration value="HealthConditionLeave" />
          <xs:enumeration value="OtherLeaveType" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:complexType name="ContactInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Person" type="PhysicalPersonInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="Phones" type="ArrayOfPhoneInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="Fax" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Emails" type="ArrayOfEmailInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="www" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfPhoneInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PhoneInfo" nillable="true" type="PhoneInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PhoneInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="PhoneName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PhoneNr" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PhoneNotes" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfEmailInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmailInfo" nillable="true" type="EmailInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EmailInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Email" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="EmailDescription" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfEducationRecordInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EducationRecordInfo" nillable="true" type="EducationRecordInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EducationRecordInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="UniOrCollege" type="UniversityOrCollegeInfo" />
      <xs:element minOccurs="1" maxOccurs="1" name="GraduationDate" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="DegreeType" type="HigherEducationDegreeType" />
      <xs:element minOccurs="1" maxOccurs="1" name="HonourType" type="DegreeHonourType" />
      <xs:element minOccurs="0" maxOccurs="1" name="DegreeSeries" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DegreeID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Trade" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Qualification" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UniversityOrCollegeInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="UniversityName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="UniversityNameUkr" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Address" type="LocationInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="UniversityID" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="HigherEducationDegreeType">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="None" />
          <xs:enumeration value="Bachelor" />
          <xs:enumeration value="Master" />
          <xs:enumeration value="MBA" />
          <xs:enumeration value="CandidateDoctor" />
          <xs:enumeration value="PhD" />
          <xs:enumeration value="DoctorOfSciences" />
          <xs:enumeration value="DoctorOfLetters" />
          <xs:enumeration value="Professor" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:simpleType name="DegreeHonourType">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="None" />
          <xs:enumeration value="Rite" />
          <xs:enumeration value="CumLaude" />
          <xs:enumeration value="Honoured" />
          <xs:enumeration value="MagnaCumLaude" />
          <xs:enumeration value="SummaCumLaude" />
          <xs:enumeration value="EgregiaCumLaude" />
          <xs:enumeration value="MaximaCumLaude" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:complexType name="ArrayOfProfessionLicenseInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProfessionLicenseInfo" nillable="true" type="ProfessionLicenseInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProfessionLicenseInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="LicenseIssuer" type="ProfessionLicensingBodyInfo" />
      <xs:element minOccurs="1" maxOccurs="1" name="LicenseIssueDate" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="LicenseValidTill" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="LicenseIDNr" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="LicenseQualifications" type="ArrayOfLicenseQualificationInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="LicenseClause" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProfessionLicensingBodyInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="NameUkr" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="LegalPerson" type="LegalPersonInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LegalPersonInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="TaxCodeOrHandelsRegNr" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="NameUkr" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Address" type="LocationInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="ResidenceCountry" type="CountryInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="Registrar" type="RegistrarAuthority" />
      <xs:element minOccurs="0" maxOccurs="1" name="RegisteredDateID" type="LPRegisteredDateRecordId" />
      <xs:element minOccurs="0" maxOccurs="1" name="RepresentedBy" type="GenericPersonID" />
      <xs:element minOccurs="0" maxOccurs="1" name="Equity" type="CurrencyAmount" />
      <xs:element minOccurs="0" maxOccurs="1" name="PrincipalActivities" type="ArrayOfEconomicActivityType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LPRegisteredDateRecordId">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="RegisteredDate" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="RegistryRecordId" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CurrencyAmount">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="CCY" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Amt" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfEconomicActivityType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EconomicActivityType" nillable="true" type="EconomicActivityType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EconomicActivityType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="KVEDCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="KVEDActivityName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ActivitySelfName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfLicenseQualificationInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LicenseQualificationInfo" nillable="true" type="LicenseQualificationInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LicenseQualificationInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="QualificationCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="QualificationName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FinancialOversightAuthorityInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Jurisdiction" type="CountryInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="AuthorityName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="AuthorityNameUkr" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Address" type="LocationInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="Contacts" type="ContactInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PublicationInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Publisher" type="PublishingHouseInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="ISBN" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="MediaName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="PubDate" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="IssueNr" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PubUrl" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PublishingHouseInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="LegalPerson" type="LegalPersonInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TotalOwnershipDetailsInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="DirectOwnership" type="OwnershipSummaryInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="ImplicitOwnership" type="OwnershipSummaryInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="AcquiredVotes" type="OwnershipVotesInfo" />
      <xs:element minOccurs="1" maxOccurs="1" name="TotalCapitalSharePct" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="TotalVotes" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OwnershipSummaryInfo">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="SharesCount" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="SharesNominalValue" type="CurrencyAmount" />
      <xs:element minOccurs="1" maxOccurs="1" name="Pct" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OwnershipVotesInfo">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Pct" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Votes" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfOwnershipStructure">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OwnershipStructure" nillable="true" type="OwnershipStructure" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OwnershipStructure">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Asset" type="GenericPersonID" />
      <xs:element minOccurs="0" maxOccurs="1" name="Owner" type="GenericPersonID" />
      <xs:element minOccurs="1" maxOccurs="1" name="OwnershipKind" type="OwnershipType" />
      <xs:element minOccurs="1" maxOccurs="1" name="Share" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="SharesCount" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="SharePct" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Votes" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="OwnershipType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Direct" />
      <xs:enumeration value="Implicit" />
      <xs:enumeration value="Associated" />
      <xs:enumeration value="Agreement" />
      <xs:enumeration value="Attorney" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SharesAcquisitionInfo">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="SharesCount" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="InclVotingSharesCount" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="SharePrice" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="TotalCosts" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfIncomeOriginInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IncomeOriginInfo" nillable="true" type="IncomeOriginInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IncomeOriginInfo">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Origin" type="FundsOriginType" />
      <xs:element minOccurs="0" maxOccurs="1" name="Income" type="CurrencyAmount" />
      <xs:element minOccurs="0" maxOccurs="1" name="IncomeOriginNotes" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="FundsOriginType">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="None" />
          <xs:enumeration value="WagesSalaries" />
          <xs:enumeration value="Royalties" />
          <xs:enumeration value="Dividends" />
          <xs:enumeration value="PassiveIncomes" />
          <xs:enumeration value="Inherited" />
          <xs:enumeration value="Profit" />
          <xs:enumeration value="Equity" />
          <xs:enumeration value="SpecFunds" />
          <xs:enumeration value="OtherIncomes" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:complexType name="ArrayOfPaymentModeInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PaymentModeInfo" nillable="true" type="PaymentModeInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentModeInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Amount" type="CurrencyAmount" />
      <xs:element minOccurs="1" maxOccurs="1" name="PaymentMode" type="PaymentType" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="PaymentType">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="None" />
          <xs:enumeration value="Cash" />
          <xs:enumeration value="WireTransfer" />
          <xs:enumeration value="Other" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:complexType name="ArrayOfPaymentDeadlineInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PaymentDeadlineInfo" nillable="true" type="PaymentDeadlineInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentDeadlineInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Amount" type="CurrencyAmount" />
      <xs:element minOccurs="1" maxOccurs="1" name="Deadline" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfLoanInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LoanInfo" nillable="true" type="LoanInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LoanInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="IndebtnessInfoBase">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="AgreementNr" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="AgreementDt" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="OverdueSince" nillable="true" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="IndebtnessInfoBase">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Lender" type="GenericPersonID" />
      <xs:element minOccurs="0" maxOccurs="1" name="Borrower" type="GenericPersonID" />
      <xs:element minOccurs="0" maxOccurs="1" name="DebtSubject" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Principal" type="CurrencyAmount" />
      <xs:element minOccurs="1" maxOccurs="1" name="RepaymentDueDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="OutstandingPricipal" type="CurrencyAmount" />
      <xs:element minOccurs="1" maxOccurs="1" name="IsOverdue" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="PrincipalOverdue" type="CurrencyAmount" />
      <xs:element minOccurs="0" maxOccurs="1" name="OverdueDetails" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="OverdueReasons" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IndebtnessInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="IndebtnessInfoBase">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="IsRepaymentPlanned" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="PlannedRepaymentDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="RepaymentPlans" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfCouncilBodyInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CouncilBodyInfo" nillable="true" type="CouncilBodyInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CouncilBodyInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="GovernedEntityID" type="GenericPersonID" />
      <xs:element minOccurs="0" maxOccurs="1" name="Members" type="ArrayOfCouncilMemberInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="HeadMember" type="GenericPersonID" />
      <xs:element minOccurs="0" maxOccurs="1" name="CouncilBodyName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CouncilBodyNameUkr" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfCouncilMemberInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CouncilMemberInfo" nillable="true" type="CouncilMemberInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CouncilMemberInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Member" type="GenericPersonID" />
      <xs:element minOccurs="0" maxOccurs="1" name="PositionName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="FunctionsDescription" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfFinancialGuaranteeInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FinancialGuaranteeInfo" nillable="true" type="FinancialGuaranteeInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FinancialGuaranteeInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Person" type="GenericPersonID" />
      <xs:element minOccurs="1" maxOccurs="1" name="Role" type="FinancialGuarantorRoleType" />
      <xs:element minOccurs="0" maxOccurs="1" name="PledgeAmt" type="CurrencyAmount" />
      <xs:element minOccurs="0" maxOccurs="1" name="GuaranteeDetails" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="FinancialGuarantorRoleType">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="None" />
          <xs:enumeration value="Guarantor" />
          <xs:enumeration value="Pledger" />
          <xs:enumeration value="Attorney" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:complexType name="ArrayOfBreachOfLawRecordInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BreachOfLawRecordInfo" nillable="true" type="BreachOfLawRecordInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BreachOfLawRecordInfo">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="BreachType" type="BreachOfLawType" />
      <xs:element minOccurs="0" maxOccurs="1" name="CourtName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CourtNameUkr" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="JurisdictionCountry" type="CountryInfo" />
      <xs:element minOccurs="1" maxOccurs="1" name="SentenceDate" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodeOrLaw" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Articles" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Sentence" type="SentenceType" />
      <xs:element minOccurs="0" maxOccurs="1" name="OtherSanctionDetails" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="IsConvictionSettled" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="SettledDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="BreachOfLawType">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="None" />
          <xs:enumeration value="Criminal" />
          <xs:enumeration value="Antitrust" />
          <xs:enumeration value="Taxation" />
          <xs:enumeration value="Banking" />
          <xs:enumeration value="Financial" />
          <xs:enumeration value="ForeignCurrency" />
          <xs:enumeration value="StockExchange" />
          <xs:enumeration value="OtherAdministrative" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:simpleType name="SentenceType">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="None" />
          <xs:enumeration value="Jailed" />
          <xs:enumeration value="RemedialWorks" />
          <xs:enumeration value="Fined" />
          <xs:enumeration value="Dismissed" />
          <xs:enumeration value="LicenseRevoked" />
          <xs:enumeration value="LicenseSuspended" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:complexType name="ArrayOfIndebtnessInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IndebtnessInfo" nillable="true" type="IndebtnessInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfLiquidatedEntityOwnershipInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LiquidatedEntityOwnershipInfo" nillable="true" type="LiquidatedEntityOwnershipInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LiquidatedEntityOwnershipInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="LiquidatedOrInsolventEntityInfoBase">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Stake" type="TotalOwnershipDetailsInfo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LiquidatedOrInsolventEntityInfoBase">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Asset" type="GenericPersonID" />
      <xs:element minOccurs="1" maxOccurs="1" name="Status" type="InsolvencyStatus" />
      <xs:element minOccurs="1" maxOccurs="1" name="DateEffective" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="LiquidationReason" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="LiquidationPretext" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="InsolvencyStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Insolvent" />
      <xs:enumeration value="Liquidated" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ArrayOfGenericPersonInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GenericPersonInfo" nillable="true" type="GenericPersonInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericPersonInfo">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="PersonType" type="EntityType" />
      <xs:element minOccurs="0" maxOccurs="1" name="PhysicalPerson" type="PhysicalPersonInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="LegalPerson" type="LegalPersonInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfPersonsAssociation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonsAssociation" nillable="true" type="PersonsAssociation" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonsAssociation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="One" type="GenericPersonID" />
      <xs:element minOccurs="0" maxOccurs="1" name="Two" type="GenericPersonID" />
      <xs:element minOccurs="1" maxOccurs="1" name="AssociationType" type="OwnershipType" />
      <xs:element minOccurs="1" maxOccurs="1" name="AssociationRoleOneVsTwo" type="AssociatedPersonRole" />
      <xs:element minOccurs="1" maxOccurs="1" name="AssociationRoleTwoVsOne" type="AssociatedPersonRole" />
      <xs:element minOccurs="0" maxOccurs="1" name="AssociationRolesIfOther" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AssociatedPersonRole">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Husband" />
      <xs:enumeration value="Wife" />
      <xs:enumeration value="Son" />
      <xs:enumeration value="Daughter" />
      <xs:enumeration value="Father" />
      <xs:enumeration value="Mother" />
      <xs:enumeration value="Patron" />
      <xs:enumeration value="Brother" />
      <xs:enumeration value="Sister" />
      <xs:enumeration value="FatherInLaw" />
      <xs:enumeration value="MotherInLaw" />
      <xs:enumeration value="SonInLaw" />
      <xs:enumeration value="DaughterInLaw" />
      <xs:enumeration value="BrotherInLaw" />
      <xs:enumeration value="SisterInLaw" />
      <xs:enumeration value="Cousin" />
      <xs:enumeration value="GrandFather" />
      <xs:enumeration value="GrandMother" />
      <xs:enumeration value="GrandSon" />
      <xs:enumeration value="GrandDaughter" />
      <xs:enumeration value="NephewNiece" />
      <xs:enumeration value="AuncleAunt" />
      <xs:enumeration value="OtherRelative" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SignatoryInfo">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="DateSigned" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="SignatoryPosition" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="SurnameInitials" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="false" name="IsActingByPowOfAttorney" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="PowerOfAttorney" type="PowerOfAttorneyInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PowerOfAttorneyInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ActingPerson" type="GenericPersonID" />
      <xs:element minOccurs="0" maxOccurs="1" name="OnBehalfOfPerson" type="GenericPersonID" />
      <xs:element minOccurs="0" maxOccurs="1" name="Title" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="ValidSince" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="ValidThru" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="OtherInfo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>