SignOwn/XSDs/RegLicAppx2OwnershipAcqRequestLP.uk-UA.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RegLicAppx2OwnershipAcqRequestLP" nillable="true" type="RegLicAppx2OwnershipAcqRequestLP" />
  <xs:complexType name="RegLicAppx2OwnershipAcqRequestLP">
    <xs:annotation>
      <xs:documentation>АНКЕТА юридичної особи (у тому числі банку)
            Додаток 2 до Положення про порядок реєстрації та ліцензування банків, відкриття відокремлених підрозділів
            file                                  : f364524n1227.doc
            Рівень складності                     : 10
            (оціночний, шкала від 1 до 10)
            Пріоритетність                        : Hi  (Легенда: Hi - Висока, Lo - Низька, Mid - Середня, Hold - Поки що притримати)
            Подавач анкети                        : LP (Легенда: LP - юр.особа, PP - фіз.особа, BK - банк)
            Чи заповнюватиметься он-лайн          : Так
            Первинну розробку структури завершено : Ні
            Структуру фіналізовано                : Ні
            (=остаточно узгоджено 
            з бізнес-користувачами)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="BankRef" type="BankInfo" displayName="Повне офіційне найменування банку" description="стосовно участі в ...">
        <xs:annotation>
          <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!

            стосовно участі в ___________________________________
            (повне офіційне найменування банку)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="Acquiree" type="GenericPersonID" displayName="Юр.особа-заявник" description="1. Інформація про юридичну особу">
        <xs:annotation>
          <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!

            1. Інформація про юридичну особу
            
            1.1. ____________________________________________________________________________.
                                                                                                                     (найменування юридичної особи)
            
            1.2. ____________________________________________________________________________.
                                                                                                                  (місцезнаходження юридичної особи)
            
            1.3. Код за ЄДРПОУ _____________________________________________________________.
            1.4. Код платника податків ________________________________________________________.
            1.6. Основний вид діяльності юридичної особи _______________________________________.
            ---- 
            Самі реквізити мають потрапити до MentionedIdentities</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="CreditRatingGrade" type="ArrayOfCreditRatingInfo" displayName="1.5. Рейтингова оцінка" description="(за рейтингом, який підтверджений у бюлетені, однієї  з провідних рейтингових компаній IBCA,Standart &amp; Poor's, Moody's)">
        <xs:annotation>
          <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="AccountsWithBanks" type="ArrayOfBankInfo" displayName="1.7. Повні  офіційні  найменування банків,  у яких юридична особа має рахунки" description="(не заповнюється банками)">
        <xs:annotation>
          <xs:documentation>1.7. Повні  офіційні  найменування банків,  у яких юридична особа має рахунки (не заповнюється банками), 
            __________________________________________________________.
            ------
            Поле обов'язкове, лише якщо заявник не є банком.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="StateRegulatorAuthority" type="FinancialOversightAuthorityInfo" displayName="1.11. Державний наглядовий орган" description="1.11. Державний орган, що здійснює контроль (нагляд) за діяльністю юридичної особи ???!">
        <xs:annotation>
          <xs:documentation>1.11. Державний орган, що здійснює контроль (нагляд) за діяльністю юридичної особи,
            _______________________________________________________________________________.
                       (найменування органу)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="AcquireeRegistrar" type="RegistrarAuthority" displayName="1.12. Державний  орган,  який здійснив реєстрацію юридичної особи  (для іноземців)" description="1.12. Державний  орган,  який здійснив реєстрацію юридичної особи  (для іноземців) (найменування органу, країна місцезнаходження)">
        <xs:annotation>
          <xs:documentation>(!)ПОЛЕ ОБОВЯ'ЗКОВЕ ЗА УМОВИ(!):
   Acquiree.ResidenceCountry != UKRAINE

            1.12. Державний  орган,  який здійснив реєстрацію юридичної особи  (для іноземців),
            _______________________________________________________________________________.
             (найменування органу, країна місцезнаходження)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="IsIPO" type="xs:boolean" type_ukr="логічний тип(так/ні)" displayName="2.2. Це первинне розміщення?" description="2.2. Подається заявка на придбання частки істотної участі в рамках первинного розміщення акцій банку?">
        <xs:annotation>
          <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!

            2. Відносини з банком-емітентом</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="IPOPurchase" type="ArrayOfIPOSharesPurchaseInfo" displayName="2.2. Придбання на первинному ринку" description="2.2. Інформація стосовно наміру придбання акцій (паїв) банку на первинному ринку">
        <xs:annotation>
          <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="SecondaryMarketPurchase" type="ArrayOfSecondaryMarketSharesPurchaseInfo" displayName="2.3. Придбання на вторинному ринку" description="2.3. Інформація стосовно наміру придбання акцій (паїв) банку на вторинному ринку">
        <xs:annotation>
          <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="ExistingDirectOwnershipWithBankSummary" type="SharesAcquisitionInfo" displayName="2.3. а) Наявна участь у банку - пряме володіння" description="а) пряме володіння - _______ відсотків статутного капіталу банку  в розмірі _______ гривень, що становить __________ акцій (паїв), загальною номінальною вартістю _________ гривень">
        <xs:annotation>
          <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!

            2.3. Наявна участь у банку:
            а) пряме володіння - _______ відсотків статутного капіталу банку  в розмірі _______ гривень, що становить __________ акцій (паїв), загальною номінальною вартістю _________ гривень;
                                                       (кількість)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="ExistingImplicitOwnershipWithBankSummary" type="SharesAcquisitionInfo" displayName="2.3. а) Наявна участь у банку - опосередковане володіння" description="б) опосередковане володіння - _____ відсотків">
        <xs:annotation>
          <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!

            2.3. Наявна участь у банку:
            б) опосередковане володіння - _____ відсотків</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ExistingOwnershipWithBankDetails" type="ArrayOfOwnershipStructure" displayName="2.3. Наявна участь у банку - розшифровка" description="б) опосередковане володіння - _____ відсотків у розподілі голосів через __(найменування учасника (учасників) банку та розмір його (їх) володіння в банку)">
        <xs:annotation>
          <xs:documentation>(!)ПОЛЕ ОБОВЯ'ЗКОВЕ ЗА УМОВИ(!):
   ExistingImplicitOwnershipWithBankSummary &gt; 0 OR ExistingDirectOwnershipWithBankSummary &gt; 0

            б) опосередковане володіння - _____ відсотків у розподілі голосів
            через _______________________________________________________________________________.
                  (найменування учасника (учасників) банку та розмір його (їх) володіння в банку)
            --------------
            Розшифровка ExistingDirectOwnershipWithBankSummary і ExistingImplicitOwnershipWithBankSummary</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="AppliedForDirectOwnershipSummary" type="SharesAcquisitionInfo" displayName="2.4. а) Наміри щодо набуття/збільшення істотної участі в банку - пряме володіння" description="а) пряме володіння - ____ відсотків статутного капіталу банку в розмірі _____ гривень, що становить ____ акцій (паїв), загальною номінальною вартістю ___ гривень">
        <xs:annotation>
          <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!

            2.4. Наміри щодо набуття/збільшення істотної участі в банку:
            а) пряме володіння - _______ відсотків статутного капіталу банку в розмірі _______ гривень, що становить ________ акцій (паїв), загальною номінальною вартістю ___________ гривень;
                                                  (кількість)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="AppliedForImplicitOwnershipSummary" type="SharesAcquisitionInfo" displayName="2.4. б) Наміри щодо набуття/збільшення істотної участі в банку - опосередковане володіння" description="б) опосередковане володіння - _____ відсотків у розподілі голосів">
        <xs:annotation>
          <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!

            2.4. Наміри щодо набуття/збільшення істотної участі в банку:
            б) опосередковане володіння - _____ відсотків у розподілі голосів  через* _______________________________________________________________________________.
                                           (найменування учасника (учасників) банку та розмір його (їх) володіння в банку)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="AppliedForOwnershipDetails" type="ArrayOfOwnershipStructure" displayName="2.4. Наміри щодо набуття/збільшення істотної участі в банку - розшифровка" description="Наміри щодо набуття/збільшення істотної участі в банку у розподілі голосів  через* __ (найменування учасника (учасників) банку та розмір його (їх) володіння в банку)">
        <xs:annotation>
          <xs:documentation>(!)ПОЛЕ ОБОВЯ'ЗКОВЕ ЗА УМОВИ(!):
   AppliedForDirectOwnershipSummary &gt; 0 OR AppliedForImplicitOwnershipSummary &gt; 0

            2.4. Наміри щодо набуття/збільшення істотної участі в банку:
             - у розподілі голосів  через* _______________________________________________________________________________.
                                           (найменування учасника (учасників) банку та розмір його (їх) володіння в банку)
            ---------------------
            Розшифровка AppliedForImplicitOwnershipSummary</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="TargetedDirectOwnershipSummary" type="SharesAcquisitionInfo" displayName="2.5. а) Майбутня   істотна  участь - пряме володіння" description="Майбутня   істотна  участь  з  урахуванням  кількості  акцій  (паїв) ..., складатиметься із:а) прямого володіння в розмірі ___ відсотків статутного  капіталу  банку в сумі ____ гривень, що становитиме ________ акцій (паїв), загальною номінальною вартістю _________ гривень">
        <xs:annotation>
          <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!

            2.5. Майбутня   істотна  участь  з  урахуванням  кількості  акцій  (паїв), 
            які  юридична  особа  має  намір  придбати,   становитиме  _______________ відсотків  
            статутного  капіталу  банку  в розмірі  __________________________ гривень і складатиметься із:
            а) прямого володіння в розмірі ___ відсотків статутного  капіталу  банку 
            в сумі ____ гривень, що становитиме ________ акцій (паїв), загальною номінальною вартістю _________ гривень;
                                              (кількість)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="TargetedImplicitOwnershipSummary" type="SharesAcquisitionInfo" displayName="2.5. б) Майбутня   істотна  участь - опосередковане володіння" description="2.5. Майбутня   істотна  участь  з  урахуванням  кількості  акцій  (паїв),складатиметься із ... б) опосередкованого володіння - ___ відсотків у розподілі голосів">
        <xs:annotation>
          <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!

            2.5. Майбутня   істотна  участь  з  урахуванням  кількості  акцій  (паїв),складатиметься із
            б) опосередкованого володіння - ___ відсотків у розподілі голосів</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="TargetedOwnershipDetails" type="ArrayOfOwnershipStructure" displayName="2.5. Майбутня   істотна  участь - розшифровка" description="володіння ... через _____ (найменування учасника (учасників) банку та розмір його (їх) володіння в банку)">
        <xs:annotation>
          <xs:documentation>(!)ПОЛЕ ОБОВЯ'ЗКОВЕ ЗА УМОВИ(!):
   TargetedDirectOwnershipSummary &gt; 0 OR TargetedImplicitOwnershipSummary &gt; 0

            2.5. Майбутня   істотна  участь  з  урахуванням  кількості  акцій  (паїв),складатиметься із 
            володіння ... через
            _______________________________________________________________________________.
             (найменування учасника (учасників) банку та розмір його (їх) володіння в банку)
            ------------------
            Розшифровка TargetedImplicitOwnershipSummary</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="SharesToBeBought" type="SharesAcquisitionInfo" displayName="3.1. Кількість  акцій,  які  юридична  особа  має намір придбати..." description="3.1. Кількість  акцій,  які  юридична  особа  має намір придбати,  ___ одиниць, номінальна вартість однієї акції (паю) ____ гривень,  загальна сума ________ гривень, фактична вартість придбаних акцій  (паїв) ___________ гривень, у тому числі кількість акцій з правом  голосу ______.">
        <xs:annotation>
          <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!

            3. Інформація про оплату
            
            3.1. Кількість  акцій,  які  юридична  особа  має намір придбати,  ___ одиниць, номінальна вартість однієї акції (паю) ____ гривень,  загальна сума ________ гривень, фактична вартість придбаних акцій  (паїв) ___________ гривень, у тому числі кількість акцій з правом  голосу _______________________________________________________________________________.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="FundsOrigin" type="ArrayOfIncomeOriginInfo" displayName="3.2. Джерела  походження коштів юридичної особи" description="3.2. Джерела  походження коштів юридичної особи,  за рахунок яких  здійснюється сплата за акції (паї), ______.(прибуток, резервний капітал тощо)">
        <xs:annotation>
          <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!

            3.2. Джерела  походження коштів юридичної особи,  за рахунок 
            яких  здійснюється сплата за акції (паї), ____________________________.
                                                (прибуток, резервний капітал тощо)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="PaymentDeadLines" type="ArrayOfPaymentDeadlineInfo" displayName="3.3. Терміни сплати" description="(одноразово, частинами, із зазначенням терміну, протягом якого здійснюватиметься сплата)">
        <xs:annotation>
          <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!

            3.3. Терміни сплати ______________________________________________________________.
                                 (одноразово, частинами, із зазначенням терміну, протягом якого здійснюватиметься сплата)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="HasLoansWithIssuingBank" type="xs:boolean" type_ukr="логічний тип(так/ні)" displayName="3.4. Чи є кредити, одержані  юридичною  особою  в  банку-емітенті" description="(Станом на дату подання анкети)">
        <xs:annotation>
          <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!

            3.4. Інформація   про   кредити,   одержані  юридичною  особою  в  банку-емітенті,</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="LoansWithIssuingBank" type="ArrayOfLoanInfo" displayName="3.4. Інформація   про   кредити,   одержані  юридичною  особою  в  банку-емітенті" description="(номер і дата договору про надання кредиту, сума кредиту, термін погашення кредиту, сума заборгованості за договором на дату подання анкети)">
        <xs:annotation>
          <xs:documentation>(!)ПОЛЕ ОБОВЯ'ЗКОВЕ ЗА УМОВИ(!):
   HasLoansWithIssuingBank == true

            3.4. Інформація   про   кредити,   одержані  юридичною  особою  в  банку-емітенті,
            ________________________________________________________________________________
             (номер і дата договору про надання кредиту, сума кредиту, термін
            _______________________________________________________________________________.
             погашення кредиту, сума заборгованості за договором на дату подання анкети)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="HasLoansWithOtherBank" type="xs:boolean" type_ukr="логічний тип(так/ні)" displayName="3.5. Чи є кредити, одержані в інших  банках" description="(Станом на дату подання анкети)">
        <xs:annotation>
          <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="LoansWithOtherBank" type="ArrayOfLoanInfo" displayName="3.5., 3.6.  Інформація про кредити в інших  банках та стан їх виконання" description="3.5. Інформація про кредити, що одержані юридичною особою в інших  банках (не заповнюється банками)&#xA;3.6. Інформація  про  стан  виконання зобов'язань щодо повернення  кредитів, одержаних у банках">
        <xs:annotation>
          <xs:documentation>(!)ПОЛЕ ОБОВЯ'ЗКОВЕ ЗА УМОВИ(!):
   HasLoansWithOtherBank == true

            3.5. Інформація про кредити, що одержані юридичною особою в інших  банках (не заповнюється банками),
             ___________________________________________________________
                (номер і дата договору про надання кредиту, сума
            
            _______________________________________________________________________________.
                кредиту, строк погашення кредиту, сума заборгованості  за договором на дату подання анкети)
            3.6. Інформація  про  стан  виконання зобов'язань щодо повернення  кредитів, одержаних у банках, 
             _________________________________________________________________________
              (згідно з умовами договору або з порушенням умов договору.
            
            ________________________________________________________________________________
              Якщо порушено умови договору, то зазначити номер договору, суму, строки, які умови порушені, 
                причини, залишок заборгованості на день заповнення анкети)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="HasAcquireeOwnershipOtherThanBankRef" type="xs:boolean" type_ukr="логічний тип(так/ні)" displayName="4. Чи перебуває заявник у відносинах власності з іншими суб'єктами господарювання" description="4. Чи існують відносини власності юридичної особи із суб'єктами господарювання, у тому числі іншими банками (крім банку, у який планується здійснення інвестиції)">
        <xs:annotation>
          <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!

            4. Відносини власності юридичної особи із суб'єктами господарювання, 
            у тому числі іншими банками (крім банку, у який планується
            здійснення інвестиції)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="AcquireeOwnershipOtherThanBankRef" type="ArrayOfOwnershipStructure" displayName="4. Відносини власності заявника з іншими суб'єктами господарювання" description="4. Відносини власності юридичної особи із суб'єктами господарювання, у тому числі іншими банками (крім банку, у який планується здійснення інвестиції)">
        <xs:annotation>
          <xs:documentation>(!)ПОЛЕ ОБОВЯ'ЗКОВЕ ЗА УМОВИ(!):
   HasAcquireeOwnershipOtherThanBankRef == true

            4. Відносини власності юридичної особи із суб'єктами господарювання, 
            у тому числі іншими банками (крім банку, у який планується
            здійснення інвестиції)
            4.1. Найменування юридичної особи, код за ЄДРПОУ _________________________________
            _______________________________________________________________________________.
            4.2. Місцезнаходження ___________________________________________________________.
            4.3. Основний вид діяльності юридичної особи _______________________________________.
            4.4. Відсоток власності в юридичній особі ___________________________________________.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="IsAssociatedOrOwnerWithBanks" type="xs:boolean" type_ukr="логічний тип(так/ні)" displayName="4.7. Власник істотної  участі або афілійована особа у банках?" description="Чи існують банки,  у яких юридична особа є власником істотної  участі або афілійованою особою?">
        <xs:annotation>
          <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!

            4.7. Перелік  банків,  у яких юридична особа є власником істотної  участі або 
            афілійованою особою</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="AssociatedOrOwnerWithBanks" type="ArrayOfBankInfo" displayName="4.7. Перелік  банків істотної участі або афілійованих" description="Перелік  банків,  у яких юридична особа є власником істотної  участі або афілійованою особою">
        <xs:annotation>
          <xs:documentation>(!)ПОЛЕ ОБОВЯ'ЗКОВЕ ЗА УМОВИ(!):
   IsAssociatedOrOwnerWithBanks == true</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="AcquireeOwners" type="ArrayOfOwnershipStructure" displayName="5.1. Власники істотної участі в юридичній особі" description="Ланцюжок власників істотної участі в юридичній особі">
        <xs:annotation>
          <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!

            5. Загальна інформація
            
            5.1. Власники істотної участі в юридичній особі:
            юридична особа _________________________________________________________________
                             (найменування, код за ЄДРПОУ,
            _______________________________________________________________________________;
                             місцезнаходження, відсоток участі)
            
            фізична особа ___________________________________________________________________
                             [прізвище, ім'я, по батькові, паспортні дані,
            
            _______________________________________________________________________________.
             реєстраційний номер облікової картки платника податків або серія та номер паспорта
             (для фізичних осіб, які через свої релігійні переконання відмовляються  від прийняття реєстраційного
             номера облікової картки платника  податків та повідомили про це відповідний контролюючий орган 
             і мають відмітку у паспорті),  відсоток участі]</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="HadBankruptcyInvestigation" type="xs:boolean" type_ukr="логічний тип(так/ні)" displayName="6.1. Чи порушувалася справа про банкрутство юридичної особи?" description="6.1. Чи порушувалася справа про банкрутство юридичної особи?">
        <xs:annotation>
          <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!

            6. Інші питання
            (крім банків)
            
            6.1. Чи порушувалася справа про банкрутство юридичної особи? _______________________.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="BankruptcyInvestigations" type="ArrayOfBankruptcyInvestigationInfo" displayName="6.1. Деталі порушуваної(-их) справи(справ) про банкрутство юридичної особи">
        <xs:annotation>
          <xs:documentation>(!)ПОЛЕ ОБОВЯ'ЗКОВЕ ЗА УМОВИ(!):
   HadBankruptcyInvestigation == true

            6.1. Деталі порушуваної(-их) справи(справ) про банкрутство юридичної особи</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="HasMiscNonRepaidDebts" type="xs:boolean" type_ukr="логічний тип(так/ні)" displayName="6.2. Є невиконані  зобов'язання перед іншими особами?" description="6.2. Чи  має   юридична  особа  невиконані  майнові  (фінансові)  зобов'язання перед іншими особами?">
        <xs:annotation>
          <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!

            6.2. Чи  має   юридична  особа  невиконані  майнові  (фінансові)  зобов'язання перед іншими особами?
            _______________________________________________________________________</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="MiscNonRepaidDebts" type="ArrayOfIndebtnessInfo" displayName="6.2. Невиконані  зобов'язання перед іншими особами - розшифровка" description="(зазначити, які саме зобов'язання, у якому розмірі, перед якою особою та з яких причин не були виконані, а також подальші плани щодо виконання/невиконання цих зобов'язань)">
        <xs:annotation>
          <xs:documentation>(!)ПОЛЕ ОБОВЯ'ЗКОВЕ ЗА УМОВИ(!):
   HasMiscNonRepaidDebts == true

            6.2. Чи  має   юридична  особа  невиконані  майнові  (фінансові)  зобов'язання перед іншими особами?
            ________________________________________________________________________________
             (якщо так, то зазначити, які саме зобов'язання, у якому розмірі,
            
            _______________________________________________________________________________.
             перед якою особою та з яких причин не були виконані, а також подальші плани
              щодо виконання/невиконання цих зобов'язань)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="HadIndustrySpecificBreaches" type="xs:boolean" type_ukr="логічний тип(так/ні)" displayName="6.3. Були порушення галузевого законодавства?" description="6.3. Чи  притягувалася  юридична  особа  до  відповідальності  за  порушення антимонопольного,  податкового, банківського, валютного  законодавства, правил діяльності на ринку цінних паперів тощо?">
        <xs:annotation>
          <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!

            6.3. Чи  притягувалася  юридична  особа  до  відповідальності  за  порушення антимонопольного,  податкового, банківського, валютного  законодавства, правил діяльності на ринку цінних паперів тощо?</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="BreachesOfLaw" type="ArrayOfBreachOfLawRecordInfo" displayName="6.3. Порушення галузевого законодавства - деталі" description="(зазначити, коли вчинено порушення антимонопольного,  податкового, банківського, валютного  законодавства, правил діяльності на ринку цінних паперів тощо, зміст порушення, накладені санкції)">
        <xs:annotation>
          <xs:documentation>(!)ПОЛЕ ОБОВЯ'ЗКОВЕ ЗА УМОВИ(!):
   HadIndustrySpecificBreaches == true

            6.3. ________________________________________________________________________________
                  (зазначити, коли вчинено порушення, зміст порушення, накладені санкції)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="HasLiquidatedSignOwnershipLastYear" type="xs:boolean" type_ukr="логічний тип(так/ні)" displayName="6.4. Були власником ліквідованих юросіб протягом останнього року?" description="6.4. Чи була юридична особа протягом останнього року, що передував прийняттю рішення про ліквідацію юридичної особи, власником істотної участі (10 і більше відсотків) у цій особі?">
        <xs:annotation>
          <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!

            6.4. Чи була юридична особа протягом останнього року, що передував прийняттю рішення про ліквідацію юридичної особи,  
            власником істотної участі (10 і більше відсотків) у цій особі?</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="LiquidatedSignOwnershipLastYear" type="ArrayOfLiquidatedEntityOwnershipInfo" displayName="6.4. Ліквідовані протягом останнього року юрособи у власності" description="6.4. Протягом останнього року, що передував прийняттю рішення про ліквідацію юридичної особи, власник істотної участі (10 і більше відсотків) у ... (найменування юридичної особи, код за ЄДРПОУ, відсоток володіння в ній, докладна інформація про причини та підстави ліквідації)">
        <xs:annotation>
          <xs:documentation>(!)ПОЛЕ ОБОВЯ'ЗКОВЕ ЗА УМОВИ(!):
   HasLiquidatedSignOwnershipLastYear == true

            6.4. __________________________________________________________________________
             (найменування юридичної особи,
            
            _______________________________________________________________________________.
             код за ЄДРПОУ, відсоток володіння в ній, докладна інформація про причини та підстави ліквідації)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="IsMoneyLaunderingEtcLawsKept" type="xs:boolean" type_ukr="логічний тип(так/ні)" displayName="6.5. Дотримується законів щодо відмивання грошей та фінансування тероризму...?" description="6.5. Стверджую, що юридична особа належним чином виконує вимоги законодавства України з питань запобігання та протидії легалізації (відмиванню) доходів, одержаних злочинним шляхом, або фінансуванню тероризму та до юридичної особи (або власників істотної участі в юридичній особі) не застосовувалися міжнародні санкції.">
        <xs:annotation>
          <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!

            6.5. Стверджую, що юридична особа належним чином виконує вимоги законодавства України з питань запобігання та протидії легалізації (відмиванню) доходів, одержаних злочинним шляхом, або фінансуванню тероризму та до юридичної особи (або власників істотної участі в юридичній особі) не застосовувалися міжнародні санкції.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="IsApplicationInfoAccurateAndTrue" type="xs:boolean" type_ukr="логічний тип(так/ні)" displayName="Підтверджую правдивість інформації?" description="Я, (прізвище, ім'я, по батькові) стверджую, що інформація,  надана в анкеті,&#xA; є правдивою і повною, та не заперечую проти перевірки Національним банком України достовірності поданих документів і персональних даних, що в них містяться.&#xA;">
        <xs:annotation>
          <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!

            Стверджую, що інформація, надана в анкеті, є правдивою і повною, та не заперечую проти перевірки Національним банком України достовірності поданих документів і персональних даних, що в них містяться.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="AmObligingToKeepUp2DateWithin10Days" type="xs:boolean" type_ukr="логічний тип(так/ні)" displayName="Зобов'язуюсь повідомляти про зміни?" description="У разі будь-яких змін в інформації, що зазначена в цій анкеті, зобов'язуюся повідомити про них Національний банк України протягом 10-ти днів з дня їх виникнення.">
        <xs:annotation>
          <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!

            У разі будь-яких змін в інформації, що зазначена в цій анкеті,  зобов'язуюся повідомити про них Національний банк України  протягом 10-ти днів з дня їх виникнення.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="Signatory" type="SignatoryInfo" displayName="Підписант" description="Відомості по особу, що підписала анкету">
        <xs:annotation>
          <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!

            _________________________
            (посада керівника юридичної
            особи - заявника, який підписав анкету
            і відповідальний за інформацію,
            що наведена в ній)
            
            (підпис керівника)
            
            
            М.П.
            
            (ініціали та прізвище
            керівника
            друкованими літерами)
            
            
            Підписано ______________________
                       (число, місяць, рік)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="ContactPerson" type="ContactInfo" displayName="Контакти" description="Контактні дані відправника анкети">
        <xs:annotation>
          <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!

            Прізвище, ім'я, по батькові контактної особи ___________________.
            
            Номер телефону та факсу ________________________________________.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="MentionedIdentities" type="ArrayOfGenericPersonInfo" displayName="Реквізити осіб-фігурантів анкети" description="Повні реквізити юридичних та фізичних осіб, що згадуються в розділах анкети">
        <xs:annotation>
          <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!

            Реквізити осіб-фігурантів анкети</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="PersonsLinks" type="ArrayOfPersonsAssociation" displayName="Зв'язки між фігурантами анкети" description="Опис зв'язків між фізичними та юридичними особами, що згадуються в розділах анкети">
        <xs:annotation>
          <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!

            Зв'язки між фігурантами анкети</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:include schemaLocation="BankInfo.uk-UA.xsd" />
  <xs:include schemaLocation="GenericPersonID.uk-UA.xsd" />
  <xs:include schemaLocation="EntityType.uk-UA.xsd" />
  <xs:include schemaLocation="CountryInfo.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfCreditRatingInfo.uk-UA.xsd" />
  <xs:include schemaLocation="CreditRatingInfo.uk-UA.xsd" />
  <xs:include schemaLocation="WellKnownCreditRatingAgencyType.uk-UA.xsd" />
  <xs:include schemaLocation="RatingAgencyInfo.uk-UA.xsd" />
  <xs:include schemaLocation="ContactInfo.uk-UA.xsd" />
  <xs:include schemaLocation="PhysicalPersonInfo.uk-UA.xsd" />
  <xs:include schemaLocation="SexType.uk-UA.xsd" />
  <xs:include schemaLocation="RegistrarAuthority.uk-UA.xsd" />
  <xs:include schemaLocation="LocationInfo.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfPhoneInfo.uk-UA.xsd" />
  <xs:include schemaLocation="PhoneInfo.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfEmailInfo.uk-UA.xsd" />
  <xs:include schemaLocation="EmailInfo.uk-UA.xsd" />
  <xs:include schemaLocation="LongTermCreditRatingType.uk-UA.xsd" />
  <xs:include schemaLocation="ShortTermCreditRatingType.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfBankInfo.uk-UA.xsd" />
  <xs:include schemaLocation="FinancialOversightAuthorityInfo.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfIPOSharesPurchaseInfo.uk-UA.xsd" />
  <xs:include schemaLocation="IPOSharesPurchaseInfo.uk-UA.xsd" />
  <xs:include schemaLocation="CurrencyAmount.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfPaymentDeadlineInfo.uk-UA.xsd" />
  <xs:include schemaLocation="PaymentDeadlineInfo.uk-UA.xsd" />
  <xs:include schemaLocation="SecondaryMarketSharesPurchaseInfo.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfSecondaryMarketSharesPurchaseInfo.uk-UA.xsd" />
  <xs:include schemaLocation="SharesAcquisitionInfo.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfOwnershipStructure.uk-UA.xsd" />
  <xs:include schemaLocation="OwnershipStructure.uk-UA.xsd" />
  <xs:include schemaLocation="OwnershipType.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfIncomeOriginInfo.uk-UA.xsd" />
  <xs:include schemaLocation="IncomeOriginInfo.uk-UA.xsd" />
  <xs:include schemaLocation="FundsOriginType.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfLoanInfo.uk-UA.xsd" />
  <xs:include schemaLocation="LoanInfo.uk-UA.xsd" />
  <xs:include schemaLocation="IndebtnessInfoBase.uk-UA.xsd" />
  <xs:include schemaLocation="IndebtnessInfo.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfBankruptcyInvestigationInfo.uk-UA.xsd" />
  <xs:include schemaLocation="BankruptcyInvestigationInfo.uk-UA.xsd" />
  <xs:include schemaLocation="BankruptcyCaseResolutionType.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfCourtDecisionInfo.uk-UA.xsd" />
  <xs:include schemaLocation="CourtDecisionInfo.uk-UA.xsd" />
  <xs:include schemaLocation="CourtInfo.uk-UA.xsd" />
  <xs:include schemaLocation="CourtInstanceType.uk-UA.xsd" />
  <xs:include schemaLocation="CourtDecisionType.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfIndebtnessInfo.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfBreachOfLawRecordInfo.uk-UA.xsd" />
  <xs:include schemaLocation="BreachOfLawRecordInfo.uk-UA.xsd" />
  <xs:include schemaLocation="BreachOfLawType.uk-UA.xsd" />
  <xs:include schemaLocation="SentenceType.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfLiquidatedEntityOwnershipInfo.uk-UA.xsd" />
  <xs:include schemaLocation="LiquidatedEntityOwnershipInfo.uk-UA.xsd" />
  <xs:include schemaLocation="LiquidatedOrInsolventEntityInfoBase.uk-UA.xsd" />
  <xs:include schemaLocation="InsolvencyStatus.uk-UA.xsd" />
  <xs:include schemaLocation="TotalOwnershipDetailsInfo.uk-UA.xsd" />
  <xs:include schemaLocation="OwnershipSummaryInfo.uk-UA.xsd" />
  <xs:include schemaLocation="OwnershipVotesInfo.uk-UA.xsd" />
  <xs:include schemaLocation="SignatoryInfo.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfGenericPersonInfo.uk-UA.xsd" />
  <xs:include schemaLocation="GenericPersonInfo.uk-UA.xsd" />
  <xs:include schemaLocation="LegalPersonInfo.uk-UA.xsd" />
  <xs:include schemaLocation="LPRegisteredDateRecordId.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfEconomicActivityType.uk-UA.xsd" />
  <xs:include schemaLocation="EconomicActivityType.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfPersonsAssociation.uk-UA.xsd" />
  <xs:include schemaLocation="PersonsAssociation.uk-UA.xsd" />
  <xs:include schemaLocation="AssociatedPersonRole.uk-UA.xsd" />
</xs:schema>