SignOwn/XSDs/RegLicAppx2OwnershipAcqRequestLP.full.uk-UA.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RegLicAppx2OwnershipAcqRequestLP" nillable="true" type="RegLicAppx2OwnershipAcqRequestLP" />
  <xs:complexType name="RegLicAppx2OwnershipAcqRequestLP">
    <xs:annotation>
      <xs:documentation>АНКЕТА юридичної особи (у тому числі банку)
            Додаток 2 до Положення про порядок реєстрації та ліцензування банків, відкриття відокремлених підрозділів
            file                                  : f364524n1227.doc
            Рівень складності                     : 10
            (оціночний, шкала від 1 до 10)
            Пріоритетність                        : Hi  (Легенда: Hi - Висока, Lo - Низька, Mid - Середня, Hold - Поки що притримати)
            Подавач анкети                        : LP (Легенда: LP - юр.особа, PP - фіз.особа, BK - банк)
            Чи заповнюватиметься он-лайн          : Так
            Первинну розробку структури завершено : Ні
            Структуру фіналізовано                : Ні
            (=остаточно узгоджено 
            з бізнес-користувачами)</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="QuestionnaireBase">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="BankRef" type="BankInfo" displayName="Повне офіційне найменування банку" description="стосовно участі в ...">
            <xs:annotation>
              <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!

            стосовно участі в ___________________________________
            (повне офіційне найменування банку)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="Acquiree" type="GenericPersonID" displayName="Юр.особа-заявник" description="1. Інформація про юридичну особу" category="І. Інформація про юридичну особу">
            <xs:annotation>
              <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!

            І. Інформація про юридичну особу
            
            1. Повне та скорочене найменування ________________________________________________________________
            2. Ідентифікаційні дані:
            ---- 
            Самі реквізити мають потрапити до MentionedIdentities</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="CreditRatingGrade" type="ArrayOfCreditRatingInfo" displayName="2. Ідентифікаційні дані::Рейтингова оцінка" description="(за рейтингом, який підтверджений у бюлетені, однієї з провідних рейтингових компаній IBCA,Standart &amp; Poor's, Moody's)" category="І. Інформація про юридичну особу">
            <xs:annotation>
              <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="IsNonResidentLicenseRequired" type="xs:boolean" type_ukr="логічний тип(так/ні)" displayName="3.4. Потрібен дозвіл державного органу (для іноземців)" description="3.4 (Нерезидентам) Для набуття (збільшення) участі в банку потрібно отримувати дозівл іноземного державного контролюючого органу(-ів)?" category="І. Інформація про юридичну особу" />
          <xs:element minOccurs="0" maxOccurs="1" name="ForeignOwnAcqLicensingAuthority" type="ArrayOfFinancialOversightAuthorityInfo" displayName="3.4. Державний дозвільний орган (для іноземців)" description="3. Найменування іноземного державного контролюючого органу, що дає дозвіл на набуття (збільшення) участі в банку (для іноземців)" category="І. Інформація про юридичну особу">
            <xs:annotation>
              <xs:documentation>3. Відомості про державну реєстрацію юридичної особи та відносини з контролюючими державними органами
            Найменування іноземного державного
            контролюючого органу, що дає дозвіл
            на набуття (збільшення) участі в банку
            (для іноземців)
            Державний орган, що здійснює
            нагляд за діяльністю юридичної
            особи (для осіб, які здійснюють
            регульовану діяльність)
            -----
            Орган, що здійснив державну реєстрацію - див. у полі Acquiree</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="StateRegulatorAuthorities" type="ArrayOfFinancialOversightAuthorityInfo" displayName="3. (4-5) Державний(-і) наглядовий(-і) орган(-и)" description="3. Відомості про державну реєстрацію юридичної особи та відносини з контролюючими державними органами" category="І. Інформація про юридичну особу">
            <xs:annotation>
              <xs:documentation>3. Відомості про державну реєстрацію юридичної особи та відносини з контролюючими державними органами
            Найменування іноземного державного
            контролюючого органу, що дає дозвіл
            на набуття (збільшення) участі в банку
            (для іноземців)
            Державний орган, що здійснює
            нагляд за діяльністю юридичної
            особи (для осіб, які здійснюють
            регульовану діяльність)
            -----
            Орган, що здійснив державну реєстрацію - див. у полі Acquiree</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="TotalExistingOwnershipWithBank" type="TotalOwnershipSummaryInfo" displayName="5. Наявна участь юридичної особи в банку" description="5. Інформація про розмір наявної участі юридичної особи в банку">
            <xs:annotation>
              <xs:documentation>3. Відомості про державну реєстрацію юридичної особи та відносини з контролюючими державними органами
            _______________________________________________________________________________.
                       (найменування органу)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="AccountsWithBanks" type="ArrayOfBankAccountInfo" displayName="4. Банківські рахунки юридичної особи" description="(не заповнюється банками)" category="І. Інформація про юридичну особу">
            <xs:annotation>
              <xs:documentation>Поле обов'язкове, лише якщо заявник не є банком.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="TotalOwnershipWithBankDiff" type="TotalOwnershipSummaryInfo" displayName="6. Наміри щодо набуття/збільшення участі" description="6. Інформація про розмір участі, що набувається (збільшується): Наміри щодо набуття/збільшення участі в банку" category="ІІ. Інформація про наміри щодо набуття (збільшення) істотної участі в банку">
            <xs:annotation>
              <xs:documentation>6. Інформація про розмір участі, що набувається (збільшується):
            Наміри щодо набуття/збільшення участі в банку</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="TotalTargetedOwnershipWithBank" type="TotalOwnershipSummaryInfo" displayName="6. Майбутня участь особи в банку" description="6. Інформація про розмір участі, що набувається (збільшується): Майбутня участь особи в банку з урахуванням намірів щодо набуття/збільшення істотної участі" category="ІІ. Інформація про наміри щодо набуття (збільшення) істотної участі в банку">
            <xs:annotation>
              <xs:documentation>6. Інформація про розмір участі, що набувається (збільшується):
            Майбутня участь особи в банку з урахуванням намірів щодо набуття/збільшення істотної участі</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="AcquisitionWays" type="SignificantOwnershipAcquisitionWaysInfo" displayName="7. Спосіб(-оби) набуття/збільшення істотної участі в банку" description="7. Набуття/збільшення істотної участі в банку відбуватиметься у спосіб (зазначити необхідне)" category="ІІ. Інформація про наміри щодо набуття (збільшення) істотної участі в банку">
            <xs:annotation>
              <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!

            7. Набуття/збільшення істотної участі в банку відбуватиметься у спосіб (зазначити необхідне):
            
            придбання акцій (паїв) банку на первинному ринку;
            придбання акцій (паїв) банку на вторинному ринку;
            набуття/збільшення істотної участі в банку опосередковано шляхом придбання корпоративних прав юридичних осіб у структурі власності банку;
            набуття/збільшення істотної участі в банку у зв’язку з передаванням права голосу за довіреністю;
            набуття опосередкованої істотної участі в банку у зв’язку із здійсненням значного або вирішального впливу на управління та діяльність банку незалежно від формального володіння.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="IPOPurchase" type="ArrayOfIPOSharesPurchaseInfo" displayName="Придбання на первинному ринку" description="8. Інформація про намір щодо придбання акцій (паїв) банку на первинному ринку:" category="ІІ. Інформація про наміри щодо набуття (збільшення) істотної участі в банку">
            <xs:annotation>
              <xs:documentation>(!)ПОЛЕ ОБОВЯ'ЗКОВЕ ЗА УМОВИ(!):
   AcquisitionWays.IsIPO == true</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="SecondaryMarketPurchases" type="ArrayOfSecondaryMarketSharesPurchaseInfo" displayName="9. Придбання на вторинному ринку" description="9. Інформація про намір щодо придбання акцій (паїв) банку на вторинному ринку та/або стосовно правочинів щодо набуття (збільшення) опосередкованої участі в банку (крім набуття істотної участі в результаті передавання особі права голосу або незалежно від формального володіння)" category="ІІ. Інформація про наміри щодо набуття (збільшення) істотної участі в банку">
            <xs:annotation>
              <xs:documentation>(!)ПОЛЕ ОБОВЯ'ЗКОВЕ ЗА УМОВИ(!):
   AcquisitionWays.IsSecondaryMarketPurchase == true || AcquisitionWays.IsPurchaseByImplicitOwnership == true</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="AquisitionByPoAttorneys" type="ArrayOfPowerOfAttorneySharesPurchaseInfo" displayName="10. Набуття за довіреністю" description="10. Інформація про намір щодо набуття опосередкованої істотної участі в банку за довіреністю" category="ІІ. Інформація про наміри щодо набуття (збільшення) істотної участі в банку">
            <xs:annotation>
              <xs:documentation>(!)ПОЛЕ ОБОВЯ'ЗКОВЕ ЗА УМОВИ(!):
   AcquisitionWays.IsPurchaseByPowOfAtt == true</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="AquisitionByInfluence" type="ArrayOfSignificantOrDecisiveInfulenceInfo" displayName="11. Набуття у зв’язку із здійсненням впливу" description="11. Інформація про набуття опосередкованої істотної участі в банку у зв’язку із здійсненням значного або вирішального впливу на управління та діяльність банку незалежно від формального володіння" category="ІІ. Інформація про наміри щодо набуття (збільшення) істотної участі в банку">
            <xs:annotation>
              <xs:documentation>(!)ПОЛЕ ОБОВЯ'ЗКОВЕ ЗА УМОВИ(!):
   AcquisitionWays.IsAcquireByImplicitInfluence == true</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="FundsOrigin" type="ArrayOfIncomeOriginInfo" displayName="12. Джерела  походження коштів юридичної особи" description="12. Джерела походження коштів юридичної особи, за рахунок яких набуватиметься істотна участь у банку" category="ІІ. Інформація про наміри щодо набуття (збільшення) істотної участі в банку">
            <xs:annotation>
              <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!

            12. Джерела походження коштів юридичної особи, за рахунок яких набуватиметься істотна участь у банку,
            _______________________________________________________________________________________________________.
            (прибуток, частина статутного капіталу, кошти фонду тощо)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="ExistingOwnershipDetailsHive" type="ArrayOfOwnershipStructure" displayName="13, 14, 15. Розшифровка ланцюжків власності" description="Розшифровка ланцюжків власності усіх структур-фігурантів анкети:&#xA; 13. Перелік юридичних осіб, у тому числі банків, в яких юридична особа має істотну участь або є ключовим учасником&#xA; 14. Інформація про фізичних осіб, які володіють істотною участю в цій юридичній особі або є ключовими учасниками юридичної особи&#xA; 15. Інформація про юридичних осіб, які володіють істотною участю в цій юридичній особі або є ключовими учасниками юридичної особи" category="ІІІ. Відносини юридичної особи з іншими особами">
            <xs:annotation>
              <xs:documentation>13. Перелік юридичних осіб, у тому числі банків, в яких юридична особа має істотну участь або є ключовим учасником
            14. Інформація про фізичних осіб, які володіють істотною участю в цій юридичній особі або є ключовими учасниками юридичної особи
            15. Інформація про юридичних осіб, які володіють істотною участю в цій юридичній особі або є ключовими учасниками юридичної особи
            ----
            Доцільно розшифровку ланцюжків власності усіх структур, що фігурують в анкеті, скласти в це одне поле, оскільки не виключено, що власники-юр.особи повторюватимуться/фігуруватимуть в різних іпостасях в усіх 3-х пунктах (себто, і 13, і 14, і 15)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="HasOutstandingLoansWithBanks" type="xs:boolean" type_ukr="логічний тип(так/ні)" displayName="16. Чи є кредити, одержані й непогашені юридичною  особою  в  банках?" description="(Станом на дату подання анкети)" category="IV. Ділова репутація">
            <xs:annotation>
              <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!

            16. Інформація про кредити, одержані юридичною особою:</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="OutstandingLoansWithBanksDetails" type="ArrayOfLoanInfo" displayName="16. Інформація про кредити, одержані юридичною особою" description="(номер і дата договору про надання кредиту, сума кредиту, термін погашення кредиту, сума заборгованості за договором на дату подання анкети)" category="IV. Ділова репутація">
            <xs:annotation>
              <xs:documentation>(!)ПОЛЕ ОБОВЯ'ЗКОВЕ ЗА УМОВИ(!):
   HasOutstandingLoansWithBanks == true

            16. Інформація про кредити, одержані юридичною особою:</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="HasNoImperfectReputationSigns" type="xs:boolean" type_ukr="логічний тип(так/ні)" displayName="17. Стверджую, що немає ознак відсутності бездоганної ділової репутації" description="Стверджую, що немає ознак відсутності бездоганної ділової репутації стосовно _______ (зазначається повне найменування юридичної особи" category="IV. Ділова репутація">
            <xs:annotation>
              <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!

            17. Чи є щодо юридичної особи ознаки відсутності бездоганної ділової репутації, визначені нормативно-правовим
            актом Національного банку України про порядок реєстрації та ліцензування банків [якщо таких ознак немає, то
            зазначається “Стверджую, що немає ознак відсутності бездоганної ділової репутації стосовно _______ (зазначається
            повне найменування юридичної особи)”; якщо такі ознаки є, то здійснюється опис ознаки (ознак) відсутності
            бездоганної ділової репутації].</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="ImperfectReputationDetails" type="ImperfectBusinessReputationInfo" displayName="17. Ознаки відсутності бездоганної ділової репутації" description="Опис наявних ознак відсутності бездоганної ділової репутації" category="IV. Ділова репутація">
            <xs:annotation>
              <xs:documentation>(!)ПОЛЕ ОБОВЯ'ЗКОВЕ ЗА УМОВИ(!):
   HasNoImperfectReputationSigns == false

            17. Якщо щодо юридичної особи є ознаки відсутності бездоганної ділової репутації, визначені нормативно-правовим
            актом Національного банку України про порядок реєстрації та ліцензування банків, то здійснюється опис ознаки (ознак) відсутності
            бездоганної ділової репутації].</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="IsAMLEtcLegislationKept" type="xs:boolean" type_ukr="логічний тип(так/ні)" displayName="18. Вимоги законодавства дотримано" description="18. Стверджую, що юридична особа _______ (зазначається повне найменування юридичної особи) належним чином виконує вимоги законодавства України або законодавства країни свого громадянства з питань запобігання та протидії легалізації (відмиванню) доходів, одержаних злочинним шляхом, та фінансування тероризму." category="IV. Ділова репутація">
            <xs:annotation>
              <xs:documentation>18. Стверджую, що юридична особа _______ (зазначається повне найменування юридичної особи) належним чином
            виконує вимоги законодавства України або законодавства країни свого громадянства з питань запобігання та протидії
            легалізації (відмиванню) доходів, одержаних злочинним шляхом, та фінансування тероризму.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="IsApplicationInfoAccurateAndTrue" type="xs:boolean" type_ukr="логічний тип(так/ні)" displayName="Підтверджую правдивість інформації?" description="Стверджую, що інформація, зазначена в анкеті, є правдивою і повною, та не заперечую проти перевірки Національним банком України її достовірності та повноти." category="Підписи і т.п.">
            <xs:annotation>
              <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!

            Стверджую, що інформація, зазначена в анкеті, є правдивою і повною, та не заперечую проти перевірки
            Національним банком України її достовірності та повноти.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="MissingInformationResons" type="ArrayOfMissingInformationResonInfo" displayName="Примітка. Якщо немає змоги надати інформацію за відповідними пунктами анкети, то слід зазначити причину." description="..." category="Підписи і т.п.">
            <xs:annotation>
              <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!

            Примітка. Якщо немає змоги надати інформацію за відповідними пунктами анкети, то слід зазначити причину.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="Signatory" type="SignatoryInfo" displayName="Підписант" description="Відомості про особу, що підписала анкету" category="Підписи і т.п.">
            <xs:annotation>
              <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!

            ____________________       __________________________    _______________________________
             (дата підписання анкети) (підпис уповноваженої особи    (прізвище та ініціали уповноваженої особи
                                         юридичної особи)             юридичної особи, її посада в юридичній особі
                                                                      або реквізити довіреності представника за
                                                                      довіреністю)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="ContactPerson" type="ContactInfo" displayName="Контакти" description="Контактні дані відправника анкети" category="Підписи і т.п.">
            <xs:annotation>
              <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!

            Прізвище, ім'я, по батькові контактної особи ___________________.
            
            Номер телефону та факсу ________________________________________.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="MentionedIdentities" type="ArrayOfGenericPersonInfo" displayName="Реквізити осіб-фігурантів анкети" description="Повні реквізити юридичних та фізичних осіб, що згадуються в розділах анкети">
            <xs:annotation>
              <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!

            Реквізити осіб-фігурантів анкети</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="PersonsLinks" type="ArrayOfPersonsAssociation" displayName="Зв'язки між фігурантами анкети" description="Опис зв'язків між фізичними та юридичними особами, що згадуються в розділах анкети" category="ІІІ. Відносини юридичної особи з іншими особами">
            <xs:annotation>
              <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!

            Зв'язки між фігурантами анкети</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfCreditRatingInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CreditRatingInfo" nillable="true" type="CreditRatingInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfFinancialOversightAuthorityInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FinancialOversightAuthorityInfo" nillable="true" type="FinancialOversightAuthorityInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfMissingInformationResonInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MissingInformationResonInfo" nillable="true" type="MissingInformationResonInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:include schemaLocation="QuestionnaireBase.uk-UA.xsd" />
  <xs:include schemaLocation="NotifyPropertyChangedBase.uk-UA.xsd" />
  <xs:include schemaLocation="PersonsAssociation.uk-UA.xsd" />
  <xs:include schemaLocation="GenericPersonID.uk-UA.xsd" />
  <xs:include schemaLocation="EntityType.uk-UA.xsd" />
  <xs:include schemaLocation="PersonAssociationType.uk-UA.xsd" />
  <xs:include schemaLocation="AssociatedPersonRole.uk-UA.xsd" />
  <xs:include schemaLocation="LegalPersonInfo.uk-UA.xsd" />
  <xs:include schemaLocation="CountryInfo.uk-UA.xsd" />
  <xs:include schemaLocation="OwnershipFormType.uk-UA.xsd" />
  <xs:include schemaLocation="RegistrarAuthority.uk-UA.xsd" />
  <xs:include schemaLocation="LocationInfo.uk-UA.xsd" />
  <xs:include schemaLocation="LPRegisteredDateRecordId.uk-UA.xsd" />
  <xs:include schemaLocation="StockExchangeListingInfo.uk-UA.xsd" />
  <xs:include schemaLocation="StockExchangeInfo.uk-UA.xsd" />
  <xs:include schemaLocation="CurrencyAmount.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfEconomicActivityType.uk-UA.xsd" />
  <xs:include schemaLocation="EconomicActivityType.uk-UA.xsd" />
  <xs:include schemaLocation="GenericPersonInfo.uk-UA.xsd" />
  <xs:include schemaLocation="PhysicalPersonInfo.uk-UA.xsd" />
  <xs:include schemaLocation="IPNRefusalRecordInfo.uk-UA.xsd" />
  <xs:include schemaLocation="SignatoryInfo.uk-UA.xsd" />
  <xs:include schemaLocation="PowerOfAttorneyInfo.uk-UA.xsd" />
  <xs:include schemaLocation="SexType.uk-UA.xsd" />
  <xs:include schemaLocation="BreachOfLawRecordInfo.uk-UA.xsd" />
  <xs:include schemaLocation="BreachOfLawType.uk-UA.xsd" />
  <xs:include schemaLocation="CourtDecisionInfo.uk-UA.xsd" />
  <xs:include schemaLocation="CourtInfo.uk-UA.xsd" />
  <xs:include schemaLocation="CourtInstanceType.uk-UA.xsd" />
  <xs:include schemaLocation="CourtDecisionType.uk-UA.xsd" />
  <xs:include schemaLocation="SentenceType.uk-UA.xsd" />
  <xs:include schemaLocation="BankruptcyInvestigationInfo.uk-UA.xsd" />
  <xs:include schemaLocation="BankruptcyCaseResolutionType.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfCourtDecisionInfo.uk-UA.xsd" />
  <xs:include schemaLocation="IndebtnessInfoBase.uk-UA.xsd" />
  <xs:include schemaLocation="IndebtnessInfo.uk-UA.xsd" />
  <xs:include schemaLocation="LoanInfo.uk-UA.xsd" />
  <xs:include schemaLocation="BankInfo.uk-UA.xsd" />
  <xs:include schemaLocation="IncomeOriginInfo.uk-UA.xsd" />
  <xs:include schemaLocation="FundsOriginType.uk-UA.xsd" />
  <xs:include schemaLocation="LegalTransactionPartyInfo.uk-UA.xsd" />
  <xs:include schemaLocation="LegalTransactionPartyRoleType.uk-UA.xsd" />
  <xs:include schemaLocation="LegalTransactionInfo.uk-UA.xsd" />
  <xs:include schemaLocation="LegalTransactionType.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfLegalTransactionPartyInfo.uk-UA.xsd" />
  <xs:include schemaLocation="SignificantOwnershipAcquisitionWaysInfo.uk-UA.xsd" />
  <xs:include schemaLocation="FinancialOversightAuthorityInfo.uk-UA.xsd" />
  <xs:include schemaLocation="ContactInfo.uk-UA.xsd" />
  <xs:include schemaLocation="MeansOfCommunication.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfPhoneInfo.uk-UA.xsd" />
  <xs:include schemaLocation="PhoneInfo.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfEmailInfo.uk-UA.xsd" />
  <xs:include schemaLocation="EmailInfo.uk-UA.xsd" />
  <xs:include schemaLocation="RatingAgencyInfo.uk-UA.xsd" />
  <xs:include schemaLocation="CreditRatingInfo.uk-UA.xsd" />
  <xs:include schemaLocation="WellKnownCreditRatingAgencyType.uk-UA.xsd" />
  <xs:include schemaLocation="LongTermCreditRatingType.uk-UA.xsd" />
  <xs:include schemaLocation="ShortTermCreditRatingType.uk-UA.xsd" />
  <xs:include schemaLocation="TotalOwnershipSummaryInfo.uk-UA.xsd" />
  <xs:include schemaLocation="OwnershipSummaryInfo.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfBankAccountInfo.uk-UA.xsd" />
  <xs:include schemaLocation="BankAccountInfo.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfIPOSharesPurchaseInfo.uk-UA.xsd" />
  <xs:include schemaLocation="IPOSharesPurchaseInfo.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfPaymentDeadlineInfo.uk-UA.xsd" />
  <xs:include schemaLocation="PaymentDeadlineInfo.uk-UA.xsd" />
  <xs:include schemaLocation="SecondaryMarketSharesPurchaseInfo.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfSecondaryMarketSharesPurchaseInfo.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfPowerOfAttorneySharesPurchaseInfo.uk-UA.xsd" />
  <xs:include schemaLocation="PowerOfAttorneySharesPurchaseInfo.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfSignificantOrDecisiveInfulenceInfo.uk-UA.xsd" />
  <xs:include schemaLocation="SignificantOrDecisiveInfulenceInfo.uk-UA.xsd" />
  <xs:include schemaLocation="InfluenceType.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfIncomeOriginInfo.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfOwnershipStructure.uk-UA.xsd" />
  <xs:include schemaLocation="OwnershipStructure.uk-UA.xsd" />
  <xs:include schemaLocation="OwnershipType.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfLoanInfo.uk-UA.xsd" />
  <xs:include schemaLocation="ImperfectBusinessReputationInfo.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfBankruptcyInvestigationInfo.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfIndebtnessInfo.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfBreachOfLawRecordInfo.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfLiquidatedEntityOwnershipInfo.uk-UA.xsd" />
  <xs:include schemaLocation="LiquidatedEntityOwnershipInfo.uk-UA.xsd" />
  <xs:include schemaLocation="LiquidatedOrInsolventEntityInfoBase.uk-UA.xsd" />
  <xs:include schemaLocation="InsolvencyStatus.uk-UA.xsd" />
  <xs:include schemaLocation="TotalOwnershipDetailsInfo.uk-UA.xsd" />
  <xs:include schemaLocation="OwnershipVotesInfo.uk-UA.xsd" />
  <xs:include schemaLocation="MissingInformationResonInfo.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfGenericPersonInfo.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfPersonsAssociation.uk-UA.xsd" />
</xs:schema>