SignOwn/XSDs/RegLicAppx14NewSvc.full.uk-UA.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RegLicAppx14NewSvc" nillable="true" type="RegLicAppx14NewSvc" />
  <xs:complexType name="RegLicAppx14NewSvc">
    <xs:annotation>
      <xs:documentation>ПОВІДОМЛЕННЯ банку про початок нового виду діяльності або надання нового виду фінансових послуг
            Додаток 14 до Положення про порядок реєстрації та ліцензування банків, відкриття відокремлених підрозділів
            file                                  : f364524n1035.doc
            Рівень складності                     : 3
            (оціночний, шкала від 1 до 10)
            Пріоритетність                        : Hi  (Легенда: Hi - Висока, Lo - Низька, Mid - Середня, Hold - Поки що притримати)
            Подавач анкети                        : BK (Легенда: LP - юр.особа, PP - фіз.особа, BK - банк)
            Чи заповнюватиметься он-лайн          : Під питанням
            Первинну розробку структури завершено : Так
            Структуру фіналізовано                : Ні
            (=остаточно узгоджено 
            з бізнес-користувачами)</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="QuestionnaireBase">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="QuestDate" type="xs:dateTime" type_ukr="дата і час" displayName="Дата заявки" description="Дата">
            <xs:annotation>
              <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="Ref" type="xs:string" type_ukr="текст" displayName="№ (Ваш висх.)" description="номер" />
          <xs:element minOccurs="1" maxOccurs="1" name="BankRef" type="BankInfo" displayName="Банк (назва та ін. реквізити)" description="Ідентифікація банку, що подає заявку">
            <xs:annotation>
              <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!

            Тільки укр. банки, лише головні</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="ExistingLicenseSpecs" type="BankingLicenseInfo" displayName="Діюча банківська ліцензія (реквізити)" description="має  банківську ліцензію">
            <xs:annotation>
              <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="NewActivitiesList" type="ArrayOfBankingLicensedActivityInfo" displayName="Перелік нових видів фінпослуг" description="перелік нових видів діяльності або нових видів фінансових послуг">
            <xs:annotation>
              <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!

            Контрол для заповнення - два listbox-а, drag у один listbox</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="HasSufficientFinancialCapacity" type="xs:boolean" type_ukr="логічний тип(так/ні)" displayName="Фінансові можливості наявні?" description="Банк має достатні фінансові  можливості  для  початку  нового виду діяльності та/або виду фінансових послуг,  зазначених у цьому повідомленні">
            <xs:annotation>
              <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="MonthsWOLosses" type="xs:int" type_ukr="ціле число" displayName="Тривалість беззбиткового періоду (міс.)" description="Банк не має збитків протягом останніх ... місяців">
            <xs:annotation>
              <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="HasFormedEnoughFundsAndReserves" type="xs:boolean" type_ukr="логічний тип(так/ні)" displayName="Формування фондів та резервів відповідає/не відповідає...?" description="Банк сформував фонди та резерви відповідно до вимог законодавства України, у тому числі нормативно-правових актів Національного банку України">
            <xs:annotation>
              <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="MonthsObligatoryReservesMet" type="xs:int" type_ukr="ціле число" displayName="Тривалість дотримування нормативів обов'язвкового резервування (міс.)" description="Банк дотримується нормативу обов'язкового резервування протягом останніх ... місяців">
            <xs:annotation>
              <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="MonthsEconomicNormativesReqsMet" type="xs:int" type_ukr="ціле число" displayName="Тривалість дотримування економічних нормативів (міс.)" description="Банк дотримується економічних нормативів протягом останніх ... місяців">
            <xs:annotation>
              <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="IsRegulatoryCapitalReqsMet" type="xs:boolean" type_ukr="логічний тип(так/ні)" displayName="Регулятивного капіталу достатньо (так/ні)?" description="Рівень регулятивного капіталу Банку відповідає вимогам Національного банку України">
            <xs:annotation>
              <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="RegulatoryCapitalAmt" type="xs:decimal" type_ukr="десяткове число, у т.ч. дрібне" displayName="Розміри регулятивного капіталу (грн.)" description="Рівень регулятивного капіталу Банку становить ... грн.">
            <xs:annotation>
              <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="RegulatoryCapitalDate" type="xs:dateTime" type_ukr="дата і час" displayName="Дата розмірів регулятивного капіталу" description="Дата, на яку подано рівень регулятивного капіталу Банку (вище)">
            <xs:annotation>
              <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="NoPenaltiesWithinLast3Months" type="xs:boolean" type_ukr="логічний тип(так/ні)" displayName="Відсутність заходів упливу" description="Банк не є об'єктом застосування заходів впливу (крім письмового застереження) упродовж останніх 3 місяців, причому:&#xA;протягом усього періоду діяльності - для банків, які отримали банківську ліцензію менше ніж за три місяці до часу повідомлення Національного банку України про початок нового виду діяльності та/або виду послуг;&#xA;протягом трьох місяців, що передують часу повідомлення Національного банку України про початок нового виду діяльності та/або виду послуг - для банків, які здійснюють банківську діяльність на підставі банківської ліцензії більше ніж три місяці.">
            <xs:annotation>
              <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="HasDeptsAllocatedForNewBusLines" type="xs:boolean" type_ukr="логічний тип(так/ні)" displayName="Забезпеченість відповідним персоналом та структурою" description="У Банку створено відповідні підрозділи, що здійснюватимуть зазначений в повідомленні новий вид діяльності та/або вид фінансових послуг, а також підрозділ внутрішнього аудиту та підрозділ з управління ризиками, функції та повноваження яких відповідають вимогам Закону України &quot;Про банки і банківську діяльність&quot; та нормативно-правових актів Національного банку України. Банк забезпечений спеціалістами, які відповідають вимогам нормативно-правових актів Національного банку України. Відповідні відомості додаються.">
            <xs:annotation>
              <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="HasFacilitiesForNewBusLines" type="xs:boolean" type_ukr="логічний тип(так/ні)" displayName="Забезпеченість відповідним обладнанням, технікою, ПЗ, тощо" description="Банк забезпечений належним банківським обладнанням, комп'ютерною технікою, програмним забезпеченням та комунікаційними засобами, що відповідають вимогам Національного банку України">
            <xs:annotation>
              <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="IsGenericLawReqsMetForNewBusLines" type="xs:boolean" type_ukr="логічний тип(так/ні)" displayName="Дотримано вимог законодавства" description="Банком виконано спеціальні вимоги законодавства України, у тому числі нормативно-правових актів Національного банку України, щодо нового виду діяльності та/або нового виду фінансових послуг">
            <xs:annotation>
              <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="IsBankIndustrySpecificLawReqsMetForNewBusLines" type="xs:boolean" type_ukr="логічний тип(так/ні)" displayName="Готові розпочати новий вид діяльності?" description="Банк готовий розпочати новий вид діяльності та/або вид фінансових послуг згідно з вимогами банківського законодавства України, нормативно-правових актів Національного банку України">
            <xs:annotation>
              <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="IsNewBusLinesPresentInCharter" type="xs:boolean" type_ukr="логічний тип(так/ні)" displayName="Нову діяльність зазначено в статуті?" description="Здійснення нових видів діяльності/надання нових фінансових послуг зазначено в статуті банку.">
            <xs:annotation>
              <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="IsInternalRegulationCopiesAttachedForNewBusLines" type="xs:boolean" type_ukr="логічний тип(так/ні)" displayName="Наявність внутрішніх положень, що регламентують нову діяльність - є/немає?" description="Копії внутрішніх положень, що регулюють здійснення банком нових видів діяльності або надання нового виду фінансових  послуг, додаються">
            <xs:annotation>
              <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="IsSigneePersonallyLiableForCopiesAttached" type="xs:boolean" type_ukr="логічний тип(так/ні)" displayName="Я персонально відповідаю за достовірність поданої інформації?" description="Я несу персональну відповідальність за достовірність усіх поданих документів">
            <xs:annotation>
              <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="Contacts" type="ContactInfo" displayName="Контакти" description="У разі виникнення будь-яких питань щодо цього повідомлення або документів, що додаються до нього, прошу звертатися до (прізвище, адреса, номер телефону, факсу)">
            <xs:annotation>
              <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="Attachements" type="ArrayOfAttachmentInfo" displayName="Додатки" description="Додатки">
            <xs:annotation>
              <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="Signee" type="SignatoryInfo" displayName="Підписант" description="Інформація про підписанта (Голова правління Банку)">
            <xs:annotation>
              <xs:documentation>ОБОВЯ'ЗКОВЕ ПОЛЕ!</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfBankingLicensedActivityInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BankingLicensedActivityInfo" nillable="true" type="BankingLicensedActivityInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfAttachmentInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AttachmentInfo" nillable="true" type="AttachmentInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:include schemaLocation="QuestionnaireBase.uk-UA.xsd" />
  <xs:include schemaLocation="NotifyPropertyChangedBase.uk-UA.xsd" />
  <xs:include schemaLocation="RegistrarAuthority.uk-UA.xsd" />
  <xs:include schemaLocation="CountryInfo.uk-UA.xsd" />
  <xs:include schemaLocation="LocationInfo.uk-UA.xsd" />
  <xs:include schemaLocation="EntityType.uk-UA.xsd" />
  <xs:include schemaLocation="PhysicalPersonInfo.uk-UA.xsd" />
  <xs:include schemaLocation="IPNRefusalRecordInfo.uk-UA.xsd" />
  <xs:include schemaLocation="SignatoryInfo.uk-UA.xsd" />
  <xs:include schemaLocation="PowerOfAttorneyInfo.uk-UA.xsd" />
  <xs:include schemaLocation="GenericPersonID.uk-UA.xsd" />
  <xs:include schemaLocation="SexType.uk-UA.xsd" />
  <xs:include schemaLocation="BankInfo.uk-UA.xsd" />
  <xs:include schemaLocation="BankingLicenseInfo.uk-UA.xsd" />
  <xs:include schemaLocation="BankingLicensedActivityInfo.uk-UA.xsd" />
  <xs:include schemaLocation="LicensedOperationType.uk-UA.xsd" />
  <xs:include schemaLocation="BankingActivityType.uk-UA.xsd" />
  <xs:include schemaLocation="FinancialServicesType.uk-UA.xsd" />
  <xs:include schemaLocation="ContactInfo.uk-UA.xsd" />
  <xs:include schemaLocation="MeansOfCommunication.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfPhoneInfo.uk-UA.xsd" />
  <xs:include schemaLocation="PhoneInfo.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfEmailInfo.uk-UA.xsd" />
  <xs:include schemaLocation="EmailInfo.uk-UA.xsd" />
  <xs:include schemaLocation="AttachmentInfo.uk-UA.xsd" />
  <xs:include schemaLocation="TypicalApplicationAttachement.uk-UA.xsd" />
</xs:schema>