SignOwn/XSDs/RegLicAppx14NewSvc.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RegLicAppx14NewSvc" nillable="true" type="RegLicAppx14NewSvc" />
  <xs:complexType name="RegLicAppx14NewSvc">
    <xs:complexContent mixed="false">
      <xs:extension base="QuestionnaireBase">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="QuestDate" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="Ref" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="BankRef" type="BankInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="ExistingLicenseSpecs" type="BankingLicenseInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="NewActivitiesList" type="ArrayOfBankingLicensedActivityInfo" />
          <xs:element minOccurs="1" maxOccurs="1" name="HasSufficientFinancialCapacity" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="MonthsWOLosses" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="HasFormedEnoughFundsAndReserves" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="MonthsObligatoryReservesMet" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="MonthsEconomicNormativesReqsMet" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="IsRegulatoryCapitalReqsMet" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="RegulatoryCapitalAmt" type="xs:decimal" />
          <xs:element minOccurs="1" maxOccurs="1" name="RegulatoryCapitalDate" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="NoPenaltiesWithinLast3Months" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="HasDeptsAllocatedForNewBusLines" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="HasFacilitiesForNewBusLines" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="IsGenericLawReqsMetForNewBusLines" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="IsBankIndustrySpecificLawReqsMetForNewBusLines" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="IsNewBusLinesPresentInCharter" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="IsInternalRegulationCopiesAttachedForNewBusLines" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="IsSigneePersonallyLiableForCopiesAttached" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="Contacts" type="ContactInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="Attachements" type="ArrayOfAttachmentInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="Signee" type="SignatoryInfo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="QuestionnaireBase" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="NotifyPropertyChangedBase" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="NotifyPropertyChangedBase" />
  <xs:complexType name="RegistrarAuthority">
    <xs:complexContent mixed="false">
      <xs:extension base="NotifyPropertyChangedBase">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="JurisdictionCountry" type="CountryInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="Address" type="LocationInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="RegistrarCode" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="RegistrarName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="RegistrarNameUkr" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="EntitiesHandled" type="EntityType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CountryInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="CountryISO2Code" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CountryISO3Code" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CountryISONr" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CountryNameEng" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CountryNameUkr" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LocationInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Country" type="CountryInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="Region" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Raion" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ZipCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="City" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Street" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="HouseNr" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ApptOfficeNr" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="EntityType">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="None" />
          <xs:enumeration value="Physical" />
          <xs:enumeration value="Legal" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:complexType name="PhysicalPersonInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="NotifyPropertyChangedBase">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="CitizenshipCountry" type="CountryInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="Surname" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="MiddleName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="FullName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="SurnameUkr" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="NameUkr" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="MiddleNameUkr" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="FullNameUkr" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="IsIPNRefused" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="IPNRefusalEvidence" type="IPNRefusalRecordInfo" />
          <xs:element minOccurs="0" maxOccurs="1" name="TaxOrSocSecID" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="PassportID" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="PassIssuedDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="PassIssueAuthority" type="RegistrarAuthority" />
          <xs:element minOccurs="0" maxOccurs="1" name="Address" type="LocationInfo" />
          <xs:element minOccurs="1" maxOccurs="1" name="IsResidentialAndRegistrationAddressDifferent" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="ActualAddress" type="LocationInfo" />
          <xs:element minOccurs="1" maxOccurs="1" name="Sex" type="SexType" />
          <xs:element minOccurs="1" maxOccurs="1" name="BirthDate" nillable="true" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="IPNRefusalRecordInfo">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="RecordDate" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="RecordID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Signatory" type="SignatoryInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SignatoryInfo">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="DateSigned" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="SignatoryPosition" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="SurnameInitials" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="false" name="IsActingByPowOfAttorney" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="PowerOfAttorney" type="PowerOfAttorneyInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PowerOfAttorneyInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ActingPerson" type="GenericPersonID" />
      <xs:element minOccurs="0" maxOccurs="1" name="OnBehalfOfPerson" type="GenericPersonID" />
      <xs:element minOccurs="0" maxOccurs="1" name="Title" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="ValidSince" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="ValidThru" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="OtherInfo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericPersonID">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="CountryISO3Code" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="PersonType" type="EntityType" />
      <xs:element minOccurs="0" maxOccurs="1" name="PersonCode" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="SexType">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="None" />
          <xs:enumeration value="Male" />
          <xs:enumeration value="Female" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:complexType name="BankInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="NotifyPropertyChangedBase">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="MFO" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="NameUkr" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="LegalPerson" type="GenericPersonID" />
          <xs:element minOccurs="0" maxOccurs="1" name="SWIFTBIC" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="OperationCountry" type="CountryInfo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BankingLicenseInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="LicenseNr" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="IssueDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfBankingLicensedActivityInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BankingLicensedActivityInfo" nillable="true" type="BankingLicensedActivityInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BankingLicensedActivityInfo">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="BankActivityOrService" type="LicensedOperationType" />
      <xs:element minOccurs="1" maxOccurs="1" name="ActivityType" type="BankingActivityType" />
      <xs:element minOccurs="1" maxOccurs="1" name="ServiceType" type="FinancialServicesType" />
      <xs:element minOccurs="0" maxOccurs="1" name="ActivityName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="LicensedOperationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="BankingActivity" />
      <xs:enumeration value="FinancialService" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BankingActivityType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="DepositsTaking" />
      <xs:enumeration value="AccountsMgmt" />
      <xs:enumeration value="DepositedFundsPlacement" />
      <xs:enumeration value="Investments" />
      <xs:enumeration value="ProprietarySecuritiesIssue" />
      <xs:enumeration value="Lotteries" />
      <xs:enumeration value="SafeCustody" />
      <xs:enumeration value="CashCollectionTransportation" />
      <xs:enumeration value="SecuritiesCustody" />
      <xs:enumeration value="ConsultancyOnBankFinServices" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="FinancialServicesType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="PayDocsIssuance" />
      <xs:enumeration value="Trust" />
      <xs:enumeration value="CurrencyExchange" />
      <xs:enumeration value="FinanceAssetsLiabilities" />
      <xs:enumeration value="FinancialLeasing" />
      <xs:enumeration value="Lending" />
      <xs:enumeration value="Guarantees" />
      <xs:enumeration value="FundsTransfer" />
      <xs:enumeration value="InsuranceAndPensionSavings" />
      <xs:enumeration value="StockExchangeActivities" />
      <xs:enumeration value="Factoring" />
      <xs:enumeration value="FinAssetsAdministeringGroupsPurchase" />
      <xs:enumeration value="ConstructionAssetsManagement" />
      <xs:enumeration value="MortgageSecuritiesMngtIssue" />
      <xs:enumeration value="OtherFinBankServices" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ContactInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Person" type="PhysicalPersonInfo" />
      <xs:element minOccurs="1" maxOccurs="1" name="PreferrableMeansOfCommunication" type="MeansOfCommunication" />
      <xs:element minOccurs="0" maxOccurs="1" name="Phones" type="ArrayOfPhoneInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="Fax" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Emails" type="ArrayOfEmailInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="www" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Address" type="LocationInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="MeansOfCommunication">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Phone" />
      <xs:enumeration value="Email" />
      <xs:enumeration value="Fax" />
      <xs:enumeration value="Mail" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ArrayOfPhoneInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PhoneInfo" nillable="true" type="PhoneInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PhoneInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="PhoneName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PhoneNr" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PhoneNotes" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfEmailInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmailInfo" nillable="true" type="EmailInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EmailInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Email" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="EmailDescription" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfAttachmentInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AttachmentInfo" nillable="true" type="AttachmentInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AttachmentInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="FileName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="AttachmentType" type="TypicalApplicationAttachement" />
      <xs:element minOccurs="0" maxOccurs="1" name="Description" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ContentType" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="TypicalApplicationAttachement">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="InternalReglementCopiesScans" />
      <xs:enumeration value="WorkbookCopyScan" />
      <xs:enumeration value="PassportCopyScan" />
      <xs:enumeration value="CharterCopyScan" />
      <xs:enumeration value="Other" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>