SignOwn/XSDs/RegLicAppx12HeadCandidateAppl.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RegLicAppx12HeadCandidateAppl" nillable="true" type="RegLicAppx12HeadCandidateAppl" />
  <xs:complexType name="RegLicAppx12HeadCandidateAppl">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="BankRef" type="BankInfo" />
      <xs:element minOccurs="1" maxOccurs="1" name="PositionAppliedFor" type="ManagementPosition" />
      <xs:element minOccurs="0" maxOccurs="1" name="Candidate" type="GenericPersonID" />
      <xs:element minOccurs="0" maxOccurs="1" name="Education" type="ArrayOfEducationRecordInfo" />
      <xs:element minOccurs="1" maxOccurs="1" name="HasScientificTitle" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="ScientificTitle" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="LastEmploymentRecord" type="EmploymentRecordInfo" />
      <xs:element minOccurs="1" maxOccurs="1" name="IsCurrently3rdPartyBoardMember" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="MembershipIn3rdPartyBoards" type="ArrayOfCouncilBodyInfo" />
      <xs:element minOccurs="1" maxOccurs="1" name="HasTheBankOwnership" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="BankOwnership" type="ArrayOfOwnershipStructure" />
      <xs:element minOccurs="1" maxOccurs="1" name="Has3rdPartiesOwnership" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="ThirdPartiesOwnership" type="ArrayOfOwnershipStructure" />
      <xs:element minOccurs="1" maxOccurs="1" name="Has3rdPartiesMgmtBodiesAttorneys" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="PartiesMgmtBodiesAttorneys" type="ArrayOfCouncilBodyInfo" />
      <xs:element minOccurs="1" maxOccurs="1" name="Is3rdPartiesRep" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="ThirdPartiesBeingRepresented" type="ArrayOfGenericPersonID" />
      <xs:element minOccurs="0" maxOccurs="1" name="OtherBanksSignificantOwnership" type="ArrayOfOwnershipStructure" />
      <xs:element minOccurs="0" maxOccurs="1" name="OtherBanksWithSignificantOwnership" type="ArrayOfBankInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="EmploymentGaps" type="ArrayOfEmploymentRecordInfo" />
      <xs:element minOccurs="1" maxOccurs="1" name="HasLiquidatedOrInsolventManagements" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="LiquidatedOrInsolventManagements" type="ArrayOfLiquidatedOrInsolventEntityMgmtRecordInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="PersonsLinks" type="ArrayOfPersonsAssociation" />
      <xs:element minOccurs="1" maxOccurs="1" name="HasRelativesInBankBoards" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="RelativesInBankBoards" type="ArrayOfCouncilBodyInfo" />
      <xs:element minOccurs="1" maxOccurs="1" name="HasMiscNonRepaidDebts" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="MiscNonRepaidDebts" type="ArrayOfIndebtnessInfo" />
      <xs:element minOccurs="1" maxOccurs="1" name="WasCriminallyProsecuted" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="HasOutstandingSentencesToServe" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="BreachesOfLaw" type="ArrayOfBreachOfLawRecordInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="BankPoliciesYourRoleVision" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="IsApplicationInfoAccurateAndTrue" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="AmObligingToKeepUp2DateWithin10Days" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="Signatory" type="SignatoryInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="MentionedIdentities" type="ArrayOfGenericPersonInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BankInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="MFO" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="NameUkr" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="LegalPerson" type="GenericPersonID" />
      <xs:element minOccurs="0" maxOccurs="1" name="SWIFTBIC" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="OperationCountry" type="CountryInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericPersonID">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="CountryISO3Code" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="PersonType" type="EntityType" />
      <xs:element minOccurs="0" maxOccurs="1" name="PersonCode" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="EntityType">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="None" />
          <xs:enumeration value="Physical" />
          <xs:enumeration value="Legal" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:complexType name="CountryInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="CountryISO2Code" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CountryISO3Code" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CountryISONr" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CountryNameEng" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CountryNameUkr" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ManagementPosition">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="CEO" />
      <xs:enumeration value="VCEO" />
      <xs:enumeration value="ManagingBoardMember" />
      <xs:enumeration value="ChiefBookkeeper" />
      <xs:enumeration value="DeputyChiefBookkeeper" />
      <xs:enumeration value="SupervisoryBoardHead" />
      <xs:enumeration value="DeputySupervisoryBoardHead" />
      <xs:enumeration value="SupervisoryBoardMember" />
      <xs:enumeration value="SupervisoryBoardMemberLPRep" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ArrayOfEducationRecordInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EducationRecordInfo" nillable="true" type="EducationRecordInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EducationRecordInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="UniOrCollege" type="UniversityOrCollegeInfo" />
      <xs:element minOccurs="1" maxOccurs="1" name="GraduationDate" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="DegreeType" type="HigherEducationDegreeType" />
      <xs:element minOccurs="1" maxOccurs="1" name="HonourType" type="DegreeHonourType" />
      <xs:element minOccurs="0" maxOccurs="1" name="DegreeSeries" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DegreeID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Trade" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Qualification" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UniversityOrCollegeInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="UniversityName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="UniversityNameUkr" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Address" type="LocationInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="UniversityID" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LocationInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Country" type="CountryInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="Region" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ZipCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="City" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Street" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="HouseNr" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ApptOfficeNr" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="HigherEducationDegreeType">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="None" />
          <xs:enumeration value="Bachelor" />
          <xs:enumeration value="Master" />
          <xs:enumeration value="MBA" />
          <xs:enumeration value="CandidateDoctor" />
          <xs:enumeration value="PhD" />
          <xs:enumeration value="DoctorOfSciences" />
          <xs:enumeration value="DoctorOfLetters" />
          <xs:enumeration value="Professor" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:simpleType name="DegreeHonourType">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="None" />
          <xs:enumeration value="Rite" />
          <xs:enumeration value="CumLaude" />
          <xs:enumeration value="Honoured" />
          <xs:enumeration value="MagnaCumLaude" />
          <xs:enumeration value="SummaCumLaude" />
          <xs:enumeration value="EgregiaCumLaude" />
          <xs:enumeration value="MaximaCumLaude" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:complexType name="EmploymentRecordInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Employer" type="GenericPersonID" />
      <xs:element minOccurs="0" maxOccurs="1" name="JobTitle" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="DateStarted" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="DateQuit" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="State" type="EmploymentState" />
      <xs:element minOccurs="1" maxOccurs="1" name="TerminationType" type="EmploymentTerminationType" />
      <xs:element minOccurs="0" maxOccurs="1" name="DismissalOrUnemployedReason" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="EmployerContact" type="ContactInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="EmploymentState">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="None" />
          <xs:enumeration value="Employed" />
          <xs:enumeration value="Selfemployed" />
          <xs:enumeration value="Freelance" />
          <xs:enumeration value="Unemployed" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:simpleType name="EmploymentTerminationType">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="None" />
          <xs:enumeration value="PromotedOrRelocated" />
          <xs:enumeration value="VoluntaryQuit" />
          <xs:enumeration value="Dismissed" />
          <xs:enumeration value="Retired" />
          <xs:enumeration value="MaternityLeave" />
          <xs:enumeration value="MilitaryServiceLeave" />
          <xs:enumeration value="HealthConditionLeave" />
          <xs:enumeration value="OtherLeaveType" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:complexType name="ContactInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Person" type="PhysicalPersonInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="Phones" type="ArrayOfPhoneInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="Fax" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Emails" type="ArrayOfEmailInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="www" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PhysicalPersonInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="SurnameUkr" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="NameUkr" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="MiddleNameUkr" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="FullNameUkr" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Surname" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="MiddleName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="FullName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Sex" type="SexType" />
      <xs:element minOccurs="1" maxOccurs="1" name="BirthDate" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="PassportID" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="PassIssuedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="PassIssueAuthority" type="RegistrarAuthority" />
      <xs:element minOccurs="0" maxOccurs="1" name="TaxOrSocSecID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Address" type="LocationInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="CitizenshipCountry" type="CountryInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="SexType">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="None" />
          <xs:enumeration value="Male" />
          <xs:enumeration value="Female" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:complexType name="RegistrarAuthority">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="JurisdictionCountry" type="CountryInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="Address" type="LocationInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="RegistrarCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="RegistrarName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="RegistrarNameUkr" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="EntitiesHandled" type="EntityType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfPhoneInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PhoneInfo" nillable="true" type="PhoneInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PhoneInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="PhoneName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PhoneNr" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PhoneNotes" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfEmailInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmailInfo" nillable="true" type="EmailInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EmailInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Email" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="EmailDescription" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfCouncilBodyInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CouncilBodyInfo" nillable="true" type="CouncilBodyInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CouncilBodyInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="GovernedEntityID" type="GenericPersonID" />
      <xs:element minOccurs="0" maxOccurs="1" name="Members" type="ArrayOfCouncilMemberInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="HeadMember" type="GenericPersonID" />
      <xs:element minOccurs="0" maxOccurs="1" name="CouncilBodyName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CouncilBodyNameUkr" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfCouncilMemberInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CouncilMemberInfo" nillable="true" type="CouncilMemberInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CouncilMemberInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Member" type="GenericPersonID" />
      <xs:element minOccurs="0" maxOccurs="1" name="PositionName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="FunctionsDescription" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfOwnershipStructure">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OwnershipStructure" nillable="true" type="OwnershipStructure" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OwnershipStructure">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Asset" type="GenericPersonID" />
      <xs:element minOccurs="0" maxOccurs="1" name="Owner" type="GenericPersonID" />
      <xs:element minOccurs="1" maxOccurs="1" name="OwnershipKind" type="OwnershipType" />
      <xs:element minOccurs="1" maxOccurs="1" name="Share" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="SharesCount" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="SharePct" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="Votes" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="OwnershipType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Direct" />
      <xs:enumeration value="Implicit" />
      <xs:enumeration value="Associated" />
      <xs:enumeration value="Agreement" />
      <xs:enumeration value="Attorney" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ArrayOfGenericPersonID">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GenericPersonID" nillable="true" type="GenericPersonID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfBankInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BankInfo" nillable="true" type="BankInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfEmploymentRecordInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmploymentRecordInfo" nillable="true" type="EmploymentRecordInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfLiquidatedOrInsolventEntityMgmtRecordInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LiquidatedOrInsolventEntityMgmtRecordInfo" nillable="true" type="LiquidatedOrInsolventEntityMgmtRecordInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LiquidatedOrInsolventEntityMgmtRecordInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="LiquidatedOrInsolventEntityInfoBase">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="Position" type="ManagementPosition" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LiquidatedOrInsolventEntityInfoBase">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Asset" type="GenericPersonID" />
      <xs:element minOccurs="1" maxOccurs="1" name="Status" type="InsolvencyStatus" />
      <xs:element minOccurs="1" maxOccurs="1" name="DateEffective" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="LiquidationReason" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="LiquidationPretext" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="InsolvencyStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Insolvent" />
      <xs:enumeration value="Liquidated" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ArrayOfPersonsAssociation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonsAssociation" nillable="true" type="PersonsAssociation" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonsAssociation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="One" type="GenericPersonID" />
      <xs:element minOccurs="0" maxOccurs="1" name="Two" type="GenericPersonID" />
      <xs:element minOccurs="1" maxOccurs="1" name="AssociationType" type="OwnershipType" />
      <xs:element minOccurs="1" maxOccurs="1" name="AssociationRoleOneVsTwo" type="AssociatedPersonRole" />
      <xs:element minOccurs="1" maxOccurs="1" name="AssociationRoleTwoVsOne" type="AssociatedPersonRole" />
      <xs:element minOccurs="0" maxOccurs="1" name="AssociationRolesIfOther" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AssociatedPersonRole">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Husband" />
      <xs:enumeration value="Wife" />
      <xs:enumeration value="Son" />
      <xs:enumeration value="Daughter" />
      <xs:enumeration value="Father" />
      <xs:enumeration value="Mother" />
      <xs:enumeration value="Patron" />
      <xs:enumeration value="Brother" />
      <xs:enumeration value="Sister" />
      <xs:enumeration value="FatherInLaw" />
      <xs:enumeration value="MotherInLaw" />
      <xs:enumeration value="SonInLaw" />
      <xs:enumeration value="DaughterInLaw" />
      <xs:enumeration value="BrotherInLaw" />
      <xs:enumeration value="SisterInLaw" />
      <xs:enumeration value="Cousin" />
      <xs:enumeration value="GrandFather" />
      <xs:enumeration value="GrandMother" />
      <xs:enumeration value="GrandSon" />
      <xs:enumeration value="GrandDaughter" />
      <xs:enumeration value="NephewNiece" />
      <xs:enumeration value="AuncleAunt" />
      <xs:enumeration value="OtherRelative" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ArrayOfIndebtnessInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IndebtnessInfo" nillable="true" type="IndebtnessInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IndebtnessInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="IndebtnessInfoBase">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="IsRepaymentPlanned" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="PlannedRepaymentDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="RepaymentPlans" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="IndebtnessInfoBase">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Lender" type="GenericPersonID" />
      <xs:element minOccurs="0" maxOccurs="1" name="Borrower" type="GenericPersonID" />
      <xs:element minOccurs="0" maxOccurs="1" name="DebtSubject" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Principal" type="CurrencyAmount" />
      <xs:element minOccurs="1" maxOccurs="1" name="RepaymentDueDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="OutstandingPricipal" type="CurrencyAmount" />
      <xs:element minOccurs="1" maxOccurs="1" name="IsOverdue" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="PrincipalOverdue" type="CurrencyAmount" />
      <xs:element minOccurs="0" maxOccurs="1" name="OverdueDetails" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="OverdueReasons" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CurrencyAmount">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="CCY" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Amt" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfBreachOfLawRecordInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BreachOfLawRecordInfo" nillable="true" type="BreachOfLawRecordInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BreachOfLawRecordInfo">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="BreachType" type="BreachOfLawType" />
      <xs:element minOccurs="0" maxOccurs="1" name="CourtName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CourtNameUkr" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="JurisdictionCountry" type="CountryInfo" />
      <xs:element minOccurs="1" maxOccurs="1" name="SentenceDate" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="CodeOrLaw" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Articles" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Sentence" type="SentenceType" />
      <xs:element minOccurs="0" maxOccurs="1" name="OtherSanctionDetails" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="IsConvictionSettled" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="SettledDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="BreachOfLawType">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="None" />
          <xs:enumeration value="Criminal" />
          <xs:enumeration value="Antitrust" />
          <xs:enumeration value="Taxation" />
          <xs:enumeration value="Banking" />
          <xs:enumeration value="Financial" />
          <xs:enumeration value="ForeignCurrency" />
          <xs:enumeration value="StockExchange" />
          <xs:enumeration value="OtherAdministrative" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:simpleType name="SentenceType">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="None" />
          <xs:enumeration value="Jailed" />
          <xs:enumeration value="RemedialWorks" />
          <xs:enumeration value="Fined" />
          <xs:enumeration value="Dismissed" />
          <xs:enumeration value="LicenseRevoked" />
          <xs:enumeration value="LicenseSuspended" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:complexType name="SignatoryInfo">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="DateSigned" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="SignatoryPosition" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="SurnameInitials" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="false" name="IsActingByPowOfAttorney" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="PowerOfAttorney" type="PowerOfAttorneyInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PowerOfAttorneyInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ActingPerson" type="GenericPersonID" />
      <xs:element minOccurs="0" maxOccurs="1" name="OnBehalfOfPerson" type="GenericPersonID" />
      <xs:element minOccurs="0" maxOccurs="1" name="Title" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="ValidSince" type="xs:dateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="ValidThru" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="OtherInfo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfGenericPersonInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GenericPersonInfo" nillable="true" type="GenericPersonInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericPersonInfo">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="PersonType" type="EntityType" />
      <xs:element minOccurs="0" maxOccurs="1" name="PhysicalPerson" type="PhysicalPersonInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="LegalPerson" type="LegalPersonInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LegalPersonInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="TaxCodeOrHandelsRegNr" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="NameUkr" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Address" type="LocationInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="ResidenceCountry" type="CountryInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="Registrar" type="RegistrarAuthority" />
      <xs:element minOccurs="0" maxOccurs="1" name="RegisteredDateID" type="LPRegisteredDateRecordId" />
      <xs:element minOccurs="0" maxOccurs="1" name="RepresentedBy" type="GenericPersonID" />
      <xs:element minOccurs="0" maxOccurs="1" name="Equity" type="CurrencyAmount" />
      <xs:element minOccurs="0" maxOccurs="1" name="PrincipalActivities" type="ArrayOfEconomicActivityType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LPRegisteredDateRecordId">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="RegisteredDate" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="RegistryRecordId" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfEconomicActivityType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EconomicActivityType" nillable="true" type="EconomicActivityType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EconomicActivityType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="KVEDCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="KVEDActivityName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ActivitySelfName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>