SignOwn/XSDs/SecondaryMarketSharesPurchaseInfo.uk-UA.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SecondaryMarketSharesPurchaseInfo" nillable="true" type="SecondaryMarketSharesPurchaseInfo" />
  <xs:complexType name="SecondaryMarketSharesPurchaseInfo">
    <xs:annotation>
      <xs:documentation>Інформація про намір щодо придбання акцій (паїв) банку на вторинному ринку 
            та/або стосовно правочинів щодо набуття (збільшення) опосередкованої участі 
            в банку (крім набуття істотної участі в результаті передавання особі права 
            голосу або незалежно від формального володіння)</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="IPOSharesPurchaseInfo">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="Asset" type="GenericPersonID" displayName="Актив, що набувається" description="Банк або ж юр.особа - власник участі в банку (прямої чи опосередкованої)" field_order="1">
            <xs:annotation>
              <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="PreviousOwner" type="GenericPersonID" displayName="Попередній власник" description="Власник, від якого переходитиме власність" field_order="2">
            <xs:annotation>
              <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="LegalTransaction" type="LegalTransactionInfo" displayName="Правочин" description="Інформація про відповідний правочин" field_order="3">
            <xs:annotation>
              <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="SharesPct" type="xs:decimal" type_ukr="десяткове число, у т.ч. дрібне" displayName="%, що набувається" description="Відсоток у статутному капіталі юридичної особи або банку, який придбавається" field_order="4">
            <xs:annotation>
              <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="NominalSharesValue" type="CurrencyAmount" displayName="Номінальна вартість" description="Загальна номінальна вартість акцій (часток, паїв), які придбаваються" field_order="5">
            <xs:annotation>
              <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="ActualSharesPrice" type="CurrencyAmount" displayName="Ціна реальної угоди" description="Ціна акцій (часток, паїв), які придбаваються ( Може зазначатися ціна, яка попередньо погоджена сторонами відповідно до проекту договору купівлі-продажу акцій банку ...)" field_order="6">
            <xs:annotation>
              <xs:documentation>ОБОВ'ЯЗКОВЕ ПОЛЕ!</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:include schemaLocation="IPOSharesPurchaseInfo.uk-UA.xsd" />
  <xs:include schemaLocation="CurrencyAmount.uk-UA.xsd" />
  <xs:include schemaLocation="NotifyPropertyChangedBase.uk-UA.xsd" />
  <xs:include schemaLocation="LegalTransactionPartyInfo.uk-UA.xsd" />
  <xs:include schemaLocation="GenericPersonID.uk-UA.xsd" />
  <xs:include schemaLocation="EntityType.uk-UA.xsd" />
  <xs:include schemaLocation="LegalTransactionPartyRoleType.uk-UA.xsd" />
  <xs:include schemaLocation="LegalTransactionInfo.uk-UA.xsd" />
  <xs:include schemaLocation="LegalTransactionType.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfLegalTransactionPartyInfo.uk-UA.xsd" />
  <xs:include schemaLocation="ArrayOfPaymentDeadlineInfo.uk-UA.xsd" />
  <xs:include schemaLocation="PaymentDeadlineInfo.uk-UA.xsd" />
</xs:schema>