SignOwn/XSDs/SharesAcquisitionInfo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SharesAcquisitionInfo" nillable="true" type="SharesAcquisitionInfo" />
  <xs:complexType name="SharesAcquisitionInfo">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="SharesCount" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="InclVotingSharesCount" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="SharePrice" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="TotalCosts" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>