SignOwn/XSDs/SignatoryInfo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SignatoryInfo" nillable="true" type="SignatoryInfo" />
  <xs:complexType name="SignatoryInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="SignatoryPosition" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="SurnameInitials" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="DateSigned" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>